<div class="sandbox">
  <div class="sandbox-header">
    <div class="header-container">
      <button mat-button class="left" (click)="closePage()" style="margin-top: 14px;">
        <img class="icon" src="../../../assets/icon/times.svg" />
        <span class="text" style="padding: 4px 0px 4px 0px;">CLOSE</span>
      </button>
      <!-- <button mat-button class="right" (click)="uploadConfig()">
        <span class="text">UPLOAD CONFIG FILE</span>
      </button> -->
    </div>
  </div>

  <div class="page-title">
    SANDBOX CONFIGURATION
  </div>

  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step #server label="SERVER" [editable]="false">
      <div *ngIf="stepper.selected == null || stepper.selected == server" class="step-form-wrapper">
        <app-chain-server></app-chain-server>
        <ng-template [ngTemplateOutlet]="sandboxFooter"></ng-template>
      </div>
    </mat-step>
    <mat-step #wallets label="WALLETS" [editable]="false">
      <div *ngIf="stepper.selected == wallets" class="step-form-wrapper">
        <app-chain-wallets></app-chain-wallets>
        <ng-template [ngTemplateOutlet]="sandboxFooter"></ng-template>
      </div>
    </mat-step>
    <mat-step #chain label="CHAIN" [editable]="false">
      <div *ngIf="stepper.selected == chain" class="step-form-wrapper">
        <app-chain-config></app-chain-config>
        <ng-template [ngTemplateOutlet]="sandboxFooter"></ng-template>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  
  <!-- Sandbox footer template -->
  <ng-template #sandboxFooter >
    <div class="sandbox-footer">
      <div class="footer-container">
        <!-- loading-indicator  -->
        <span class="loading-indicator" *ngIf="showLoading">
          <img class="icon" src="../../../assets/icon/spinner.svg" />
          <span style="margin-left:10px;">loading ...</span>  
        </span>
        <!-- generic error indicator -->
        <button mat-button *ngIf="!showLoading && error && error.error_type ==='generic'" class="error-indicator" (click)="scrolToTop()">
          <img class="icon" src="../../../assets/icon/times-circle-solid.svg"/>
          <span class="text">An error occured</span>
        </button>
        <!-- validation error indicator -->
        <button mat-button *ngIf="!showLoading && error && error.error_type ==='validation'" class="error-indicator" (click)="scrollToFirstInvalidControl()">
          <img class="icon" src="../../../assets/icon/times-circle-solid.svg"/>
          <span class="text">Validation Error</span>
        </button>
        <!-- continue btn -->
        <button mat-button (click)="submitCurrentStep()" [disabled]="showLoading" class="attention-button">
          <ng-container *ngIf="stepper.selectedIndex !== stepper.steps?.length-1">
            <span class="text">CONTINUE</span>
            <!-- <img class="icon" src="../../../assets/icon/arrow-right.svg" /> -->
          </ng-container>
          <ng-container *ngIf="stepper.selectedIndex === stepper.steps?.length-1">
            <span class="text">FINISH</span>
            <!-- <img class="icon" src="../../../assets/icon/check.svg"/> -->
          </ng-container>
        </button>
      </div>
    </div>
  </ng-template>
</div>