.sandbox {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .sandbox-header{
    position: fixed;
    top: 0;
    width: 100vw;

    .header-container{
      padding: 16px;
    
      .mat-button{
        line-height: normal;
        padding: 4px 8px;

        &.right{
          float: right;
        }
        
        .icon{ 
          margin-right: 10px;
        }
      }
    }
  }

  .page-title{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .mat-stepper-horizontal {
    margin-left: auto;
    margin-right: auto;
    background-color: unset;
    max-width: 800px;
    width: 100%;
  
    .mat-horizontal-stepper-header-container {
      justify-content: center;
    }
  }

  .sandbox-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    .footer-container{
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      width: 100%;
      text-align: right;
      padding-top: 6px;
      padding-bottom: 6px;

      .loading-indicator{
        display: flex;
        align-items: center;
        float: left;
        margin-left: 24px;
        // margin-top: 8px;
        color: #fff;
        font-size: 12px;
      }

      .error-indicator{
        float: left;
        margin-left: 24px;
        color: #fff;
        font-size: 12px;
        line-height: normal;
        padding: 6px 8px;

        .icon{
          margin-right: 8px;
        }
      }

      ::ng-deep .mat-button{
        margin-right: 24px;

        .mat-button-wrapper {
          .text {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
