<div class="sandbox">
  <div class="sandbox-header">
    <div class="header-container">
      <button mat-button class="left" (click)="closePage()">
        <img class="icon" src="../../../assets/icon/times.svg" />
        <span class="text">CLOSE</span>
      </button>
      <!-- <button mat-button class="right" (click)="uploadConfig()">
        <span class="text">UPLOAD CONFIG FILE</span>
      </button> -->
    </div>
  </div>

  <div class="page-title">
    NEW CHAIN CONFIG
  </div>

  <mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="stepChanged(stepper)">
    <mat-step label="SERVER" [stepControl]="chainServer?.chainServerForm">
      <div class="step-form-wrapper">
        <app-chain-server></app-chain-server>
        <ng-template [ngTemplateOutlet]="sandboxFooter"></ng-template>
      </div>
    </mat-step>
    <mat-step label="WALLETS">
      <div class="step-form-wrapper">
        <app-chain-wallets></app-chain-wallets>
        <ng-template [ngTemplateOutlet]="sandboxFooter"></ng-template>
      </div>
    </mat-step>
    <mat-step label="CHAIN" [stepControl]="chainConfig?.chainConfigForm">
      <div class="step-form-wrapper">
        <app-chain-config></app-chain-config>
        <ng-template [ngTemplateOutlet]="sandboxFooter"></ng-template>
      </div>
    </mat-step>
    <!-- <mat-step label="BAKING">
      <div class="step-form-wrapper">
        <app-chain-baking></app-chain-baking>
        <ng-template [ngTemplateOutlet]="sandboxFooter"></ng-template>
      </div>
    </mat-step>
    <mat-step label="OTHER">
      <div class="step-form-wrapper">
        <app-chain-other></app-chain-other>
        <ng-template [ngTemplateOutlet]="sandboxFooter"></ng-template>
      </div>
    </mat-step> -->
    <mat-step label="FINISH" [stepControl]="chainFinish?.chainFinishForm">
      <div class="step-form-wrapper">
        <app-chain-finish></app-chain-finish>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  
  <!-- Sandbox footer template -->
  <ng-template #sandboxFooter >
    <div class="sandbox-footer">
      <div class="footer-container">
        <button mat-button (click)="nextStep(stepper)" class="attention-button">
          <span class="text">CONTINUE</span>
          <img class="icon" src="../../../assets/icon/arrow-right.svg" />
        </button>
      </div>
    </div>
  </ng-template>
</div>