<div class="flex-column foreground h-100">
  <div class="font-500 margin-left-8 padding-10">PAYOUTS SUMMARY</div>
  <div class="overflow-auto flex-column flex-grow">
    <div class="flex-column border border-rad-2 margin-left-8 margin-right-8 margin-bottom-10 h-100">
      <form *ngIf="formGroup && activeBaker" [formGroup]="formGroup" class="summary-box flex-column padding-8">
        <div *ngIf="ledger" class="ledger-connected font-500 margin-top-5 flex-row align-center">
          LEDGER CONNECTED <span class="margin-left-5"></span>
        </div>
        <div>Baker address</div>
        <div class="foreground-4">{{ activeBaker.hash }}</div>
        <div class="flex-row flex-between">
          <div>Number of delegators</div>
          <div class="margin-right-8">{{ activeBaker.delegators.length }}</div>
        </div>
        <div class="flex-row flex-between">
          <div>Total reward</div>
          <div class="margin-right-8">{{ activeBaker.reward | number: '1.0-6' }} ꜩ</div>
        </div>
        <div class="flex-row flex-between">
          <div>Total rewards to distribute</div>
          <div class="margin-right-8">{{ activeBaker.rewardAfterFee | number: '1.0-6' }} ꜩ</div>
        </div>
        <div class="flex-row flex-between font-600">
          <div>Baker's reward</div>
          <div
            class="margin-right-8">{{ activeBaker.rewardToDistribute - activeBaker.rewardAfterFee | number: '1.0-6' }} ꜩ
          </div>
        </div>
        <mat-form-field *ngIf="activeBaker"
                        (keydown.enter)="applyCommissionFee()"
                        appearance="fill"
                        class="custom-bottom-form-field p-relative w-100 margin-bottom-5">
          <input (blur)="applyCommissionFee()"
                 autocomplete="off"
                 formControlName="commission" matInput type="number">
          <span class="p-absolute commission-fee">Commission fee</span>
          <span class="p-absolute percentage foreground-7"><span class="foreground">%</span>&nbsp;&nbsp;ꜩ</span>
        </mat-form-field>
        <mat-form-field *ngIf="activeBaker"
                        (keydown.enter)="applyTransactionFee()"
                        appearance="fill"
                        class="custom-bottom-form-field p-relative w-100">
          <input (blur)="applyTransactionFee()"
                 autocomplete="off"
                 formControlName="transaction" matInput type="number">
          <span class="p-absolute commission-fee">Transaction fee</span>
          <span class="p-absolute percentage foreground-7">&nbsp;&nbsp;ꜩ</span>
        </mat-form-field>
        <button (click)="openLedgerConnectDialog()" *ngIf="!ledger"
                class="blue-btn border-rad-2 foreground font-600 d-flex align-center flex-center f-12 pointer">
          CONNECT ACCOUNT
        </button>
      </form>
      <div class="flex-grow">
        <app-baking-batch-list [activeBaker]="activeBaker"
                               [ledger]="ledger"></app-baking-batch-list>
      </div>
    </div>
  </div>

</div>
