@import 'layout';
@import 'variables';

.scroll-left,
.scroll-right {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s;
  top: 0;
  height: 35px;
  width: 26px;
  background-color: var(--background-surface-fade-1);
  line-height: 36px;
  text-align: center;

  &:hover {
    background-color: var(--background-surface-fade-2);
  }

  &.hide-btn {
    opacity: 0;
  }
}

.scroll-left {
  left: 0;
  border-right: 1px solid var(--background-surface-fade-1);
  box-shadow: 15px 0 11px 0 var(--background-surface);

  mat-icon {
    transform: rotate(180deg);
  }
}

.scroll-right {
  right: -1px;
  border-left: 1px solid var(--background-surface-fade-1);
  box-shadow: -15px 0 11px 0 var(--background-surface);
}

.table-container {
  min-width: 1735px;

  .row.head {
    grid-template-columns: 175px 110px 70px 75px 90px 150px 160px 150px 140px 160px 90px 60px 70px 135px;
  }

  .row {
    grid-template-columns: 175px 110px 70px 75px 90px 150px 160px 150px 140px 160px 90px 130px 135px;

    > span {
      white-space: nowrap;
      line-height: 36px;
      padding-left: 16px;
    }

    &.head {
      > span {
        user-select: none;

        @include flexRowVertCenter();

        mat-icon {
          transition: 0.2s ease-in-out;
          transform: rotateX(0) translateY(6px);
          opacity: 0;
          margin-left: 2px;
          margin-top: 1px;

          &.show {
            opacity: 1;
            transform: rotateX(0) translateY(0);
          }

          &.flip {
            transform: rotateX(180deg) translateY(0);

            &:not(.show) {
              transform: rotateX(180deg) translateY(6px);
            }
          }
        }

        &:hover, &.active {
          color: var(--foreground);

          mat-icon:not(.show) {
            opacity: 0.5;
            transform: rotateX(0) translateY(0);

            &.flip {
              transform: rotateX(180deg) translateY(0);
            }
          }
        }
      }
    }
  }
}

.tab {
  color: var(--foreground-6);

  &:hover,
  &.active {
    color: var(--foreground);
  }
}

.table-footer {
  background-color: var(--background-surface-fade-2);

  form {
    height: 24px;

    .custom-bottom-form-field {
      max-width: 100%;
      width: 440px;

      .p-absolute {
        right: 6px;
        height: 100%;
      }
    }
  }

  .rectangle-button {
    width: 95px;

    span {
      line-height: 24px;
      color: $foreground-7;
    }

    &:hover span {
      color: $foreground;
    }
  }
}

