<div *ngIf="stateMachine"
     class="table-wrapper font-12 h-100 p-relative border-right">
  <div class="table-virtual-scroll h-100 d-flex flex-column">

    <div class="table-virtual-scroll-header state-machine-header border-remove">
      <span>ID</span>
      <span>ACTION</span>
    </div>

    <div class="table-virtual-scroll-body">
      <div #vsContainer class="virtual-scroll-container state-table h-100 w-100"
           (mousewheel)="pausePlaying()">
        <ng-template vsFor
                     let-event
                     let-position="position"
                     [vsForOf]="stateMachine.actionTable"
                     [initialSelectedIndex]="forceScrollActionIndex"
                     (getItems)="getItems($event)"
                     (startStopDataStream)="startStopDataStream($event)">
          <span class="virtualScrollRow state-machine-row"
                [style.transform]="position !== undefined ? 'translateY(' + position + 'px)' : ''"
                [class.virtualScrollRowEven]="event?.index % 2"
                (click)="selectAction(event)"
                [class.hover]="stateMachine.activeAction?.originalId === event?.originalId">
            <span class="text-white-7">{{ event?.originalId }}</span>
            <span class="text-white">{{ event?.type }}</span>
          </span>
        </ng-template>
      </div>
    </div>
    <div class="d-flex table-virtual-scroll-footer align-center" fxFlex="40px">
      <button class="square-button d-flex flex-center align-center"
              mat-icon-button matTooltip="Scroll to bottom"
              (click)="scrollStart()">
        <mat-icon svgIcon="arrow-bottom" class="icon-12 d-flex"></mat-icon>
      </button>
      <button class="rectangle-button start-stream d-flex flex-center align-center text-white border-remove"
              mat-icon-button matTooltip="Start Streaming"
              [class.inactive]="!stateMachine.actionTable.stream"
              (click)="scrollStart()">
        <mat-icon svgIcon="play-circle" class="icon-14 margin-right-5"></mat-icon>
        <span>LIVE</span>
      </button>
      <button class="rectangle-button stop-stream d-flex flex-center align-center"
              mat-icon-button matTooltip="Stop Streaming"
              [class.inactive]="stateMachine.actionTable.stream"
              (click)="scrollStop()">
        <mat-icon svgIcon="pause-circle" class="icon-14 margin-right-5"></mat-icon>
        <span>PAUSED</span>
      </button>
      <button class="square-button d-flex align-center"
              id="firstPage" matTooltip="First Page"
              (click)="loadFirstPage()"
              [disabled]="stateMachine.actionTable.activePage.id === pageSize">
        <mat-icon svgIcon="arrow-left-stop" class="icon-16"></mat-icon>
      </button>
      <button class="square-button d-flex align-center flex-center"
              id="previousPage" matTooltip="Previous Page"
              (click)="loadPreviousPage()"
              [disabled]="stateMachine.actionTable.activePage.id === pageSize">
        <mat-icon svgIcon="less-than" class="icon-8 d-flex"></mat-icon>
      </button>
      <button class="square-button d-flex align-center flex-center"
              id="nextPage" matTooltip="Next Page"
              (click)="loadNextPage()"
              [disabled]="!stateMachine.actionTable.pages.length || stateMachine.actionTable.activePage.id == stateMachine.actionTable.pages[stateMachine.actionTable.pages.length - 1]">
        <mat-icon svgIcon="greater-than" class="icon-8 d-flex"></mat-icon>
      </button>
      <button class="square-button d-flex align-center"
              id="lastPage" matTooltip="Last Page"
              (click)="loadLastPage()"
              [disabled]="!stateMachine.actionTable.pages.length || stateMachine.actionTable.activePage.id === stateMachine.actionTable.pages[stateMachine.actionTable.pages.length - 1]">
        <mat-icon svgIcon="arrow-right-stop" class="icon-16"></mat-icon>
      </button>
    </div>
  </div>
</div>
