.table-wrapper {

  .table-virtual-scroll-body {
    height: calc(100% - 76px);
  }

  .stop-stream {
    color: rgba(255, 255, 255, 1);

    &:disabled {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
