
.state-table {
  .table-title {
    padding: 20px 10px;
  }

  .action {
    padding: 10px;
    cursor: pointer;

    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover, &.active {
      background-color: #204E8A;
    }
  }

  .payload-view {
    margin-bottom: 100px;
  }
}
