<!--<app-mempool-baking-right-filters fxFlex="72px"></app-mempool-baking-right-filters>-->
<div fxLayout.lt-lg="column" fxLayout.gt-md="row" fxFlex="100">

  <div fxFlex.gt-md="70" fxFlex.lt-lg="50" class="table-container overflow-x-auto overflow-y-hidden d-flex flex-column">
    <div fxFlex="36px" class="row head foreground-7 border-bottom">
      <span (click)="sortTable(tableHead.sort ?? tableHead.name)"
            *ngFor="let tableHead of tableHeads"
            [class.active]="currentSort.sortBy === (tableHead.sort ?? tableHead.name)"
            class="pointer text-uppercase">{{ tableHead.name }}
        <mat-icon [class.flip]="currentSort.sortDirection === 'descending'"
                  [class.show]="currentSort.sortBy === (tableHead.sort ?? tableHead.name)"
                  [svgIcon]="'arrow-up'"
                  class="icon-10 icon-foreground"></mat-icon>
      </span>
    </div>
    <div fxFlex="calc(100% - 36px)">
      <cdk-virtual-scroll-viewport class="border-bottom f-14 h-100 overflow-y-auto overflow-x-hidden"
                                   itemSize="36">
        <div *cdkVirtualFor="let right of state.filteredBakingRights; let i=index; trackBy: trackBakingRight"
             [class.row-even]="i % 2 === 0"
             class="row">
          <span class="foreground-7 text-nowrap truncate">{{ right.address }}</span>
          <span class="truncate p-relative">
            {{ right.nodeId ?? '-' }}
            <span (click)="copyHashToClipboard(right.nodeId, $event)"
                  [cdkCopyToClipboard]="right.nodeId"
                  class="copy-hash p-absolute border-rad-4"
                  matTooltip="Copy hash">
              <mat-icon class="icon-foreground-7 icon-14" svgIcon="copy"></mat-icon>
            </span>
          </span>
          <span [innerHTML]="right.receivedTime | nanoTransform: FIFTY_MS : TWENTY_MS"></span>
          <span [innerHTML]="right.sentTime | nanoTransform: FIFTY_MS : TWENTY_MS"></span>
          <span [innerHTML]="right.getOperationsRecvStartTime | nanoTransform: FIFTY_MS : TWENTY_MS"></span>
          <span [innerHTML]="right.getOperationsRecvEndTime | nanoTransform: FIFTY_MS : TWENTY_MS"></span>
          <span [innerHTML]="right.operationsSendStartTime | nanoTransform: FIFTY_MS : TWENTY_MS"></span>
          <span [innerHTML]="right.operationsSendEndTime | nanoTransform: FIFTY_MS : TWENTY_MS"></span>
          <span>{{ right.responseRate }}</span>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>

  <div fxFlex.gt-md="30" fxFlex.lt-lg="50" fxLayout="column" class="baking-details">
    <div fxFlex="36px" class="tab border-bottom d-flex align-center flex-between padding-left-10">
      <span class="margin-left-10">DETAILS</span>
      <div [class.hidden]="!state.currentDisplayedBlock" [@refreshBlock]="state.currentDisplayedBlock" class="block margin-right-10">
        <span class="foreground-7">CURRENT BLOCK</span>
        {{ state.currentDisplayedBlock ?? '' | spaceNumber }}
      </div>
    </div>
    <app-mempool-baking-rights-details fxFlex="calc(100% - 36px)"></app-mempool-baking-rights-details>
  </div>

</div>
