<div class="redirection-overlay d-flex flex-column font-400">

  <div class="d-flex flex-row align-center">
    <mat-icon svgIcon="arrow-circle-right" class="icon-16"></mat-icon>
    <span class="margin-left-10">Go to {{ date }}</span>
  </div>
  <div class="line"></div>
  <ng-container *ngIf="blockLevel">
    <div class="d-flex flex-row align-center pointer"
         (click)="navigateToExternalURL()">
      <mat-icon svgIcon="tzstats" class="icon-16"></mat-icon>
      <span class="margin-left-10 font-400">TZSTATS <i>(external)</i></span>
    </div>
    <div class="d-flex flex-row align-center pointer"
         (click)="navigate('resources/system')">
      <mat-icon svgIcon="resources" class="icon-16"></mat-icon>
      <span class="margin-left-10 font-400">RESOURCES</span>
    </div>
    <div class="d-flex flex-row align-center pointer"
         [routerLink]="['storage', 'blocks', blockLevel]">
      <mat-icon svgIcon="storage" class="icon-16"></mat-icon>
      <span class="margin-left-10 font-400">STORAGE</span>
    </div>
  </ng-container>
  <div class="d-flex flex-row align-center pointer"
       (click)="navigate('network')">
    <mat-icon svgIcon="peer" class="icon-16"></mat-icon>
    <span class="margin-left-10 font-400">NETWORK</span>
  </div>
  <div class="d-flex flex-row align-center pointer"
       (click)="navigate('logs')">
    <mat-icon svgIcon="logs" class="icon-16"></mat-icon>
    <span class="margin-left-10 font-400">LOGS</span>
  </div>

</div>
