.storage-action th.mat-header-cell.cdk-column-path.mat-column-path {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* width: 20vw;  */
}

.storage-action.mat-cell.cdk-column-lpath.mat-column-path {
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 70px;
}

.storage-action th.mat-header-cell.cdk-column-value.mat-column-value {
    /* text-align: left; */
}

.storage-action .mat-cell.cdk-column-value.mat-column-value {
    /* width: 20vw; */
    /* text-align: left; */
    transform: scale(1, 1);
}

.mat-cell.cdk-column-type.mat-column-type {
    padding-right: 20px !important;
}

.mat-cell.cdk-column-time.mat-column-time {
    /* padding-right: 10px !important; */
}

.mat-cell.cdk-column-path.mat-column-path {
    width: 500px !important;
    padding-right: 10px !important;
}

.mat-cell.cdk-column-value.mat-column-value {
    /* text-align: right; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 85px !important;
    max-width: 85px !important;
}

th.mat-header-cell.cdk-column-value.mat-column-value {
    /* text-align: right; */
}