<!-- <app-storage-search>
</app-storage-search> -->

<div class="storage-action-block-link">
  <span>
    Storage: {{ virtualScrollItems?.debug?.totalTimeStorage / 1000 | number:'1.3-3' }} ms |
    Protocol: {{ virtualScrollItems?.debug?.totalTimeProtocol / 1000 | number: '1.3-3' }} ms |
    Hash:
  </span>
  <span mat-button style="font-weight: 300;max-width: 450px;min-width: 450px;"> <!--matTooltip="Block Hash" matTooltipPosition="above" routerLink="/storage/{{block}}" -->
    {{ block }} |
  </span>
  <span>Number of actions: {{ virtualScrollItems?.debug?.numberOfActions }} </span>
</div>

<div class="storage-action-container">

  <!--
  <div class="storage-action-filter">
      <mat-form-field style="width: 800px;">
          <mat-chip-list #chipList aria-label="Filter">
              <mat-chip *ngFor="let filter of filters" (removed)="remove(filter)">
                  {{ filter }}
                  <mat-icon matChipRemove>clear</mat-icon>
              </mat-chip>

              <input #storageActionInput [formControl]="storageActionInputForm" [matAutocomplete]="auto"
                  [matChipInputFor]="chipList" (matChipInputTokenEnd)="add($event)">

              <button mat-icon-button (click)="openFilter()">
                  <mat-icon>add</mat-icon>
              </button>

          </mat-chip-list>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option>
                  GET
              </mat-option>
              <mat-option>
                  SET
              </mat-option>
              <mat-option>
                  MEM
              </mat-option>
              <mat-option>
                  DEL
              </mat-option>
          </mat-autocomplete>
      </mat-form-field>
  </div>
  -->

  <div class="table-virtual-scroll">
    <div class="filters-container storage-filters">
    </div>

    <div class="table-virtual-scroll-header storage-action-header">
      <span>TYPE</span>
      <span>TIME (μs)</span>
      <span>PATH</span>
    </div>

    <div class="table-virtual-scroll-body">

      <div class="virtual-scroll-container" [class.storage-block-filters-expanded]="filtersState.open">
        <ng-template vsForFromTop [vsForOf]="virtualScrollItems" let-event let-position="position"
                     (getItems)="getItems($event)" (startStopDataStream)="startStopDataStream($event)">
          <span class="virtualScrollRow storage-action-row"
                [style.transform]="position !== undefined ? 'translate(0px,' + position + 'px)' : ''"
                [class.virtualScrollRowEven]="event?.index % 2" (click)="event ? tableMouseEnter(event) : null"
                [class.hover]="event?.start_time && storageActionItem?.id===event?.id"
                [class.used]="event?.start_time">

            <span class="item-loading" [class.displayed]="!event?.start_time">&nbsp;</span>

            <span class="truncate">{{event?.type }}</span>

            <div *ngIf="event?.start_time" class="truncate storage-action-time" style="text-align:left;width:80px;">
              <span *ngIf="(event?.timeStorage<=100)">
                {{event?.timeStorage }}
              </span>
              <span style="color:#8b0000" *ngIf="(event?.timeStorage>100 && event?.timeStorage<1000)">
                {{event?.timeStorage }}
              </span>
              <span style="color:red" *ngIf="(event?.timeStorage>=1000)">
                {{event?.timeStorage }}
              </span>
              <span *ngIf="viewLast=='block'">|
                <span *ngIf="(event?.timeProtocol<=100)">
                  {{event?.timeProtocol }}
                </span>
                <span style="color:darkred"
                      *ngIf="(event?.timeProtocol>100 && event?.timeProtocol<1000)">
                  {{event?.timeProtocol }}
                </span>
                <span style="color:red" *ngIf="(event?.timeProtocol>=1000)">
                  {{event?.timeProtocol }}
                </span>
              </span>
            </div>

            <span class="truncate">
              <span [style.color]="event?.color">{{event?.category}}</span>
              <span *ngIf="event && event?.category !='contracts'">{{event?.path}}</span>
              <span *ngIf="event && event?.category =='contracts'">{{event?.path}}</span>
              <!--routerLink="/storage/{{event?.address}}"-->
              <span [style.color]="event?.color"
                    *ngIf="event?.lastKey">/{{ event?.lastKey }}</span>
            </span>
          </span>
        </ng-template>
      </div>

      <div class="action-table-detail" id="virtualScrollTableDetails">
        <mat-tab-group>
          <mat-tab *ngIf="storageActionItem?.value_as_json">
            <ng-template mat-tab-label>
              <span>JSON</span>
            </ng-template>
            <ng-template matTabContent>
              <ngx-json-viewer
                *ngIf="isJsonObjectOrArray(storageActionItem?.value_as_json) && storageActionItem?.value_as_json; else jsonElseBlock"
                [json]="parseJson(storageActionItem?.value_as_json)" [expanded]="false">
              </ngx-json-viewer>
              <ng-template #jsonElseBlock>
                <div class="non-json-container">
                  <span>{{parseJson(storageActionItem?.value_as_json)}}</span>
                </div>
              </ng-template>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="storageActionItem?.value && storageActionItem?.value.length">
            <ng-template mat-tab-label>
              <span>Value</span>
            </ng-template>
            <ng-template matTabContent>
<!--              <ngx-json-viewer-->
<!--                *ngIf="isJsonObjectOrArray(storageActionItem?.value) && storageActionItem?.value; else valueElseBlock"-->
<!--                [json]="parseJson(storageActionItem?.value)" [expanded]="false">-->
<!--              </ngx-json-viewer>-->
<!--              <ng-template #valueElseBlock>-->
<!--                <div class="non-json-container">-->
<!--                  <span>{{parseJson(storageActionItem?.value)}}</span>-->
<!--                </div>-->
<!--              </ng-template>-->
              <div fxLayout="column" class="non-json-container hex-values-container">
                <span *ngFor="let hexRow of storageActionItem?.value" class="hex-row">
                  <span *ngFor="let hexItem of hexRow" class="hex-value">{{hexItem}}</span>
                </span>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="storageActionItem?.path">
            <ng-template mat-tab-label>
              <span>Path</span>
            </ng-template>
            <ng-template matTabContent>
              <div class="non-json-container">
                <span>{{storageActionItem.path}}</span>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div class="table-virtual-scroll-footer">
      <span>
        <button mat-icon-button matTooltip="Scroll to top" (click)="scrollToEnd()">
          <mat-icon style="transform: rotate(270deg)">last_page</mat-icon>
        </button>
      </span>
    </div>
  </div>

</div>


<!--
    <div *ngFor="let block of storageActionBlocks">
        <br/><br/>{{ block | json }}
        <li *ngFor="let id of storageAction.ids[block]">
            <span>
                {{storageAction.entities[id]?.category}} {{storageAction.entities[id]?.key}}  <b>{{storageAction.entities[id]?.lastKey}}</b> - <i> {{storageAction.entities[id]?.json}} </i>
            </span>
        </li>
    </div>
-->
