<div class="d-flex flex-column h-100 w-100"
     *ngIf="storageStats$ | async as storageStats">
  <div class="storage-toolbar flex-end d-flex">
    <div class="border-bottom flex-grow d-flex align-center">
      <div class="text-white-4 font-12 context">Current context: {{ storageResourcesContext }}</div>
      <mat-icon *ngIf="displayContextSwitcher"
                (click)="getStorageStatistics()"
                svgIcon="arrow-around"
                class="icon-20 icon-white-4 pointer node-switcher margin-left-10"></mat-icon>
    </div>
    <div class="toolbar-right border-bottom d-flex flex-between align-center text-white border-left padding-10"
         [class.expanded]="expandedPanel"
         (click)="togglePanel()">
      <span>Overview</span>
      <mat-icon svgIcon="arrow-expanded" class="icon-14 pointer"></mat-icon>
    </div>
  </div>
  <div class="storage-container p-relative d-flex overflow-hidden"
       [class.expanded]="expandedPanel">
    <div class="operation-list overflow-y-auto"
         fxLayout="column"
         fxLayoutAlign="start stretch"
         fxLayoutGap="10px">

      <div class="operation"
           fxLayout="column"
           fxLayoutAlign="start stretch">
        <div fxFlex="grow">
          <div class="graph-list"
               fxLayout="row"
               fxLayoutAlign="space-between">
            <app-storage-resources-mini-graph #miniGraph
                                              [operationName]="'COMMIT'"
                                              [graphData]="storageStats.commitContext"
                                              [isMainGraph]="true"></app-storage-resources-mini-graph>
            <app-storage-resources-mini-graph [operationName]="'CHECKOUT'"
                                              [graphData]="storageStats.checkoutContext"
                                              [isMainGraph]="true"></app-storage-resources-mini-graph>

            <ng-container *ngIf="miniGraphRef"> <!--PLACEHOLDERS FOR SYMMETRICAL VIEW-->
              <span [style.width.px]="miniGraphRef.nativeElement.offsetWidth"></span>
              <span [style.width.px]="miniGraphRef.nativeElement.offsetWidth"></span>
              <span [style.width.px]="miniGraphRef.nativeElement.offsetWidth"></span>
              <span [style.width.px]="miniGraphRef.nativeElement.offsetWidth"></span>
            </ng-container>
          </div>
        </div>
      </div>

      <div *ngFor="let operation of storageStats.operationsContext; let i=index"
           class="operation"
           fxLayout="column"
           fxLayoutAlign="start stretch">
        <div fxFlex="28px" class="slice-header">
          <span class="text-uppercase">{{ operation.root | replaceCharacter: '_': ' '}}</span>
          <span class="total-time">
        {{ operation.actionsCount | thousandTransform }}<span class="grayish"> calls</span>
        &nbsp;·&nbsp;
            {{ operation.totalTime | timeTransform: false: false: true }}<span class="grayish"> total duration </span>
        <span class="grayish">(</span>{{ operation.totalTimeRead | timeTransform: false: false: true }}<span
            class="grayish"> read, </span>
            {{ operation.totalTimeWrite | timeTransform: false: false: true }}<span class="grayish"> write)</span>
      </span>
        </div>
        <div fxFlex="grow">
          <div class="graph-list"
               fxLayout="row"
               fxLayoutAlign="space-between">
            <app-storage-resources-mini-graph [operationName]="'MEM'"
                                              [graphData]="operation.mem"
                                              [isMainGraph]="true"></app-storage-resources-mini-graph>
            <app-storage-resources-mini-graph [operationName]="'MEM TREE'"
                                              [graphData]="operation.memTree"></app-storage-resources-mini-graph>
            <app-storage-resources-mini-graph [operationName]="'FIND'"
                                              [graphData]="operation.find"></app-storage-resources-mini-graph>
            <app-storage-resources-mini-graph [operationName]="'FIND TREE'"
                                              [graphData]="operation.findTree"></app-storage-resources-mini-graph>
            <app-storage-resources-mini-graph [operationName]="'ADD'"
                                              [graphData]="operation.add"></app-storage-resources-mini-graph>
            <app-storage-resources-mini-graph [operationName]="'ADD TREE'"
                                              [graphData]="operation.addTree"></app-storage-resources-mini-graph>
            <app-storage-resources-mini-graph [operationName]="'REMOVE'"
                                              [graphData]="operation.remove"></app-storage-resources-mini-graph>
          </div>
        </div>
      </div>
    </div>
    <div class="side-panel overflow-y-auto p-absolute h-100 padding-horizontal-10 padding-bottom-10 border-left">
      <app-storage-resources-overview [data]="storageStats.totalContext"
                                      [sliceNames]="storageStats.contextSliceNames"></app-storage-resources-overview>
    </div>
  </div>
</div>
