<div class="payload-view font-12 d-flex flex-column h-100"
     *ngIf="stateMachine$ | async as stateMachine">
  <div class="tabs padding-vertical-10">
    <span *ngFor="let tab of tabs"
          class="tab text-white-6 margin-left-10 pointer" [class.active]="tab === activeTab"
          (click)="activeTab = tab">
      {{ tab }}
    </span>
  </div>
  <div class="padding-left-10 padding-top-10 overflow-auto" fxFlex="calc(100% - 34px)">
    <ng-container [ngSwitch]="activeTab">
      <div *ngSwitchCase="'CONTENT'">
        <tezedge-ngx-json-viewer *ngIf="currentAction.content; else noContent"
                                 [json]="currentAction.content"
                                 [expanded]="false"></tezedge-ngx-json-viewer>
        <ng-template #noContent>No content</ng-template>
      </div>
      <div *ngSwitchCase="'STATE'">
        <tezedge-ngx-json-viewer [json]="currentAction.state"
                                 [expanded]="false"></tezedge-ngx-json-viewer>
      </div>
      <div *ngSwitchCase="'DIFFS'">
        <ngx-object-diff [obj]="stateDifferences"></ngx-object-diff>
      </div>
    </ng-container>
  </div>
</div>
