<ng-container *ngIf="systemResources$ | async as resource">
  <div fxFlex="grow"
       fxLayout="column"
       fxLayout.gt-md="row-reverse"
       fxLayoutAlign="start stretch"
       class="resources-container"
       *ngIf="resource?.cpu.series.length">
    <div class="info-container"
         fxFlex.gt-md="20vw"
         fxLayout="column">
      <div class="info-content-container"
           fxFlex="grow"
           fxLayout="column"
           fxLayoutAlign="space-between">
        <div class="additional-info h-100"
             [class.fade]="resource"
             [style.transition-delay.s]="0.2">
          <app-system-resources-panel class="h-100 overflow-y-auto d-block"
                                      [colors]="resource.colorScheme.domain"></app-system-resources-panel>
        </div>
      </div>
    </div>
    <div fxFlex.gt-md="calc(100% - 20vw)"
         fxFlex.lt-lg="grow"
         fxLayout="column"
         fxLayoutAlign="start stretch"
         fxLayoutGap="10px"
         class="centered-container">

      <app-system-resources-graph [chartData]="resource.cpu.series"
                                  [transitionDelay]="0.2"
                                  [labelList]="resource.cpu.labels"
                                  [resourceType]="'cpu'"
                                  [graphTitle]="'CPU'"
                                  [rotatedLabel]="'&nbsp;Load&nbsp;'"
                                  [yAxisTickFormatting]="yAxisPercentageConversion"
                                  [xTicksValues]="resource.xTicksValues"
                                  [colorScheme]="resource.colorScheme"
                                  (mouseenter)="toggleActiveSummary('cpu', resource.cpu)"
                                  [formattingType]="resource.cpu.formattingType"></app-system-resources-graph>

      <app-system-resources-graph [chartData]="resource.memory.series"
                                  [transitionDelay]="0.4"
                                  [labelList]="resource.memory.labels"
                                  [resourceType]="'memory'"
                                  [graphTitle]="'RAM'"
                                  [rotatedLabel]="'Usage'"
                                  [yAxisTickFormatting]="yAxisMegaBytesConversion"
                                  [xTicksValues]="resource.xTicksValues"
                                  [colorScheme]="resource.colorScheme"
                                  (mouseenter)="toggleActiveSummary('memory', resource.memory)"
                                  [formattingType]="resource.memory.formattingType"></app-system-resources-graph>

      <app-system-resources-graph [chartData]="resource.storage.series"
                                  [transitionDelay]="0.6"
                                  [labelList]="resource.storage.labels"
                                  [resourceType]="'storage'"
                                  [graphTitle]="'STORAGE'"
                                  [rotatedLabel]="'&nbsp;&nbsp;Size&nbsp;&nbsp;'"
                                  [yAxisTickFormatting]="yAxisGigaBytesConversion"
                                  [xTicksValues]="resource.xTicksValues"
                                  [formattingType]="resource.storage.formattingType"
                                  (mouseenter)="toggleActiveSummary('storage', resource.storage)"
                                  [colorScheme]="resource.colorScheme"></app-system-resources-graph>

      <app-system-resources-graph [chartData]="resource.network.series"
                                  [transitionDelay]="0.8"
                                  [labelList]="resource.network.labels"
                                  [resourceType]="'network'"
                                  [graphTitle]="'NETWORK'"
                                  [formattingType]="resource.network.formattingType"
                                  [rotatedLabel]="'Times'"
                                  [yAxisTickFormatting]="yAxisMegaBytesConversion"
                                  [xTicksValues]="resource.xTicksValues"
                                  (mouseenter)="toggleActiveSummary('network', resource.network)"
                                  [colorScheme]="resource.colorScheme"></app-system-resources-graph>

      <app-system-resources-graph [chartData]="resource.io.series"
                                  [transitionDelay]="1"
                                  [labelList]="resource.io.labels"
                                  [resourceType]="'io'"
                                  [graphTitle]="'IO'"
                                  [formattingType]="resource.io.formattingType"
                                  [rotatedLabel]="'Times'"
                                  [yAxisTickFormatting]="yAxisMegaBytesConversion"
                                  [xTicksValues]="resource.xTicksValues"
                                  (mouseenter)="toggleActiveSummary('io', resource.io)"
                                  [colorScheme]="resource.colorScheme"></app-system-resources-graph>

    </div>
  </div>
</ng-container>
