<div fxFlex="grow"
     fxLayout="column"
     fxLayout.gt-md="row"
     fxLayoutAlign="start stretch"
     class="resources-container"
     *ngIf="systemResource?.cpu?.series.length">
  <div fxFlex.gt-md="calc(100% - 20vw)"
       fxLayout="column"
       fxLayoutAlign="start stretch"
       fxLayoutGap="10px"
       class="centered-container">
    <app-system-resources-graph [chartData]="systemResource.cpu.series"
                                [transitionDelay]="0.3"
                                [labelList]="systemResource.cpu.labels"
                                [resourceType]="'cpu'"
                                [graphTitle]="'CPU'"
                                [rotatedLabel]="'&nbsp;Load&nbsp;'"
                                [yAxisTickFormatting]="yAxisPercentageConversion"
                                [xTicksValues]="systemResource.xTicksValues"
                                [colorScheme]="systemResource.colorScheme"
                                [active]="activeSummary === 'cpu'"
                                [formattingType]="systemResource.cpu.formattingType"></app-system-resources-graph>

    <app-system-resources-graph [chartData]="systemResource.memory.series"
                                [transitionDelay]="0.4"
                                [labelList]="systemResource.memory.labels"
                                [resourceType]="'memory'"
                                [active]="activeSummary === 'memory'"
                                [graphTitle]="'RAM'"
                                [rotatedLabel]="'Usage'"
                                [yAxisTickFormatting]="yAxisMegaBytesConversion"
                                [xTicksValues]="systemResource.xTicksValues"
                                [colorScheme]="systemResource.colorScheme"
                                [formattingType]="systemResource.memory.formattingType"></app-system-resources-graph>

    <app-system-resources-graph [chartData]="systemResource.io.series"
                                [transitionDelay]="0.8"
                                [labelList]="systemResource.io.labels"
                                [active]="activeSummary === 'io'"
                                [resourceType]="'io'"
                                [graphTitle]="'STORAGE IO'"
                                [formattingType]="systemResource.io.formattingType"
                                [rotatedLabel]="'Traffic'"
                                [yAxisTickFormatting]="yAxisMegaBytesConversion"
                                [xTicksValues]="systemResource.xTicksValues"
                                [colorScheme]="systemResource.colorScheme"></app-system-resources-graph>

    <app-system-resources-graph [chartData]="systemResource.network.series"
                                [transitionDelay]="1"
                                [labelList]="systemResource.network.labels"
                                [active]="activeSummary === 'network'"
                                [resourceType]="'network'"
                                [graphTitle]="'NETWORK IO'"
                                [formattingType]="systemResource.network.formattingType"
                                [rotatedLabel]="'Traffic'"
                                [yAxisTickFormatting]="yAxisMegaBytesConversion"
                                [xTicksValues]="systemResource.xTicksValues"
                                [colorScheme]="systemResource.colorScheme"></app-system-resources-graph>

    <app-system-resources-graph [chartData]="systemResource.storage.series"
                                [transitionDelay]="0.6"
                                [labelList]="systemResource.storage.labels"
                                [active]="activeSummary === 'storage'"
                                [resourceType]="'storage'"
                                [graphTitle]="'STORAGE SIZE'"
                                [rotatedLabel]="'&nbsp;&nbsp;Size&nbsp;&nbsp;'"
                                [yAxisTickFormatting]="yAxisGigaBytesConversion"
                                [xTicksValues]="systemResource.xTicksValues"
                                [formattingType]="systemResource.storage.formattingType"
                                [colorScheme]="systemResource.colorScheme"></app-system-resources-graph>
  </div>

  <div class="info-container"
       fxFlex.gt-md="20vw"
       fxLayout="column">
    <div class="info-content-container"
         fxFlex="grow"
         fxLayout="column"
         fxLayoutAlign="space-between">
      <div class="additional-info h-100"
           [class.fade]="systemResource"
           [style.transition-delay.s]="0.2">
        <app-system-resources-panel class="h-100 overflow-y-auto d-block"
                                    [colors]="systemResource.colorScheme.domain"></app-system-resources-panel>
      </div>
    </div>
  </div>
</div>
