<div class="active-resources"
     fxFlex="30px"
     fxLayoutAlign="start center"
     *ngIf="activeResource">
  <div class="pointer"
       fxLayoutAlign="center center"
       *ngIf="activeResource.name.executableName !== 'root'"
       (click)="zoomToNode(breadcrumbs[breadcrumbs.length - 2])">
    <mat-icon svgIcon="arrow-left"
              class="icon-14 icon-foreground-7"></mat-icon>
  </div>
  <span class="foreground-7 font-500">{{ activeResource.name.executableName }}</span>
  <span class="foreground-4">&nbsp;- {{ activeResource.value }} mb</span>
</div>

<div #treeMapChart
     [class.hidden]="!activeResource"
     fxFlex.gt-sm="400px"
     fxFlex.lt-md="250px"
     class="tree-map">
</div>

<div *ngIf="breadcrumbs.length"
     fxLayoutAlign="start center"
     fxLayoutGap="4px"
     fxLayout="row"
     #breadcrumbsRef
     class="breadcrumbs">
  <ng-container *ngFor="let breadcrumb of breadcrumbs">
    <div class="breadcrumb text-nowrap"
         (click)="zoomToNode(breadcrumb)">{{ breadcrumb.name.executableName }}</div>
    <div class="d-flex">
      <mat-icon class="icon-10 icon-foreground-4"
                svgIcon="chevron-right"></mat-icon>
    </div>
  </ng-container>
</div>

<table class="memory-table overflow-y-auto"
       fxFlex.gt-sm="calc(100% - 30px - 400px - 36px)"
       fxFlex.lt-md="calc(100% - 30px - 250px - 36px)"
       *ngIf="activeResource">
  <thead>
    <tr>
      <th>%</th>
      <th>Percentage</th>
      <th>Executable</th>
      <th>Size</th>
      <th>Children</th>
      <th>Function</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let operation of activeResource.children"
        [class.non-clickable]="!operation.children.length"
        (click)="zoomToNode(operation)">
      <td>{{ operation.value / activeResource.value * 100 | number: '1.0-1' }}%</td>
      <td>
        <div class="progress-background">
          <div class="progress-background"
               [class.red]="operation.value / activeResource.value * 100 > 50"
               [class.yellow]="operation.value / activeResource.value * 100 > 10"
               [style.width.%]="operation.value / activeResource.value * 100"></div>
        </div>
      </td>
      <td class="text-nowrap">
        <div class="truncate"
             fxLayoutAlign="start center"
             fxLayoutGap="8px"
             fxLayout="row">
          <mat-icon svgIcon="folder"
                    class="icon-16"
                    [class.red]="operation.color === '#793541'"
                    [class.light]="operation.color === '#555558'"
                    [class.gray]="operation.color === '#3f3f43'"
                    [class.dark]="operation.color === '#2a2a2e'">
          </mat-icon>
          <span>{{ operation.name.executableName }}</span>
        </div>
      </td>
      <td>{{ operation.value }} mb</td>
      <td>{{ operation.children.length }}</td>
      <td class="truncate">
        <div>{{ operation.name.functionName || '-' }}</div>
      </td>
    </tr>
  </tbody>
</table>
