:host {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  font-size: 12px;
}

.active-resources {
  padding-left: 1px;

  .icon-14 {
    margin-right: 8px;
  }
}

.tree-map {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.breadcrumbs {
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: auto;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  line-height: 12px;
  color: #0A84FF;

  &::-webkit-scrollbar-track {
    background-color: #2a2a2e;
  }

  .breadcrumb {
    cursor: pointer;

    &:not(:last-child) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  > :nth-last-child(2) {
    color: #fff;
    pointer-events: none;
    padding-right: 20px;
  }

  > :last-child {
    display: none;
  }
}

.memory-table {
  height: calc(100% - 24px - 400px - 36px);
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  border-collapse: collapse;

  tr {
    height: 32px;

    th {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 400;
      padding: 0 0 0 16px;
      text-transform: uppercase;
      text-align: left;
    }
  }

  tbody {
    display: table;
    width: 100%;

    tr {

      &:nth-child(odd) {
        background: rgba(255, 255, 255, 0.1);
      }

      &:not(.non-clickable) {
        cursor: pointer;

        &:hover {
          background-color: #204E8A;
        }
      }
    }
  }

  tr > td, tr > th {
    &:first-child {
      min-width: 55px;
      width: 55px;
    }

    &:nth-child(2) {
      min-width: 260px;
      width: 260px;
    }

    &:nth-child(3) {
      min-width: 200px;
      max-width: 200px;
    }

    &:nth-child(4) {
      min-width: 90px;
      max-width: 90px;
    }

    &:nth-child(5) {
      min-width: 65px;
      max-width: 65px;
    }

    &:last-child {
      width: 100%;
      max-width: 100%;
    }
  }

  td {
    padding-left: 16px;
    white-space: nowrap;

    ::ng-deep mat-icon {
      &.purple svg path {
        fill: #bf5af2;
        stroke: #bf5af2;
      }

      &.yellow svg path {
        fill: #ffd60a;
        stroke: #ffd60a;
      }

      &.violet svg path {
        fill: #5e5ce6;
        stroke: #5e5ce6;
      }

      &.green svg path {
        fill: #32d74b;
        stroke: #32d74b;
      }

      &.red svg path {
        fill: #ff2d55;
        stroke: #ff2d55;
      }
    }

    .progress-background {
      height: 2px;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.1);
      width: 236px;

      .progress-background {
        min-width: 4px;

        &.yellow {
          background-color: #FF9F0A;
        }

        &.red {
          background-color: #FF2D55;
        }
      }
    }
  }
}
