<svg:g>
  <svg:rect #tooltipTrigger
            class="tooltip-area pointer"
            [attr.x]="0"
            y="0"
            [attr.width]="dims.width"
            [attr.height]="dims.height"
            style="opacity: 0"
            (mousemove)="mouseMove($event)"
            (mouseleave)="hideTooltip()"
            (mouseenter)="showTooltip()"
            (click)="attachOverlay($event)"/>
  <ng-template #defaultTooltipTemplate
               let-model="model">
    <xhtml:div class="area-tooltip-container">
      <xhtml:div *ngFor="let tooltipItem of model"
                 class="tooltip-item">
        <xhtml:span class="tooltip-item-color"
                    [style.background-color]="tooltipItem.color"></xhtml:span>
        {{ getToolTipText(tooltipItem) }}
      </xhtml:div>
    </xhtml:div>
  </ng-template>

  <svg:g *ngIf="horizontalMarker" class="pointer-none">
    <svg:rect class="horizontal-marker"
              x="0"
              [attr.y]="dims.height - (horizontalMarker / 100 * dims.height)"
              [attr.height]="1"
              [attr.width]="dims.width"/>
  </svg:g>
  <svg:g *ngIf="verticalMarkerIndex" class="pointer-none">
    <svg:rect class="vertical-marker"
              [attr.x]="verticalMarkerX"
              y="0"
              [attr.height]="dims.height"
              [attr.width]="1"/>
  </svg:g>

  <svg:g ngx-tooltip
         [tooltipDisabled]="tooltipDisabled"
         [tooltipPlacement]="tooltipPlacement"
         [tooltipType]="'tooltip'"
         [tooltipSpacing]="15"
         [tooltipTemplate]="tooltipTemplate ? tooltipTemplate : defaultTooltipTemplate"
         [tooltipContext]="anchorValues"
         [tooltipImmediateExit]="true">
    <svg:rect class="tooltip-anchor"
              [attr.x]="anchorPos"
              y="0"
              [attr.width]="1"
              [attr.height]="dims.height"
              [style.opacity]="anchorOpacity"
              [style.pointer-events]="'none'"/>
    <svg:rect *ngIf="routedTooltipAnchorX"
              class="routed-tooltip-anchor"
              [attr.x]="routedTooltipAnchorX"
              y="0"
              [attr.width]="1"
              [attr.height]="dims.height"
              [style.opacity]="1"
              [style.pointer-events]="'none'"/>
  </svg:g>
  <svg:g *ngFor="let mark of marks"
         [matTooltip]="'Block ' + mark.blockLevel + ' was applied in round ' + mark.round"
         matTooltipPosition="above"
         [attr.transform]="'translate(' + mark.x + ',0)'"
         [style.pointer-events]="'all'">
    <svg:polygon points="-5 0, 5 0, 0 6"
                 class="red-mark pointer"/>
  </svg:g>
</svg:g>
