<!--
  THIS COMPONENT WAS USED IN APP.COMPONENT.HTML, WE SHOULDN'T IMPORT SANDBOX MODULE THERE
  MOVE COMPONENT TO A CORE MODULE INSTEAD
-->

<div style="display:flex; flex-direction: row;">

    <!-- <div class="node-info">
        <span class="label"> LEVEL </span>
        <span class="value"> {{ nodeHeaderLevel }} </span>
    </div> -->

    <!-- <button mat-button (click)="sandboxWalletInit()">
        INIT WALLET
    </button>

    <button mat-button (click)="sandboxActivateProtocol()">
        ACTIVATE PROTOCOL
    </button> -->

    <!-- <button mat-button (click)="sandboxBakeBlock()">
        BAKE BLOCK
    </button> -->
<!--
    <button mat-button (click)="sandboxNodeStop()" >
        STOP SANDBOX NODE
    </button> -->
</div>
