.redirection-overlay {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  background: #2A2A2E;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  .line {
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
  }

  > div:not(.line) {
    padding: 7px 10px;
  }

  .pointer:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }

}
