<div class="redirection-overlay d-flex flex-column font-400">

  <div class="d-flex flex-row align-center">
    <mat-icon svgIcon="arrow-circle-right" class="icon-16"></mat-icon>
    <span class="margin-left-10">Go to {{ date }}</span>
  </div>
  <div class="line"></div>
  <div class="d-flex flex-row align-center pointer"
       (click)="navigate('network')">
    <mat-icon svgIcon="peer" class="icon-16"></mat-icon>
    <span class="margin-left-10 font-400">NETWORK</span>
  </div>
  <div class="d-flex flex-row align-center pointer"
       (click)="navigate('logs')">
    <mat-icon svgIcon="logs" class="icon-16"></mat-icon>
    <span class="margin-left-10 font-400">LOGS</span>
  </div>

</div>
