.row {
  display: grid;
  grid-template-columns: 80px 270px 1fr;

  > span {
    line-height: 36px;
    text-align: left;
    font-weight: 300;
    padding-left: 10px;
  }
}

.contracts-table {
  height: calc(100% - 32px);

  .action {
    .id {
      color: var(--foreground-6);
    }
  }
}
