@import 'variables';

.row {
  display: grid;
  grid-template-columns: 1fr 120px 100px 100px 200px 130px 130px;

  > span {
    line-height: 36px;
    padding-left: 10px;
  }

  &:hover {
    .foreground-7 {
      color: $foreground !important;
    }
  }
}
