<div fxFlex="440px" class="f-12 h-100 padding-right-10">
  <div class="row foreground-7">
    <span>ID</span>
    <span>CONTRACT</span>
    <span>CALLS</span>
  </div>
  <div class="contracts-table overflow-auto">
    <div *ngFor="let contract of contractList"
         (click)="selectContract(contract)"
         [class.active]="activeContract === contract"
         class="action row pointer">
      <span class="foreground-6">{{ contract.id }}</span>
      <span class="foreground">{{ contract.hash }}</span>
      <span class="foreground">{{ contract.calls }}</span>
    </div>
  </div>
</div>
