<div class="h-100 flex-column">
  <div [fxFlex]="showDiff ? '50' : 'calc(100% - 44px)'" class="padding-right-10 flex-column">
    <div fxFlex="36px" class="row head f-12 foreground-7 padding-right-10">
      <span>CONTRACT</span>
      <span>ENTRYPOINT</span>
      <span>GAS</span>
    </div>
    <div fxFlex="calc(100% - 36px)" class="f-14 overflow-auto border-top border-right">
      <cdk-virtual-scroll-viewport class="h-100 overflow-y-auto overflow-x-hidden"
                                   itemSize="36">
        <div *cdkVirtualFor="let contract of contracts"
             (click)="selectContract(contract)"
             [class.active]="activeContract?.id === contract.id"
             (mouseenter)="openDetailsOverlay(contract, $event)"
             (mouseleave)="detachOverlay()"
             class="row pointer foreground">
          <span class="p-relative truncate foreground-7">{{ contract.hash }}
            <span matTooltip="Copy hash"
                  class="copy-hash p-absolute border-rad-4"
                  [cdkCopyToClipboard]="contract.hash"
                  (click)="copyHashToClipboard(contract.hash, $event)">
              <mat-icon svgIcon="copy" class="icon-foreground-7 icon-14"></mat-icon>
            </span>
          </span>
          <span class="truncate">{{ contract.entrypoint }}</span>
          <span>{{ contract.totalConsumedGas || '-' | spaceNumber }}</span>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <div [fxFlex]="showDiff ? '50' : '44px'" class="flex-column flex-end border-right margin-right-10">
    <div fxFlex="calc(100% - 44px)" class="flex-column h-100 w-100"
         *ngIf="activeContract && showDiff">
      <div fxFlex="40px" class="flex-row align-center flex-between">
        <div class="tabs padding-left-10 flex-row f-12 font-600">
          <div class="tab margin-right-10" (click)="activeTab = 'storage'"
               [class.selected]="activeTab && activeTab === 'storage'">STORAGE
          </div>
          <div class="tab" (click)="activeTab = 'big-maps'"
               [class.selected]="activeTab && activeTab === 'big-maps'">BIG MAPS
          </div>
        </div>
        <div class="foreground-4 f-12 padding-right-10">BLOCK - TRACE</div>
      </div>
      <ngx-object-diff *ngIf="activeTab === 'storage' ? storageDiff : bigMapsDiff; else noDiffs"
                       fxFlex="calc(100% - 40px)"
                       [obj]="activeTab === 'storage' ? storageDiff : bigMapsDiff"
                       class="overflow-auto padding-left-10"></ngx-object-diff>
      <ng-template #noDiffs>
        <pre class="padding-left-10">No differences</pre>
      </ng-template>
    </div>
    <div fxFlex="44px" class="flex-row padding-bottom-10 align-end padding-left-10" *ngIf="activeContract">
      <button (click)="toggleShowDiff()" fxFlex="125px"
              class="primary-button border-rad-2 d-flex align-center pointer foreground font-500 f-12">
        <mat-icon svgIcon="caret-down" [class.flip]="!showDiff"
                  class="icon-10 icon-foreground margin-right-10 margin-left-5"></mat-icon>
        {{ showDiff ? 'HIDE DIFFS' : 'SHOW DIFFS' }}
      </button>
    </div>
  </div>
</div>

<ng-template #tooltipTemplate let-traceGas="traceGas" let-blockStatus="blockStatus" let-traceStatus="traceStatus" let-isSameStorage="isSameStorage"
             let-isSameBigMaps="isSameBigMaps">
  <div class="custom-tooltip-template padding-left-remove">
    <div class="foreground" fxLayout="column" fxLayoutGap="7px">
      <div>
        <span class="foreground-6 padding-left-10">Trace gas:</span>
        {{ traceGas | spaceNumber }}
      </div>
      <div>
        <span class="foreground-6 padding-left-10">Block status:</span>
        {{ blockStatus }}
      </div>
      <div>
        <span class="foreground-6 padding-left-10">Trace status:</span>
        {{ traceStatus }}
      </div>
      <div class="flex-row align-center">
        <span class="foreground-6 padding-left-10">Same storage</span>
        <mat-icon [ngClass]="isSameStorage ? 'icon-green' : 'icon-red'" class="margin-left-5 icon-10 fill-opacity-1"
                  [svgIcon]="isSameStorage ? 'check' : 'close-blank'"></mat-icon>
      </div>
      <div class="flex-row align-center">
        <span class="foreground-6 padding-left-10">Same big maps</span>
        <mat-icon [ngClass]="isSameBigMaps ? 'icon-green' : 'icon-red'" class="margin-left-5 icon-10 fill-opacity-1"
                  [svgIcon]="isSameBigMaps ? 'check' : 'close-blank'"></mat-icon>
      </div>
    </div>
  </div>
</ng-template>

