.filters-container {
  background-color: #2A2A2E;
  border-top-left-radius: 4px;
  position: relative;
  z-index: 3;
  min-height: unset;

  .table-applied-filters {
    flex-shrink: 0;
  }

  .filters-accordion {
    .table-filters {
      background-color: #3f3f43;
      max-height: 70vh;

      button {
        margin-top: 2px;
        margin-bottom: 2px;
      }
    }
  }
}
