th.mat-header-cell.cdk-column-id.mat-column-id {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    height: 1.2em; 
    white-space: nowrap;
}
.mat-cell.cdk-column-id.mat-column-id  {
    display: block;
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 20vw; 
    white-space: nowrap;
}

th.mat-header-cell.cdk-column-transferredBytes.mat-column-transferredBytes {
    text-align: right;
}
.mat-cell.cdk-column-transferredBytes.mat-column-transferredBytes {
    width: 20vw;
    text-align: right;
}

th.mat-header-cell.cdk-column-averageTransferSpeed.mat-column-averageTransferSpeed {
    text-align: right;
}
.mat-cell.cdk-column-averageTransferSpeed.mat-column-averageTransferSpeed {
    width: 20vw;
    text-align: right;
}

th.mat-header-cell.cdk-column-currentTransferSpeed.mat-column-currentTransferSpeed {
    text-align: right;
}
.mat-cell.cdk-column-currentTransferSpeed.mat-column-currentTransferSpeed {
    width: 20vw;
    text-align: right;
}
