@import '../../../../../assets/styles/utilities/layout';

:host {
  height: 100%;
  @include flexColumn();
}

.table-container {
  min-width: calc(1335px + 80px);

  .row {
    grid-template-columns: 70px 180px 130px 90px 120px 155px 80px 95px 75px 110px 70px 80px 100px;

    &.head {
      background-color: unset;

      > span {
        @include flexRowVertCenter();

        mat-icon {
          transition: 0.2s ease-in-out;
          transform: rotateX(0) translateY(6px);
          margin-left: 2px;
          opacity: 0;

          &.show {
            opacity: 1;
            transform: rotateX(0) translateY(0);
          }

          &.flip {
            transform: rotateX(180deg) translateY(0);

            &:not(.show) {
              transform: rotateX(180deg) translateY(6px);
            }
          }
        }


        &:hover, &.active {
          color: var(--foreground);

          mat-icon:not(.show) {
            opacity: 0.5;
            transform: rotateX(0) translateY(0);

            &.flip {
              transform: rotateX(180deg) translateY(0);
            }
          }
        }
      }
    }

    > span {
      line-height: 36px;
      padding-left: 16px;
    }

    .status {
      display: block;
      text-align: center;
      border-radius: 30px;
      line-height: 22px;
      height: 22px;
      margin-top: 7px;
      color: #fff;

      &.broadcast {
        background-color: darken(#32d74b, 20);
      }

      &.applied {
        background-color: #287e76;
      }

      &.prechecked {
        background-color: darken(#0a84ff, 10);
      }

      &.decoded {
        background-color: darken(#bf5af2, 20);
      }

      &.received {
        background-color: darken(#ff9f0a, 15);
      }

      &.branch_delayed {
        background-color: #636363;
      }

      &.outdated {
        background-color: #d09a1b;
      }

      &.missing {
        color: #ff566a;
        border: 1px solid rgba(#ff566a, 30%);
        height: 21px;
        line-height: 19px;
      }
    }
  }
}

.details {
  padding-left: 21px;
}

.table-footer {
  background-color: var(--background-surface-fade-2);

  form {
    height: 24px;

    .custom-bottom-form-field {
      width: 300px;

      .p-absolute {
        right: 6px;
        height: 100%;
      }
    }
  }
}
