.mempool {
  background-color: #2a2a2e;
  border-top-left-radius: 5px;

  .tabs {
    padding: 9px 10px 9px 15px;

    .tab {
      color: rgba(255, 255, 255, 0.6);

      &:hover,
      &.selected {
        color: #fff;
      }
    }

    .reversed-checkbox {
      font-size: 12px;
    }
  }
}

