<div fxLayout="column start" fxLayoutGap="10px" style="width: 250px">
  <button (click)="connect()" class="primary-button foreground border-rad-2">Connect To Ledger</button>
  <button (click)="start()" class="primary-button foreground border-rad-2">Get Ledger Keys</button>
  <button (click)="execute()" class="primary-button foreground border-rad-2">Transfer money with tezos wallet</button>
  <button (click)="signTransaction()" class="primary-button foreground border-rad-2">Transfer money with Ledger</button>
</div>

<h3 class="font-500">Public Key: {{ publicKey }}</h3>
<h3 class="font-500">Public Key Hash: {{ publicKeyHash }}</h3>
<h3 class="font-500">Signature: {{ signature }}</h3>
