.statistics-table {
  .row {
    display: grid;
    grid-template-columns: 200px 50px 90px 1fr;
    height: 36px;
    line-height: 36px;
    cursor: context-menu;

    @media (max-width: 1050px) {
      grid-template-columns: 160px 50px 90px 1fr;
    }

    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover:not(.table-head) {
      background-color: rgba(255, 255, 255, 0.2);

      > span {
        color: white !important;
      }
    }

    &.table-head {
      background-color: unset;
    }

    > span {
      padding-left: 12px;
    }

    .progress-background {
      height: 4px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.1);
      width: 100%;
      display: block;

      .progress-background {
        min-width: 4px;
        background-color: rgba(255, 255, 255, 0.22);

        &.yellow {
          background-color: #FF9F0A;
        }

        &.red {
          background-color: #FF2D55;
        }
      }
    }
  }
}
