$faded-white: rgba(255, 255, 255, 0.1);
$text-color: rgb(164, 164, 165);

.resources-wizard {
  background-color: #2A2A2E;
  border-top-left-radius: 5px;

  .tabs {
    padding: 9px 10px 9px 15px;

    .tab {
      color: rgba(255, 255, 255, 0.6);

      &:hover,
      &.selected {
        color: #fff;
      }
    }

    .node-switcher {
      background-color: rgba(255, 255, 255, 0.05);
      border-radius: 3px;
      padding: 2px 4px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }

    .reversed-checkbox {
      font-size: 12px;
    }
  }
}

