<div fxFlexFill
     class="resources-wizard overflow-hidden">
  <div fxFlexFill
       fxLayout="column"
       fxLayoutAlign="start stretch">
    <div class="tabs border-bottom"
         fxFlex="40px"
         fxLayoutAlign="space-between center">
      <div fxLayoutAlign="start"
           fxLayoutGap="16px">
        <div *ngFor="let tab of tabs$ | async"
             [routerLink]="'/resources/' + tab.link"
             (click)="onTabChange()"
             routerLinkActive="selected"
             class="tab font-12 pointer text-uppercase">
          {{ tab.title }}
        </div>
      </div>
      <mat-checkbox *ngIf="activeRoute === 'memory'"
                    disableRipple
                    class="reversed-checkbox text-white-7"
                    (change)="onReversedCheckboxChange($event)"
                    [checked]="reversedCheckboxState">Reversed
      </mat-checkbox>
    </div>
    <div fxFlex="calc(100% - 40px)">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
