<div class="storage-toolbar flex-row">
  <div class="toolbar-left border-bottom flex-grow overflow-hidden"
       [class.expanded]="expandedPanel">
    <app-state-resources-block-filters></app-state-resources-block-filters>
  </div>
  <div class="toolbar-right pointer border-bottom d-flex flex-between align-center foreground border-left padding-10"
       [class.expanded]="expandedPanel"
       (click)="togglePanel()">
    <span>Overview</span>
    <mat-icon svgIcon="arrow-expanded" class="icon-14 icon-foreground-4"></mat-icon>
  </div>
</div>
<div class="flex-column storage-container p-relative flex-1 overflow-y-auto overflow-x-hidden"
     [class.expanded]="expandedPanel">
  <app-state-resources-action-filters class="border-bottom"></app-state-resources-action-filters>
  <ng-container *ngIf="state">
    <div class="p-relative d-flex flex-1 overflow-hidden">
      <div class="operation-list overflow-y-auto"
           fxLayout="column"
           fxLayoutAlign="start stretch"
           fxLayoutGap="10px">

        <div *ngFor="let group of state.filteredGroups; let i=index; trackBy: trackGroups"
             class="operation"
             fxLayout="column"
             fxLayoutAlign="start stretch">
          <div fxFlex="28px" class="slice-header">
            <span class="header">{{ group.groupName | replaceCharacter: '_': ' '}}</span>
            <span class="total-time">
              {{ group.totalTime | timeTransform: false: false: true }}
              <span class="foreground-4"> total duration</span>
              &nbsp;·&nbsp;
              {{ group.meanTime | timeTransform: false: false: true }}
              <span class="foreground-4"> mean duration</span>
              &nbsp;·&nbsp;
              {{ group.count | thousandTransform }}
              <span class="foreground-4"> call{{ group.count !== 1 ? 's' : '' }}</span>
            </span>
          </div>
          <div fxFlex="grow">
            <div class="graph-list flex-row">
              <app-state-resources-mini-graph *ngFor="let action of group.actions; let i=index"
                                              [graphName]="action.actionName"
                                              [graphData]="action"
                                              [isMainGraph]="i === 0"></app-state-resources-mini-graph>
            </div>
          </div>
        </div>

        <div *ngIf="state.groups.length > 0 && state.blocks.length > 0 && state.filteredGroups.length === 0">
          There are no statistics for your current applied filters. You can check
          <span class="text-underline pointer foreground-hover" (click)="getNodeLifetimeStats()">
            node lifetime statistics
          </span>
          or
          <span class="text-underline pointer foreground-hover" (click)="getLatestBlockStats()">
            latest block statistics.
          </span>
        </div>
      </div>
    </div>
    <div class="side-panel overflow-y-auto p-absolute h-100 padding-10 border-left">
      <app-state-resources-overview [state]="state"></app-state-resources-overview>
    </div>
  </ng-container>
</div>
