<div class="d-flex flex-column overflow-auto" fxFlex="calc(100% - 36px)">
  <div class="table-container w-100 h-100 d-flex flex-column">
    <div *ngIf="currentSort" class="row head foreground-7 border-bottom">
      <span (click)="sortTable(tableHead.sort)"
            *ngFor="let tableHead of tableHeads"
            [class.active]="currentSort.sortBy === tableHead.sort"
            class="pointer">{{ tableHead.name }}
        <mat-icon [class.flip]="currentSort.sortDirection === 'descending'"
                  [class.show]="currentSort.sortBy === tableHead.sort"
                  [svgIcon]="'arrow-up'"
                  class="icon-10 icon-foreground"></mat-icon>
      </span>
    </div>
    <div fxFlex="calc(100% - 36px)">
      <cdk-virtual-scroll-viewport class="border-bottom f-14 h-100 overflow-y-auto overflow-x-hidden"
                                   itemSize="36">
        <div (click)="selectBaker(baker)"
             *cdkVirtualFor="let baker of bakers; let i=index; trackBy: trackBakers"
             [class.row-even]="i % 2 === 0"
             class="row">
          <span class="d-flex align-center foreground">
            <img *ngIf="baker.logo" [src]="baker.logo"
                 class="margin-right-10"
                 height="20px" width="20px">
            <span class="truncate p-relative w-100">{{ baker.bakerName }}
              <span (click)="copyHashToClipboard(baker.hash, $event)"
                    [cdkCopyToClipboard]="baker.hash"
                    class="copy-hash p-absolute border-rad-4 pointer"
                    matTooltip="Copy hash">
                <mat-icon class="icon-foreground-7 icon-14" svgIcon="copy"></mat-icon>
              </span>
            </span>
          </span>
          <span>{{ baker.reward | spaceNumber: 6 }}</span>
          <span>{{ baker.balance | spaceNumber: 6 }}</span>
          <span>{{ baker.delegators.length }}</span>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>

