@import 'variables';

.outer-graph-container {
  padding: 20px 10px;

  .rotated-label span {
    transform: rotate(-90deg) translate(0, -20px);
    padding-left: 20px;
  }

  .inner-graph-container {
    height: 200px;

    .y-grid-marks {
      padding-right: 2px;

      .y-tick-line {
        height: calc(100% / 6);
        border-top: 1px dashed $foreground-2;

        &:last-child {
          border-top-style: solid;
        }

        div {
          left: -30px;
          top: -8px;
          text-align: right;
          width: 20px;
          display: block;
        }
      }
    }

    .histo-col {
      display: flex;
      align-items: flex-end;
      padding-left: 1.5px;

      &:hover {
        background-color: $foreground-1;

        .histo-bar {
          background-color: $foreground;
        }
      }

      .histo-bar {
        width: 100%;
        max-height: 100%;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: #0083bb;
      }
    }
  }
}

.custom-tooltip-template {
  width: 140px;
}
