@import 'variables';

.outer-graph-container {
  padding: 26px 10px 20px 10px;

  .rotated-label span {
    transform: rotate(-90deg) translate(0, -20px);
    padding-left: 22px;
  }

  .inner-graph-container {
    height: 200px;

    .y-grid-marks {
      padding-right: 2px;

      .y-tick-line {
        border-top: 1px dashed $foreground-2;

        &:last-child {
          border-top-style: solid;
        }

        div {
          left: -32px;
          top: -8px;
          text-align: right;
          width: 27px;
          display: block;
        }
      }
    }

    .marker {
      width: 1px;
      height: 100%;
      border-right: 1px dashed rgba(#32d74b, 0.8);

      .p-absolute {
        top: -31px;
        right: -7.5px;
        width: 90px;

        div {
          line-height: 31px;
        }
      }
    }

    .histo-col {
      display: flex;
      align-items: flex-end;
      padding-left: 1.5px;

      &:hover {
        background-color: $foreground-1;

        .histo-bar {
          background-color: $foreground;
        }
      }

      .histo-bar {
        width: 100%;
        min-height: 3px !important;
        max-height: 100%;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: #0083bb;
        transition: height 400ms, opacity 300ms;

        &.gray {
          opacity: 0.6;
        }

        &:not(.gray) {
          min-height: 4px !important;
        }
      }
    }
  }
}

.custom-tooltip-template {
  width: 140px;
}
