<div class="h-100 d-flex flex-column">
  <div class="row head border-bottom foreground-7">
    <span>PENDING SINCE</span>
    <span>PENDING FOR</span>
    <span>REQUESTOR</span>
    <span>LOCATOR</span>
    <span>COUNTER</span>
    <span>KIND</span>
  </div>
  <cdk-virtual-scroll-viewport class="border-bottom f-14 overflow-y-auto overflow-x-hidden"
                               fxFlex="calc(100% - 36px)"
                               itemSize="36">
    <div *cdkVirtualFor="let request of requests; let i=index;"
         class="row">
      <span class="foreground-7">{{ request.pendingSince | dateTime }}</span>
      <span>{{ request.pendingFor | nanoTransform }}</span>
      <span>{{ request.requestor }}</span>
      <span>{{ request.reqId.locator }}</span>
      <span>{{ request.reqId.counter | spaceNumber }}</span>
      <span>{{ request.kind }}</span>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
