<div class="f-12 h-100 flex-column">
  <div class="foreground-4 padding-10 flex-row padding-bottom-remove margin-bottom-10">
    <button class="run-contract foreground border-rad-2 pointer f-12"
            [disabled]="!contract" (click)="runContract()">RUN CONTRACT
    </button>
  </div>
  <form [formGroup]="formGroup" fxFlex="row" fxLayoutGap="10px"
        class="padding-horizontal-10 padding-bottom-10 overflow-hidden">
    <div fxFlex="50" class="flex-column">
      <span fxFlex="20px">Parameter</span>
      <div fxFlex="calc(100% - 20px)">
        <mat-form-field class="tezedge-form-field margin-top-5 w-100 h-100 textarea overflow-auto">
          <textarea matInput name="param" [matTextareaAutosize]="true" class="no-resize" formControlName="parameter"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50" class="flex-column">
      <span fxFlex="20px">Storage</span>
      <div fxFlex="calc(100% - 20px)">
        <mat-form-field class="tezedge-form-field margin-top-5 w-100 h-100 textarea overflow-auto">
          <textarea matInput name="param" [matTextareaAutosize]="true" class="no-resize" formControlName="storage"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
