<div class="f-12 h-100 flex-column">
  <div class="foreground-4 padding-10 flex-row padding-bottom-remove margin-bottom-10">
    <button class="run-contract foreground border-rad-2 pointer f-12"
            [disabled]="!contract" (click)="runContract()">RUN CONTRACT
    </button>
  </div>
  <form [formGroup]="formGroup" fxFlex="row" fxLayoutGap="10px"
        class="padding-horizontal-10 padding-bottom-10 overflow-hidden">
    <div fxFlex="50" class="flex-column">
      <span fxFlex="20px">Parameter</span>
      <div fxFlex="calc(100% - 20px)">
        <textarea class="no-resize padding-5 border-rad-4 w-100 h-100 background-surface-fade-2 border-remove foreground"
                  readonly formControlName="parameter"></textarea>
      </div>
    </div>
    <div fxFlex="50" class="flex-column">
      <span fxFlex="20px">Storage</span>
      <div fxFlex="calc(100% - 20px)">
        <textarea class="no-resize padding-5 border-rad-4 w-100 h-100 background-surface-fade-2 border-remove foreground"
                  readonly formControlName="storage"></textarea>
      </div>
    </div>
  </form>
</div>
