<div class="network-peers">

  <table mat-table
         [dataSource]="tableDataSource"
         [trackBy]="trackByPeerId">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
        <a style="color:black;text-decoration: none;" href="#/network/{{ element.ipAddress }}:{{ element.port }}">
          {{ element.ipAddress }}:{{ element.port }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="transferredBytes">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">
        {{ element.transferredBytes | bandwidth }}
      </td>
    </ng-container>
    <ng-container matColumnDef="averageTransferSpeed">
      <th mat-header-cell *matHeaderCellDef>Average</th>
      <td mat-cell *matCellDef="let element">
        {{ element.averageTransferSpeed | bandwidth:'s' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="currentTransferSpeed">
      <th mat-header-cell *matHeaderCellDef>Current</th>
      <td mat-cell *matCellDef="let element">
        {{ element.currentTransferSpeed | bandwidth:'s' }}
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="['id','transferredBytes','averageTransferSpeed','currentTransferSpeed']">
    </tr>
    <tr mat-row
        *matRowDef="let row; columns: ['id','transferredBytes','averageTransferSpeed','currentTransferSpeed']">
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>

</div>
