<div *ngIf="activeNode"
     [style.opacity]="0.8">

  <mat-form-field class="settings-node-select">

    <mat-select class="hide-arrow"
                [id]="activeNode.type"
                [value]="activeNode.id"
                (click)="onOpeningNodeSelect()"
                disableOptionCentering
                panelClass="settings-node">

      <mat-select-trigger class="d-flex align-center">
        <span class="truncate">{{ activeNode.name }}</span>
        <span [class.is-offline]="!activeNode.connected"
              class="settings-node-status-icon margin-left-5"></span>
      </mat-select-trigger>

      <ng-container *ngFor="let node of settingsNodeEntities">
        <!-- TODO: remove hardcoded 'sandbox-carthage-tezedge' everywhere and use some flag -->
        <mat-option *ngIf="node.id !== 'sandbox-carthage-tezedge' || node.connected === true || node.connected === 'pending'"
                    [value]="node.id"
                    (click)="selectNode(node.id)"
                    class="settings-node-option">
          <div class="d-flex align-center h-100">
            <div fxFlex="30px">
              <mat-icon *ngIf="node.id === activeNode.id"
                        svgIcon="check"
                        class="icon-20"></mat-icon>
            </div>
            <div class="d-flex flex-column h-100">
              <div class="d-flex align-center">
                {{ node.name }}
                <mat-icon *ngIf="node.connected === 'pending'"
                          class="node-status-option-icon icon-10 margin-left-5"
                          svgIcon="hourglass"></mat-icon>
                <span *ngIf="node.connected === true"
                      class="settings-node-status-icon margin-left-5"></span>
                <span *ngIf="node.connected === false"
                      class="settings-node-status-icon margin-left-5 is-offline"></span>
              </div>

              <div class="status f-10">
                <span *ngIf="node.connected === 'pending'">connecting</span>
                <span *ngIf="node.connected === true">
                  {{ node.header?.protocol | slice:0:10 }} | last block {{ node.relativeDateTime }}
                </span>
                <span *ngIf="node.connected === false">offline</span>
              </div>

            </div>

          </div>
        </mat-option>
      </ng-container>

      <div *ngIf="sandbox"
           class="sandbox-button-wrapper f-12">
        <button *ngIf="sandbox.connected === false"
                mat-flat-button
                (click)="navigateToSandboxAdd()">ADD SANDBOX NODE
        </button>
        <button *ngIf="sandbox.connected === true"
                mat-flat-button
                (click)="stopSandboxNode()">STOP SANDBOX NODE
        </button>
      </div>

    </mat-select>

  </mat-form-field>

</div>
