.settings-node-status-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00DBC6;

  &.is-offline {
    background-color: #883f53;
  }
}

.settings-node-select {
  width: 200px;
  line-height: 28px;
  padding-left: 14px;
  border-radius: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.13);
  }
}

::ng-deep .node-status-option-icon svg path {
  fill: #883f53;
}

.settings-node-option {
  height: 46px !important;
  padding: 3px 25px 3px 10px;
  background-color: #2a2b2e;
  color: white;
}

.settings-node-option-status {
  margin: -20px 0 0 0;
  font-size: 10px;
}

.sandbox-button-wrapper {
  background-color: #2a2b2e;
  padding: 12px 10px 12px 40px;

  button {
    line-height: 24px;
    color: white;
    background: #8C6141;
    font-weight: 300;
  }
}
