.settings-node-status-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00dbc6;

  &.is-offline {
    background-color: #883f53;
  }
}

.settings-node-select {
  width: 200px;
  line-height: 28px;
  padding-left: 14px;
  border-radius: 4px;

  &:hover {
    background-color: var(--foreground-1);
  }
}

::ng-deep .node-status-option-icon svg path {
  fill: #883f53;
}

.settings-node-option {
  height: 46px !important;
  width: 260px;
  padding: 3px 0 3px 10px;
  background-color: var(--background-surface);
  line-height: unset !important;

  .status {
    margin-top: 3px;
  }
}

.sandbox-button-wrapper {
  background-color: var(--background-surface);
  padding: 12px 10px 12px 40px;

  button {
    line-height: 24px;
    color: white;
    background: #8c6141;
    font-weight: 300;
  }
}
