// TODO: find a general solution to add this to variables when refactoring the scss
$color-node-tag-active: rgba(255, 255, 255, 0.1);
$color-commit-container: rgba(63, 63, 67, 1);
$color-commit-item-hovered: rgba(80, 80, 88, 1);

.node-tag-number {
  cursor: pointer;
  border-radius: 4px;
  padding: 3px 8px;
  margin-bottom: -4px;

  &:hover {
    background-color: $color-node-tag-active;
  }
}

.node-tag-number-and-icon {
  pointer-events: none;
  font-size: 12px;
}

svg-icon {
  margin-left: -2px;
}

.commit-numbers-container {
  overflow: hidden;
  bottom: 25px;
  background-color: $color-commit-container;
  border-radius: 4px;
  color: white;
  margin-bottom: 5px;

  .commit-numbers-container-item {
    font-size: 12px;
    width: 128px;

    &:hover {
      background-color: $color-commit-item-hovered;
    }

    a {
      cursor: pointer;
      color: #eaeaea;
      text-decoration: unset;
      padding: 8px;
      display: block;
    }
  }
}
