<style>
    .endpoints-action-table-datetime {
        display: inline-block;
        min-width: 170px;
    }

    .endpoints-action-table-type {
        display: inline-block;
        min-width: 80px;
    }

    .endpoints-action-table-path {
        display: inline-block;
        min-width: 325px;
    }
</style>

<div class="endpoints-action-container">

    <div class="table-virtual-scroll">

        <div class="table-virtual-scroll-header">
            <span class="endpoints-action-table-datetime">Datetime</span>
            <span class="endpoints-action-table-type">Type</span>
            <span class="endpoints-action-table-path">Path</span>
        </div>

        <div class="table-virtual-scroll-panel" style="display:flex;flex-direction: row;">

            <cdk-virtual-scroll-viewport style="align-items: flex-start;" class="endpoints-action-table-viewport"
                (scrolledIndexChange)="onScroll($event)" 
                [itemSize]="36" [maxBufferPx]="288" [minBufferPx]="288">
                
                <div *cdkVirtualFor="let item of endpointsActionList"  class="table-virtual-scroll-item"
                    (mouseenter)="tableMouseEnter(item)"
                    [class.hover]="item?.id === endpointsActionItem?.id">

                    <span class="endpoints-action-table-datetime">{{item?.datetime}}</span>
                    <span class="endpoints-action-table-type">{{item?.message?.type}}</span>
                    <span class="endpoints-action-table-path">{{item?.message.path}}</span>
                </div>
            </cdk-virtual-scroll-viewport>

            <div class="endpoints-action-table-detail">
                <div *ngIf="endpointsActionItem?.message">

                    <ngx-json-viewer [json]="endpointsActionItem?.message" [expanded]="false">
                    </ngx-json-viewer>

                </div>
            </div>

        </div>
        <div class="table-virtual-scroll-footer">
            <span>
                <button mat-icon-button matTooltip="Start" (click)="scrollStart()" *ngIf="!endpointsAction?.stream">
                    <mat-icon>play_arrow_outline</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Stop" (click)="scrollStop()" *ngIf="endpointsAction?.stream">
                    <mat-icon>stop_outline</mat-icon>
                </button>
                <button mat-icon-button style="transform: rotate(90deg)" matTooltip="Last page" (click)="scrollToEnd()">
                    <mat-icon>last_page</mat-icon>
                </button>
            </span>
        </div>
    </div>

</div>
