<style>
    .endpoints-action-filter {
        width: 800px;
        padding: 10px 0px 10px 0px;
        height: 32px;

        display: flex;
        align-items: center;
        /*justify-content: center;*/
    }

    .endpoints-action-filter button {
        border:1px solid #e0e0e0;
        margin-right: 2px;
        line-height: 32px !important;
        font-weight: 300 !important;
        background-color: #f5f9fc;
        min-width: 154px;
    }
    .endpoints-action-filter button mat-icon {
        display: none;
    }

    .endpoints-action-filter button.active {
        background-color:white;
    }

    .endpoints-action-filter button.active mat-icon {
        display: inline-block;
        font-size: 18px;
        margin-left: -8px;
        height: 20px;
        width: 20px;
    }


    
    .endpoints-action-container {
        background-color: #F5F9FC;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .endpoints-action {
        background-color: white;
        width: 800px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        margin-top: 30px;
    }

    .endpoints-action th.mat-header-cell.cdk-column-datetime.mat-column-datetime {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .endpoints-action .mat-cell.cdk-column-datetime.mat-column-datetime {
        width: 140px;
    }


    .endpoints-action th.mat-header-cell.cdk-column-address.mat-column-address {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .endpoints-action .mat-cell.cdk-column-address.mat-column-address {
        width: 100px;
    }

    .endpoints-action th.mat-header-cell.cdk-column-type.mat-column-type {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .endpoints-action .mat-cell.cdk-column-type.mat-column-type {
        width: 180px;
    }

    .endpoints-action th.mat-header-cell.cdk-column-message.mat-column-message {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .endpoints-action .mat-cell.cdk-column-message.mat-column-message {
        padding-right: 10px;
        width: 140px;
    }


    .detail-expanded {
        display: table-row;
        background-color: #F5F9FC;
        min-height: 36px !important;
    }

    .detail-colapsed {
        display: none;
    }

    .row-expanded {
        background-color: #F5F9FC;
    }

    .row-expanded td.mat-cell {
        border-top: 1px solid #c5cae9 !important;
        border-bottom: 1px solid #F5F9FC !important;
    }

    .row-colapsed {
        background-color: #FFFFFF;
    }

    .expanded-detail-cell {
        max-width: 700px;
        padding: 0px 0px 15px 0px !important;
        border-top: 1px solid #c5cae9 !important;
        border-bottom: 1px solid #c5cae9 !important;
    }


</style>

<div class="endpoints-action-container">
  
    <div class="endpoints-action">

        <table mat-table [dataSource]="tableDataSource" multiTemplateDataRows>

            <ng-container matColumnDef="datetime">
                <th mat-header-cell *matHeaderCellDef>Datetime</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.datetime }}
                </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let element">
                    <a style="color:black;text-decoration: none;" href="#/endpoints/{{ element.remote_addr }}">
                        {{ element.remote_addr }} 
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.message.type==='response'" (click)="expandedElement = element"
                        style="text-align: left; cursor: pointer;"> 
                        <svg-icon icon="upload"></svg-icon>
                        {{ element.message.status }} 
                    </span>
                    <span *ngIf="element.message.type==='request'" (click)="expandedElement = element"
                        style="text-align: left; cursor: pointer;"> 
                        <svg-icon icon="download"></svg-icon>
                        {{ element.message.method }} 
                        {{ element.message.path }} 
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef>Message</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element" style="text-align: left; cursor: pointer;"
                            (click)="expandedElement = element">
                        {{ element.preview }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let action" [attr.colspan]="4" class="expanded-detail-cell">
                    <div *ngIf="expandedElement == action" style="min-width: 700px;">
                        <mat-tab-group>
                            <mat-tab label="PREVIEW"> 
                                <div style="padding: 15px 20px 0px 20px">
                                   <!-- {{ action.message.payload | json}} -->
                                    <ngx-json-viewer  [json]="action.payload" [expanded]="false">
                                    </ngx-json-viewer>
                                </div>
                            </mat-tab>
                          </mat-tab-group>
                        </div>    
                    </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['datetime','address','type','message']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['datetime','address','type','message'];"></tr>

            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                [class.detail-expanded]="expandedElement == row" [class.detail-colapsed]="expandedElement != row">
            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[15]"></mat-paginator>
        
    </div>

</div>