<style>
    .networking-history {
        display: flex;
    }

    .history-cycle-panel {
        display: flex;
        flex-wrap: wrap;
        width: 726px;
        padding-top: 20px;
    }

    .history-voting-period-row {
        display: flex;
        flex-direction: row;
        /* align-self: flex-start; */
        margin: 0px 8px 0px 6px;

    }

    .history-voting-period {
        flex-direction: row;
        margin: 2px -4px 2px 6px;
        padding: 4px 4px 4px 4px;

        /* border: 1.1px solid #00DBC6; */
        border: 1.1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: white;

    }

    .history-voting-period-label {
        flex-direction: row;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        margin: 2px;
        font-size: 12px;
        line-height: 12px;
        color: rgba(0, 0, 0, 0.4)
    }

    .history-voting-period-panel {
        display: flex;
        flex-direction: row;
    }

    .history-cycle {
        background-color: #00DBC6;
        margin: 2px;
        border-radius: 2px;
        height: 16px;
        width: 16px;
    }

    /* #163940 */
    .history-cycle-headers {
        background-color: #537880;
        margin: 2px 2px 0px 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        height: 6px;
        width: 16px;
    }

    .history-cycle-operations {
        background-color: #537880;
        margin: 0px 2px 2px 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        height: 10px;
        width: 16px;
    }

    .history-cycle-number {
        height: 20px;
        width: 600px;
    }

    .networking-history {
        display: flex;
    }

    @media (max-width: 600px) {
        .history-cycle-panel {
            width: initial;
        }

        .history-voting-period {
            margin: 6px -2px 6px 12px;
            padding: 4px;
        }
    }
</style>


<div class="networking-history">

    <!-- <svg id="networkingHistoryPanel" viewBox="0 0 700 140" preserveAspectRatio="xMidYMid meet">
        <g>
        </g>
    </svg> -->

    <div class="history-cycle-panel">
        <span class="history-voting-period-row" *ngFor="let votingPeriodRow of networkingHistoryFormated">
            <span class="history-voting-period" *ngFor="let votingPeriod of votingPeriodRow">

                <div class="history-voting-period-label">Proposal</div>

                <span class="history-voting-period-panel">
                    <span *ngFor="let cycle of votingPeriod">
                        <div *ngIf="cycle.operations>=4094" class="history-cycle" [style.opacity]="0.15+cycle.applications/4096">
                        </div>
                        <span *ngIf="cycle.operations<4094">
                            <div class="history-cycle-headers" [style.opacity]="cycle.headers/4096">
                            </div>
                            <div class="history-cycle-operations" [style.opacity]="cycle.operations/4096">
                            </div>
                        </span>
                        <!-- [style.opacity]="0.1+cycle.applications/4096" -->
                    </span>
                </span>

            </span>

        </span>
    </div>

    <!-- <div class="history-cycle-panel" *ngFor="let cycle of networkingHistory">
        <div class="history-cycle-number">
            {{ cycle.id }}
            {{ cycle.headers }}
            {{ cycle.operations }}
            {{ cycle.applications }}
            {{ cycle.duration }}
        </div>
    </div> -->
    </div>

    <!-- <div style="display:box;">
    <button mat-button (click)="render()">render</button>
</div>  -->