<mat-card>

    <mat-card-header>
        <!-- <h2 class="mat-h1 reset">
            {{ this.networkingHistoryOpacity }}
        </h2> -->
    </mat-card-header>

    <mat-card-content>
        <!-- https://www.d3-graph-gallery.com/intro_d3js.html -->


        <svg id="networkingHistoryPanel" style="width:700px;">
            <g>

            </g>
        </svg>

        <!--{{ networkingHistory.entities | json }}  
        {{ networkingStats?.currentBlockCount | json }}
        -->
    </mat-card-content>

</mat-card>