.block-action-details {
  padding: 10px;

  .storage-details-block {
    padding: 10px 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;

    &.table-block {
      padding-left: 0;
      overflow: auto;
    }

    .storage-block-header {
      margin-bottom: 15px;

      .node-switcher {
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 3px;
        padding: 2px 4px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.25);
        }
      }
    }

    .overflow-x-auto {
      margin: 18px 0;

      .storage-details-table {
        border-collapse: collapse;
        margin-left: -8px;

        thead tr th {
          font-weight: normal;
          text-align: left;
          white-space: nowrap;
          padding-bottom: 5px;
          padding-right: 8px;

          &:not(:first-child) {
            text-align: right;
          }

          &:first-child {
            padding-right: 15px;
            padding-left: 8px;
          }
        }

        tr td {
          vertical-align: top;
          min-width: 50px;

          section {
            padding-top: 0 !important;
          }
        }

        tbody tr {
          cursor: pointer;

          &:hover {
            background-color: #3F3F43;
          }

          td {
            white-space: nowrap;
            padding: 5px 8px 5px 0;

            &:not(:first-child) {
              text-align: right;
              padding-top: 8px;
              color: rgba(255, 255, 255, 0.4);
            }

            &:first-child {
              padding-left: 8px;
            }

            ngx-json-viewer {
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}

.text-gray {
  color: rgba(255, 255, 255, 0.4) !important;
}

.tooltip-template {
  background-color: #2A2A2E;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  white-space: nowrap;
}
