.block {
  line-height: 16px;
  margin-left: 8px;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.mem-stats-row {
  display: grid;
  grid-template-columns: 82px 1fr 20px;

  .progress-background {
    height: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    display: block;

    .progress-background {
      min-width: 4px;
    }
  }
}
