<div class="padding-8 f-12">
  <div *ngIf="currentBlock$ | async as currentBlock"
       class="d-flex flex-row flex-between margin-bottom-10 padding-top-5">
    <div [@refreshBlock]="currentBlock" class="block">ENDORSING BLOCK {{ currentBlock }}</div>
    <div class="foreground-7">{{ elapsedTime$ | async | number: '1.1' }}s</div>
  </div>
  <div class="overflow-auto" *ngIf="statistics$ | async as statistics">
    <div class="d-flex flex-column border-rad-2 border padding-10">
      <div class="foreground-4 margin-bottom-10">256 endorsements grouped by status</div>
      <div *ngFor="let type of statistics.endorsementTypes; let i=index; trackBy: trackStats"
           class="mem-stats-row margin-top-5 margin-bottom-5">
        <div class="text-capitalize">{{ type.name }}</div>
        <div class="padding-right-10 d-flex align-center">
          <div class="progress-background">
            <div [ngClass]="type.name.toLowerCase()"
                 [style.width.%]="type.value / 256 * 100"
                 class="progress-background">
            </div>
          </div>
        </div>
        <div class="text-right">{{ type.value }}</div>
      </div>
    </div>
    <div class="d-flex flex-column border-rad-2 border padding-10 margin-top-10">
      <div class="foreground-4 margin-bottom-10">Previous block summary</div>
      <div class="missed mem-stats-row margin-top-5 margin-bottom-5 d-flex flex-between"
           [ngClass]="'missed-' + statistics.previousBlockMissedEndorsements">
        <div>Missed Endorsements</div>
        <div>{{ statistics.previousBlockMissedEndorsements }}</div>
      </div>
      <div class="mem-stats-row margin-top-5 margin-bottom-5 d-flex flex-between">
        <div>Time to apply</div>
        <div>{{ previousBlockElapsedTime | number: '1.1' }}{{ previousBlockElapsedTime ? 's' : '' }}</div>
      </div>
    </div>
  </div>
</div>
