<span style="color:white;">
    <li *ngFor="let id of mempoolAction.ids;">
        {{mempoolAction.entities[id].type }} | {{mempoolAction.entities[id].hash }}
    </li>
</span>

<!-- TODO: remove -->

<br/>
<button mat-flat-button (click)="networkNextPage()">Previous page</button>
&nbsp;
<button mat-flat-button (click)="networkCursorPage()">Cursor page</button>

<span style="color:white;">
    <li *ngFor="let networkAction of networkActionList;">
        {{ networkAction.id }} | {{ networkAction.timestamp }} - {{ networkAction.type }} 
    </li>
</span>