<div class="mempool">

    <!-- FILTERS -->
    <div class="filters-wrap">
      <img class="icon" src="../../../assets/icon/filter.svg" />
      <span class="text">ADD FILTER</span>
    </div>
  
    <div class="flex-wrapper">
      <!-- TABLE -->
      <div class="table-flex">
        <table mat-table [dataSource]="mempoolAction.ids">
          <!-- Hash Column -->
          <ng-container matColumnDef="hash">
            <th mat-header-cell *matHeaderCellDef> HASH</th>
            <td mat-cell *matCellDef="let id"> {{ mempoolAction.entities[id].hash }} </td>
          </ng-container>
        
          <!-- Type Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> TYPE </th>
            <td mat-cell *matCellDef="let id"> {{ mempoolAction.entities[id].type }} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  
      </div>
    </div>
  </div>