<div class="h-100 overflow-hidden" fxLayout="column">
  <app-smart-contracts-filters fxFlex="34px"></app-smart-contracts-filters>
  <div fxFlex="1 1 auto" class="overflow-hidden">
    <app-smart-contracts-table fxFlex="440px"></app-smart-contracts-table>
    <div fxFlex="calc(100% - 440px)" class="flex-column align-stretch padding-bottom-10">
      <div class="flex-column h-100">
        <div fxFlex="36px" class="d-flex align-center f-12">
          <span class="foreground margin-right-10 margin-left-10">CONTRACT DETAIL</span>
          <mat-icon svgIcon="chevron-right" class="icon-12 icon-foreground-4"></mat-icon>
          <span class="foreground-7 margin-left-10 margin-right-10">{{ activeContract?.hash }}</span>
          <ng-container *ngIf="activeContract?.entrypoint">
            <mat-icon svgIcon="chevron-right" class="icon-12 icon-foreground-4"></mat-icon>
            <div class="foreground-4 margin-left-10">{{ activeContract.entrypoint }}</div>
          </ng-container>
        </div>
        <div fxFlex="calc(100% - 36px)" class="flex-column border border-rad-2 margin-right-10">
          <app-smart-contracts-code fxFlex="65"></app-smart-contracts-code>
          <div fxFlex="35" class="padding-top-10">
            <div class="flex-column h-100 w-100 overflow-hidden">
              <div fxFlex="44px" class="tabs padding-left-10 flex-row f-12 align-start">
                <div *ngFor="let tab of tabs" class="tab font-600 margin-right-10 text-uppercase flex-row align-center"
                     (click)="activeTab = tab"
                     [class.selected]="activeTab === tab">
                  {{ tab }}
                  <span *ngIf="tab === 'result'"
                        [class.opacity-0]="!activeContract"
                        [class.fail]="activeContractFailed"
                        class="result-bullet margin-left-5"></span>
                </div>
              </div>
              <div fxFlex="calc(100% - 44px)">
                <ng-container [ngSwitch]="activeTab">
                  <app-smart-contracts-debug *ngSwitchCase="'debug'"></app-smart-contracts-debug>
                  <app-smart-contracts-result *ngSwitchCase="'result'"></app-smart-contracts-result>
                  <app-smart-contracts-inputs *ngSwitchCase="'inputs'"></app-smart-contracts-inputs>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
