@import 'variables';

:host {
  height: 100%;
  display: block;
  background-color: $background-surface;
  border-top-left-radius: 6px;
}

.result-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #32d74b;

  &.fail {
    background-color: #ff453a;
  }
}
