<div class="flex-row padding-left-10 align-center h-100">
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill" class="custom-bottom-form-field p-relative margin-left-remove">
      <input autocomplete="off" formControlName="search" matInput placeholder="Search action groups" type="text">
      <mat-icon *ngIf="formGroup.get('search').value" (click)="formGroup.get('search').setValue('')"
                class="p-absolute icon-10 icon-foreground-7 fill-opacity-1 pointer"
                svgIcon="close-blank"></mat-icon>
    </mat-form-field>
  </form>
  <div class="flex-row align-center margin-left-10">
    <span class="foreground-4">Sort by:</span>
    <div class="sorting flex-row margin-left-10 pointer"
         (click)="sort(option.sort)"
         *ngFor="let option of sortingOptions; let i=index">
      <div>{{ option.name }}</div>
      <mat-icon [class.flip]="currentSort.sortDirection === 'descending'"
                [class.show]="currentSort.sortBy === option.sort"
                [svgIcon]="'arrow-up'"
                class="icon-14 icon-foreground"></mat-icon>
    </div>
  </div>
</div>
