$text-color: rgba(255, 255, 255, 0.6);

:host {
  margin-left: 10px;
  margin-right: 10px;
}

.resource-category-block {
  position: relative;
  opacity: 0;
  padding: 2vh 35px 4vh 0;
  transition: opacity 1s;
  overflow-x: hidden;
  border-radius: 5px;

  &:hover,
  &.active {
    transition-delay: 0s !important;
    background-color: #39393b;
  }

  &.small-device {
    padding: 2vh 7vw 4vh 0;
  }

  &.fade {
    opacity: 1;
  }

  .graph-title {
    color: #fff;
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
  }

  .rotated-label {
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    display: flex;
    align-items: center;

    span {
      transform: rotate(-90deg) translateY(-6px);
      padding-right: 3vh;
    }
  }

  .chart-container {
    .selection-overlay {
      pointer-events: none;
      position: fixed;
      opacity: 1;
      height: 110px;
      left: 0;
      width: 0;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .graph-label-list {
    margin-bottom: 12px;
    cursor: context-menu;
    text-align: right;

    .graph-label-item {
      color: $text-color;
      font-size: 12px;
      display: inline-block;
      margin-right: 15px;

      .label-color {
        width: 7px;
        height: 7px;
        border-radius: 5px;
        margin-right: 3px;
        margin-bottom: 1px;
        display: inline-block;
      }
    }
  }
}
