<div fxLayout="row"
     [class.fade]="chartData"
     [style.transition-delay.s]="transitionDelay"
     [ngClass.lt-md]="'small-device'"
     class="resource-category-block">
  <div class="rotated-label" fxFlex="33px" fxHide.lt-md><span>{{ rotatedLabel }}</span></div>
  <div fxLayout="column" fxFlex="calc(100% - 33px)">
    <div class="graph-title">{{ graphTitle }}</div>
    <div class="graph-label-list"
         fxLayout="row wrap"
         fxLayoutAlign="end">
     <span *ngFor="let label of labelList; let i=index"
           class="graph-label-item">
       <span class="label-color"
             [style.background]="colorScheme.domain[i]"></span>
       {{ label }}
     </span>
    </div>
    <div fxFlex="grow"
         class="chart-container">
      <app-tezedge-line-chart *ngIf="chartData[0].series.length"
                              [startWithYGridLine]="true"
                              [yAxisTickFormatting]="yAxisTickFormatting"
                              [xAxisTicks]="xTicksValues"
                              [rotateXAxisTicks]="false"
                              [results]="chartData"
                              [circleAtTheEnd]="true"
                              [scheme]="colorScheme"
                              [xAxis]="true"
                              [yAxis]="true"
                              [animations]="false"
                              [resourceType]="resourceType"
                              [curve]="curve">
        <ng-template #seriesTooltipTemplate
                     let-model="model">
          <ng-container
            *ngTemplateOutlet="customSeriesTooltipTemplate; context: { model: model, type: formattingType }"></ng-container>
        </ng-template>
        <ng-template #tooltipTemplate
                     let-model="model">
          <ng-container
            *ngTemplateOutlet="customTooltipTemplate; context: { model: model, type: formattingType }"></ng-container>
        </ng-template>
      </app-tezedge-line-chart>
    </div>
  </div>
</div>

<ng-template #customSeriesTooltipTemplate
             let-model="model"
             let-type="type">
  <div fxLayout="column"
       class="ngx-series-tooltip">
    <div class="time">Time: {{ model[0].name }}</div>
    <div class="data-wrapper"
         fxLayout="column"
         fxLayoutGap="8px">
      <div *ngFor="let entry of model"
           fxLayout="row"
           fxLayoutAlign="start center">
        <div class="color-square"
             [style.background]="entry.color"></div>
        <div>{{ entry.series }}:&nbsp;</div>
        <div class="series-value">
          {{ entry.value | number: '1.2-2' }}{{ type }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #customTooltipTemplate
             let-model="model"
             let-type="type">
  <div class="tooltip-content tooltip-template">
    <span fxLayout="column"
          fxLayoutGap="5px">
      <span class="tooltip-label">{{ model.series }} • {{ model.name }}</span>
      <span *ngIf="type === 'percentage'"
            class="tooltip-val">{{ model.value }}%</span>
      <span *ngIf="type === 'GB'"
            class="tooltip-val">{{ model.value | number: '1.2-2' }} GB</span>
      <span *ngIf="type === 'MB'"
            class="tooltip-val">{{ model.value | number: '1.2-2' }} MB</span>
      <span *ngIf="type === ''"
            class="tooltip-val">{{ model.value }}</span>
    </span>
  </div>
</ng-template>
