.details-container {
  padding: 10px;

  .list-group {
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    padding: 10px;
    font-size: 12px;
    
    .faded-text {
      color: rgba(255, 255, 255, 0.75) !important;
      margin-left: 2px;
    }

    table {
      border-spacing: 0;

      tr {
        padding-bottom: 6px;
      }
    }
  }
}
