.table-virtual-scroll-header {
  display: grid;
  grid-template-columns: 170px 60px 1fr;
  padding: 0 16px;
  height: 36px;
  line-height: 35px;
}

.virtualScrollRow {
  position: absolute;
  width: 100%;
  height: 36px !important;
  line-height: 35px !important;
  font-size: 14px;
  display: grid;
  grid-template-columns: 170px 60px 1fr;
  padding: 0 16px;
  box-sizing: border-box;

  .item-loading {
    position: absolute;
    top: 8px;
    left: 6px;
    background-color: #323334;
    width: 0;

    &.displayed {
      height: 20px;
      display: flex;
      min-width: calc(100% - 15px) !important;
      animation: hintloading 2s ease-in-out 0s infinite reverse;
      -webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
    }
  }

  &.virtualScrollRowEven {
    background-color: #323334;

    .item-loading {
      background-color: #2a2a2e !important;
    }
  }

}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes hintloading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}

@-webkit-keyframes hintloading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}
