<style>
    .logs-action-table-datetime {
        display: inline-block;
        min-width: 170px;
    }

    .logs-action-table-level {
        display: inline-block;
        min-width: 60px;
    }

    .logs-action-table-message {
        display: inline-block;
        min-width: 725px;
    }
</style>

<div class="logs-action-container">

    <div class="table-virtual-scroll">

        <div class="table-virtual-scroll-header">
            <span class="logs-action-table-datetime">Datetime</span>
            <span class="logs-action-table-level">Level</span>
            <span class="logs-action-table-message">Message</span>
        </div>

        <div class="table-virtual-scroll-panel" style="display:flex;flex-direction: row;">

            <cdk-virtual-scroll-viewport style="align-items: flex-start;" class="logs-action-table-viewport"
                (scrolledIndexChange)="onScroll($event)" 
                [itemSize]="36" [maxBufferPx]="288" [minBufferPx]="288">
                
                <div *cdkVirtualFor="let item of logsActionList"  class="table-virtual-scroll-item"
                    (mouseenter)="tableMouseEnter(item)"
                    [class.hover]="item?.id === logsActionItem?.id">

                    <span class="logs-action-table-datetime">{{item?.datetime}}</span>
                    <span class="logs-action-table-level">{{item?.level}}</span>
                    <span class="logs-action-table-message">{{item?.preview}}</span>
                </div>
            </cdk-virtual-scroll-viewport>

            <div class="logs-action-table-detail">
                <div *ngIf="logsActionItem?.message">

                    <ngx-json-viewer [json]="{message:logsActionItem?.message}" [expanded]="true">
                    </ngx-json-viewer>

                </div>
            </div>

        </div>
        <div class="table-virtual-scroll-footer">
            <span>
                <button mat-icon-button matTooltip="Start" (click)="scrollStart()" *ngIf="!logsAction?.stream">
                    <mat-icon>play_arrow_outline</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Stop" (click)="scrollStop()" *ngIf="logsAction?.stream">
                    <mat-icon>stop_outline</mat-icon>
                </button>
                <button mat-icon-button style="transform: rotate(90deg)" matTooltip="Last page" (click)="scrollToEnd()">
                    <mat-icon>last_page</mat-icon>
                </button>
            </span>
        </div>
    </div>

</div>