<div class="logs-action-container">

  <div class="table-virtual-scroll">
    <div class="filters-container">

      <div class="active-filters-row">
        <div class="d-flex align-center search-div pointer"
             (click)="searchFocused = true; search.focus()"
             (clickOutside)="searchFocused = false">
          <mat-icon svgIcon="magnifying-glass"
                    class="icon-14 icon-white-4 margin-left-10"></mat-icon>
          <span class="font-300 font-12">Search</span>
          <input #search
                 type="text"
                 class="search-box"
                 [class.active]="searchFocused"
                 (keydown.enter)="searchByText(search.value)">
          <button *ngIf="searchText"
                  (click)="searchByText(''); scrollStart()"
                  mat-flat-button
                  class="active text-normal">
            {{ searchText }}
            <mat-icon svgIcon="close"
                      class="icon-12"></mat-icon>
          </button>
        </div>
        <button class="add-filters"
                mat-flat-button>
          <span class="d-flex align-center flex-center">
            <mat-icon svgIcon="filter"
                      class="icon-14 d-flex margin-right-5"></mat-icon>
            Active Filters
          </span>
        </button>

        <div class="filters-content">
          <button class="active"
                  mat-flat-button
                  *ngFor="let filter of activeFilters"
                  (click)="filterByType(filter)">
            <span class="d-flex align-center flex-center">
              {{ filter }}
              <mat-icon svgIcon="close"
                        class="icon-12 margin-left-5"></mat-icon>
            </span>
          </button>
        </div>
      </div>

      <mat-accordion class="filters-accordion">
        <mat-expansion-panel [expanded]="true"
                             hideToggle="true">
          <ng-template matExpansionPanelContent
                       class="filters-content">
            <div class="filters-row">
              <span class="filters-label">Level</span>
              <button [class.active]="virtualScrollItems.filter.info || !activeFilters.length"
                      (click)="filterByType('info')">
                Info
                <mat-icon svgIcon="close"
                          class="icon-12 margin-left-5"></mat-icon>
              </button>
              <button [class.active]="virtualScrollItems.filter.warning || !activeFilters.length"
                      (click)="filterByType('warning')">
                Warning
                <mat-icon svgIcon="close"
                          class="icon-12 margin-left-5"></mat-icon>
              </button>
              <button [class.active]="virtualScrollItems.filter.error || !activeFilters.length"
                      (click)="filterByType('error')">
                Error
                <mat-icon svgIcon="close"
                          class="icon-12 margin-left-5"></mat-icon>
              </button>
              <button [class.active]="virtualScrollItems.filter.fatal || !activeFilters.length"
                      (click)="filterByType('fatal')">
                Fatal
                <mat-icon svgIcon="close"
                          class="icon-12 margin-left-5"></mat-icon>
              </button>
              <button [class.active]="virtualScrollItems.filter.trace || !activeFilters.length"
                      (click)="filterByType('trace')">
                Trace
                <mat-icon svgIcon="close"
                          class="icon-12 margin-left-5"></mat-icon>
              </button>
              <button [class.active]="virtualScrollItems.filter.debug || !activeFilters.length"
                      (click)="filterByType('debug')">
                Debug
                <mat-icon svgIcon="close"
                          class="icon-12 margin-left-5"></mat-icon>
              </button>
              <button [class.active]="virtualScrollItems.filter.notice || !activeFilters.length"
                      (click)="filterByType('notice')">
                Notice
                <mat-icon svgIcon="close"
                          class="icon-12 margin-left-5"></mat-icon>
              </button>

            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <div class="table-virtual-scroll-header logs-header">
      <span>DATETIME</span>
      <span>LEVEL</span>
      <span>MESSAGE</span>
    </div>

    <div class="table-virtual-scroll-body logs-filters-expanded">

      <div class="virtual-scroll-container">
        <ng-template vsFor
                     let-event
                     let-position="position"
                     [vsForOf]="virtualScrollItems"
                     [initialSelectedIndex]="initialSelectedIndex"
                     (getItems)="getItems($event)"
                     (startStopDataStream)="startStopDataStream($event)">
          <span class="virtualScrollRow logs-row"
                [style.transform]="position !== undefined ? 'translateY(' + position + 'px)' : ''"
                [class.virtualScrollRowEven]="event?.index % 2"
                (click)="selectRow(event)"
                [class.hover]="logsActionItem?.id === event?.id"
                [class.used]="event?.datetime">

            <span class="item-loading"
                  [class.displayed]="!event?.datetime">&nbsp;</span>

            <span class="truncate">{{ event?.datetime }}</span>
            <span class="truncate">{{ event?.level }}</span>
            <span class="log-message truncate">{{ event?.message }}</span>

          </span>
        </ng-template>
      </div>

      <div class="action-table-detail">
        <div *ngIf="logsActionItem?.message"
             id="virtualScrollTableDetails">
          <mat-tab-group>
            <mat-tab *ngIf="logsActionItem?.message?.length">
              <ng-template mat-tab-label>
                <span>MESSAGE</span>
              </ng-template>
              <ng-template matTabContent>
                <div class="non-json-container">{{ logsActionItem?.message }}</div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

    <div class="table-virtual-scroll-footer"
         fxLayout="row"
         fxLayoutAlign="start center">
      <button class="square-button d-flex flex-center align-center"
              mat-icon-button
              matTooltip="Scroll to bottom"
              (click)="scrollToEnd()">
        <mat-icon svgIcon="arrow-bottom"
                  class="icon-12 d-flex"></mat-icon>
      </button>
      <button class="rectangle-button start-stream d-flex flex-center align-center text-white border-remove"
              mat-icon-button
              matTooltip="Start Streaming"
              (click)="scrollStart()"
              [class.inactive]="!virtualScrollItems?.stream">
        <mat-icon svgIcon="play-circle"
                  class="icon-14 margin-right-5"></mat-icon>
        <span>LIVE</span>
      </button>
      <button class="rectangle-button stop-stream d-flex flex-center align-center"
              mat-icon-button
              matTooltip="Stop Streaming"
              (click)="scrollStop()"
              [class.inactive]="virtualScrollItems?.stream">
        <mat-icon svgIcon="pause-circle"
                  class="icon-14 margin-right-5"></mat-icon>
        <span>PAUSED</span>
      </button>
      <button class="square-button d-flex align-center"
              id="firstPage"
              matTooltip="First Page"
              (click)="loadFirstPage()"
              [disabled]="searchText || activeFilters.length || (!searchText && (!virtualScrollItems?.pages.length || virtualScrollItems.ids.length < virtualPageSize))">
        <mat-icon svgIcon="arrow-left-stop"
                  class="icon-16"></mat-icon>
      </button>
      <button class="square-button d-flex align-center flex-center"
              id="previousPage"
              matTooltip="Previous Page"
              (click)="loadPreviousPage()"
              [disabled]="searchText || (!searchText && (!virtualScrollItems?.pages.length || virtualScrollItems.ids.length < virtualPageSize))">
        <mat-icon svgIcon="less-than"
                  class="icon-8 d-flex"></mat-icon>
      </button>
      <button class="square-button d-flex align-center flex-center"
              id="nextPage"
              matTooltip="Next Page"
              (click)="loadNextPage()"
              [disabled]="searchText || (!searchText && (!virtualScrollItems?.pages.length || virtualScrollItems.activePage.id === virtualScrollItems.pages[virtualScrollItems.pages.length - 1]))">
        <mat-icon svgIcon="greater-than"
                  class="icon-8 d-flex"></mat-icon>
      </button>
      <button class="square-button d-flex align-center"
              id="lastPage"
              matTooltip="Last Page"
              (click)="loadLastPage()"
              [disabled]="searchText || (!searchText && (!virtualScrollItems?.pages.length || virtualScrollItems.activePage.id === virtualScrollItems.pages[virtualScrollItems.pages.length - 1]))">
        <mat-icon svgIcon="arrow-right-stop"
                  class="icon-16"></mat-icon>
      </button>

      <form [formGroup]="formGroup"
            class="d-flex">
        <mat-form-field appearance="fill"
                        class="custom-bottom-form-field p-relative">
          <input matInput
                 type="text"
                 formControlName="time"
                 matTooltip="Filtering logs based on time frame"
                 [placeholder]="currentDatePlaceholder"
                 maxlength="24"
                 autocomplete="off">
          <mat-icon *ngIf="formGroup.get('time').value"
                    (click)="formGroup.get('time').setValue('')"
                    svgIcon="close-blank"
                    class="p-absolute icon-10 icon-white-7 fill-opacity-1"></mat-icon>
        </mat-form-field>
      </form>

      <span>
        Active Page:
        {{virtualScrollItems?.activePage?.numberOfRecords || 0}}
        records
        <span *ngIf="virtualScrollItems?.activePage?.numberOfRecords">
          , from:
          {{virtualScrollItems?.activePage?.start?.datetime}}
          to:
          {{virtualScrollItems?.activePage?.end?.datetime}}
          </span>
      </span>
    </div>
  </div>

</div>
