<div fxFlexFill
     fxLayout="column"
     class="mini-graph"
     [class.main-graph]="isMainGraph">
  <div fxLayout="column"
       fxLayoutGap="10px"
       class="graph-overview"
       [class.minimal]="!isMainGraph">
    <span class="operation-name text-nowrap">
      {{ operationName }}
      <span class="total-time">
        {{ graphData.queriesCount | thousandTransform }} <span
        class="text-white-4">calls</span> · {{ graphData.totalTime | timeTransform: false: false: true }}
      </span>
    </span>
    <div fxLayoutAlign="start center"
         *ngIf="isMainGraph">
      <mat-icon svgIcon="arrow-down"
                class="icon-16"></mat-icon>
      <span class="calls-label">Total time</span>
    </div>
  </div>
  <div fxLayout="row"
       fxLayoutGap="4px">
    <div fxLayout="column"
         fxLayoutGap="6px"
         class="y-steps">
      <span *ngFor="let step of ySteps">{{ step }}</span>
    </div>
    <div class="d-flex flex-column">
      <div class="cols-wrap flex-row align-end d-flex">
        <div *ngFor="let col of graphData.columns; let i=index"
             class="gr-col d-flex flex-column-reverse"
             (mouseenter)="openPersonDetailsOverlay(col, i, $event)"
             (mouseleave)="detachOverlay()">
          <div *ngFor="let square of [].constructor(col.squareCount); let j=index"
               [class.yellow-square]="i + j > 6"
               [class.red-square]="i + j > 9"
               class="square"></div>
        </div>
      </div>
      <div *ngIf="xSteps.length"
           class="x-steps d-flex flex-row text-capitalize">
        <span *ngFor="let step of xSteps"
              class="truncate">{{ step }}</span>
      </div>
    </div>
  </div>
  <div fxLayoutAlign="start center"
       class="x-info"
       fxLayoutGap="8px"
       *ngIf="isMainGraph">
    <mat-icon svgIcon="arrow-right"
              class="icon-16"></mat-icon>
    <span class="calls-label">Duration of call</span>
  </div>
</div>

<ng-template #tooltipTemplate
             let-header="header"
             let-count="count"
             let-mean="mean"
             let-max="max"
             let-total="total">
  <div class="tooltip-template">
    <div class="text-white header">{{ header }}</div>
    <div><span class="text-white">{{ count | thousandTransform }}</span> Calls</div>
    <div><span class="text-white">{{ mean | timeTransform: false }}</span> Mean</div>
    <div><span class="text-white">{{ max | timeTransform: false }}</span> Max</div>
    <div><span class="text-white">{{ total | timeTransform: false }}</span> Total Time</div>
  </div>
</ng-template>
