$border-color: rgba(255, 255, 255, 0.1);

.mini-graph {
  padding-right: 30px;

  .graph-overview {
    margin-bottom: 14px;

    &.minimal {
      height: 44px;
      justify-content: flex-end;
    }

    .operation-name {
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.4px;

      .total-time {
        font-weight: 300;
        margin-left: 10px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.cols-wrap {
  height: 142px;
  width: 160px;
  background: repeating-linear-gradient(0deg, #2a2a2e, #2a2a2e 16px, $border-color 0.05em, $border-color 18px);
  border-bottom: 1px solid $border-color;
  padding-top: 2px;
  margin-right: 10px;

  .gr-col {
    min-width: 16px;
    cursor: pointer;

    &:not(:last-child) {
      padding-right: 2px;
      min-width: 18px;
    }

    &:hover .square {
      background-color: rgba(255, 255, 255, 0.7) !important;

      &.yellow-square {
        background-color: #FF9F0A !important;
      }

      &.red-square {
        background-color: #EB5368 !important;
      }
    }

    .square {
      width: 16px;
      height: 16px;
      background-color: #747474;

      &:not(:last-child) {
        margin-top: 2px;
      }

      &.yellow-square {
        background-color: rgba(255, 159, 10, 0.7);
      }

      &.red-square {
        background-color: rgba(235, 83, 104, 0.7);
      }
    }
  }
}

.calls-label {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.svg-icon {
  width: 10px;
  height: 10px;
}

.x-steps,
.y-steps {
  color: rgba(255, 255, 255, 0.4);
  font-size: 10px;
}

.x-steps {
  white-space: nowrap;
  padding-top: 15px;
  height: 25px;
  text-align: right;

  span {
    width: 32px;
    height: 12px;
    margin-left: -14px;
    transform: rotate(-60deg) translate(6px, 1px);
    text-align: right;
  }
}

.x-info {
  margin-top: 5px;
}

.main-graph .x-steps,
.main-graph .y-steps {
  color: #fff;
}

.tooltip-template {
  background-color: #2A2A2E;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.4);

  > div {
    margin-bottom: 8px;
  }

  .header {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 6px 8px;
  }
}
