<div class="details-container">
  <div class="list-group"
       fxLayout="column">
    <div class="summary-row text-uppercase text-white-4 d-flex flex-between">
      <span>{{ resourceType }} summary</span>
      <span>{{ time }}</span>
    </div>
    <div *ngFor="let block of summaryBlocks"
         class="summary-row"
         fxLayoutAlign="space-between center">
      <ng-container *ngIf="block.value">
        <div [style.color]="block.color">{{ block.name }}</div>
        <div class="text-white">{{ block.value | number: block.label !== '%' ? '1.2-2' : '' }} {{ block.label }}</div>
      </ng-container>
    </div>
  </div>
</div>
