<style>
    .table-virtual-scroll-filter {
        padding: 10px 10px 0px 20px;
        display: flex;
        align-items: center;
        /*justify-content: center;*/
    }

    .table-virtual-scroll-filter button {
        min-width: 100px;
        margin-right: 4px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 12px;
        line-height: 20px !important;
        font-weight: 400 !important;

        color: #dde0e6;
        background-color: #2f3848 !important;
        border: 1px solid #434b5b !important;
        border-radius: 8px;
        min-width: 0px;
        padding: 0px 8px 0px 8px !important;
    }

    .table-virtual-scroll-filter button.active {
        background-color: #434b5b !important;
    }

    .network-action-filter button.active mat-icon {
        display: inline-block;
        font-size: 18px;
        margin-left: -8px;
        height: 20px;
        width: 20px;
    }
</style>

<div class="network-action-container">

    <div class="table-virtual-scroll">

        <div class="table-virtual-scroll-filter">
            <!--
            <span style="font-size:12px;padding-right:8px;font-weight: 500; color:#cacaca !important">Filters:</span> 
            -->
            <!--
                {{ networkAction.filter.local }}
            -->

            <!--
                <span style="font-size:12px;padding: 0px 8px 0px 0px;font-weight: 500; width: 60px;color:#cacaca !important">Source</span>
                <button mat-flat-button [class.active]="networkAction.filter.local" (click)="filter('local')">
                    Local
                </button>
                <button mat-flat-button [class.active]="networkAction.filter.remote" (click)="filter('remote')">
                    Remote
                </button>
            -->

            <span
                style="font-size:12px;padding: 0px 16px 0px 0px;font-weight: 500; width: 50px;color:#cacaca !important">Control</span>
            <button mat-flat-button [class.active]="networkAction.filter.meta" (click)="filter('meta')">
                Meta
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.connection" (click)="filter('connection')">
                Connection
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.bootstrap" (click)="filter('bootstrap')">
                Bootstrap
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.advertise" (click)="filter('advertise')">
                Advertise
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.swap" (click)="filter('swap')">
                Swap
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.deactivate" (click)="filter('deactivate')">
                Deactivate
            </button>

        </div>

        <div class="table-virtual-scroll-filter"
            style="border-bottom: 0px solid #434b5b !important;padding-bottom:10px;">

            <span
                style="font-size:12px;padding:0px 8px 0px 0px;font-weight: 500; width: 60px;color:#cacaca !important">Messages</span>

            <button mat-flat-button [class.active]="networkAction.filter.currentHead" (click)="filter('currentHead')">
                Current Head
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.currentBranch"
                (click)="filter('currentBranch')">
                Current Branch
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.operation" (click)="filter('operation')">
                Operation
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.protocol" (click)="filter('protocol')">
                Protocol
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.blockHeaders" (click)="filter('blockHeaders')">
                Block Headers
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.blockOperations"
                (click)="filter('blockOperations')">
                Block Operations
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.blockOperationsHashes"
                (click)="filter('blockOperationsHashes')">
                Block Operations Hashes
            </button>

        </div>

        <div class="table-virtual-scroll-header">
            <span style="display:inline-block;min-width: 170px;">Datetime</span>
            <span style="display:inline-block;min-width: 160px;">Address</span>
            <span style="display:inline-block;min-width:  50px;">Source</span>
            <span style="display:inline-block;min-width: 220px;">Type</span>
            <span style="display:inline-block;min-width: 325px;">Message</span>
        </div>
        <cdk-virtual-scroll-viewport [itemSize]="36" [maxBufferPx]="288" [minBufferPx]="288"
            class="table-virtual-scroll-viewport" (scrolledIndexChange)="onScroll($event)">
            <div *cdkVirtualFor="let item of networkActionList" class="table-virtual-scroll-item">
                <span style="display:inline-block;min-width: 170px">{{item?.datetime}}</span>
                <span style="display:inline-block;min-width: 160px">{{item?.remote_addr}}</span>
                <span style="display:inline-block;min-width:  50px">{{item?.remote_requested}}</span>
                <span style="display:inline-block;min-width: 220px">{{item?.category}} <span *ngIf="item?.kind"> |
                        {{ item?.kind }} </span> </span>
                <span style="display:inline-block;min-width: 325px;  white-space: nowrap;
           text-overflow: ellipsis;">{{item?.preview}}</span>
                <!-- <span style="display:inline-block;width: 200px">{{item.message}}</span>   -->
            </div>
        </cdk-virtual-scroll-viewport>
        <div class="table-virtual-scroll-footer">
            <span>
                <button mat-icon-button matTooltip="Start" (click)="start()" *ngIf="!networkAction?.stream">
                    <mat-icon style="color: #737373">play_arrow_outline</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Stop" (click)="stop()" *ngIf="networkAction?.stream">
                    <mat-icon style="color:#737373">stop_outline</mat-icon>
                </button>
                <button mat-icon-button style="transform: rotate(90deg)" matTooltip="Last page" (click)="scrollToEnd()">
                    <mat-icon style="color: #737373">last_page</mat-icon>
                </button>
            </span>
        </div>
    </div>

</div>