<div class="network-action-container">

  <div class="table-virtual-scroll">
    <div class="filters-container logs-filters ">

      <div class="active-filters-row">
        <button class="add-filters" mat-flat-button (click)="filtersState.open=true" [disabled]="filtersState.open">
          <span>
            <svg-icon icon="filter"></svg-icon>
            {{filtersState.open ? 'Active Filters' : 'ADD FILTER'}}
          </span>
        </button>

      </div>

      <mat-accordion class="filters-accordion">
        <mat-expansion-panel [expanded]="filtersState.open" hideToggle="true">
          <ng-template matExpansionPanelContent class="filters-content">
            <div class="filters-row">
              <button class="close-filters-btn" mat-flat-button (click)="filtersState.open=false">
                <span>
                  <svg-icon icon="close"></svg-icon>
                </span>
              </button>

              <span class="filters-label">
                Available Filters
              </span>
            </div>

            <div class="filters-row">
              <span class="filters-label" style="padding: 0px 14px 0px 0px; width: 51px;">Control</span>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.meta" (click)="filterType('meta')">
                Meta
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.connection"
                      (click)=" filterType('connection')">
                Connection
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.bootstrap" (click)=" filterType('bootstrap')">
                Bootstrap
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.advertise" (click)=" filterType('advertise')">
                Advertise
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.swap" (click)=" filterType('swap')">
                Swap
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.deactivate"
                      (click)=" filterType('deactivate')">
                Deactivate
              </button>

              <span class="filters-label" style="padding: 0px 8px 0px 8px; width: 40px;">Source</span>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.local" (click)=" filterType('local')">
                <span style="display:inline-block; margin: 1px 0px 0px -5px;">
                  <svg-icon icon="local" scale="0.8"></svg-icon>
                </span>
                Local
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.remote" (click)=" filterType('remote')">
                <span style="display:inline-block; margin: 1px 0px 0px -5px;">
                  <svg-icon icon="remote" scale="0.8"></svg-icon>
                </span>
                Remote
              </button>


              <span *ngIf="virtualScrollItems.urlParams" style="padding:0px 8px 0px 8px; width: 50px;">Address</span>
              <button *ngIf="virtualScrollItems.urlParams" mat-flat-button class="active" (click)="filterAddress()">
                {{ virtualScrollItems.urlParams }}
              </button>
            </div>

            <div class="filters-row">

              <span class="filters-label" style="padding:0px 6px 0px 0px; width: 60px;">Messages</span>

              <button mat-flat-button [class.active]="virtualScrollItems.filter.currentHead"
                      (click)=" filterType('currentHead')">
                Current Head
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.currentBranch"
                      (click)=" filterType('currentBranch')">
                Current Branch
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.operation" (click)=" filterType('operation')">
                Operation
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.protocol" (click)=" filterType('protocol')">
                Protocol
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.blockHeaders"
                      (click)=" filterType('blockHeaders')">
                Block Headers
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.blockOperations"
                      (click)=" filterType('blockOperations')">
                Block Operations
              </button>
              <button mat-flat-button [class.active]="virtualScrollItems.filter.blockOperationsHashes"
                      (click)=" filterType('blockOperationsHashes')">
                Block Operations Hashes
              </button>


            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

    <div class="table-virtual-scroll-header network-header">
      <span>DATETIME</span>
      <span>ADDRESS</span>
      <span>SOURCE</span>
      <span>TYPE</span>
      <span>MESSAGE</span>
    </div>

    <div class="table-virtual-scroll-body">

      <div class="virtual-scroll-container" [class.network-filters-expanded]="filtersState.open">
        <ng-template vsFor [vsForOf]="virtualScrollItems" let-event let-position="position"
                     (getItems)="getItems($event)" (startStopDataStream)="startStopDataStream($event)">
          <span class="virtualScrollRow network-row" [style.transform]="position !== undefined ? 'translate(0px,' + position + 'px)' : ''"
                [class.virtualScrollRowEven]="event?.index % 2" (mouseenter)="event ? tableMouseEnter(event) : null"
                [class.hover]="event?.datetime && networkActionItem.id===event?.id"
                [class.used]="event?.datetime">

            <span class="item-loading" [class.displayed]="!event?.datetime">&nbsp;</span>

            <span class="truncate">{{event?.datetime}}</span>
            <span class="network-action-table-address truncate"><a href="#/network/{{ event?.remote_addr }}"> {{ event?.remote_addr }}</a></span>
            <span>
              <span *ngIf="event?.datetime && (event?.source_type==='local' || event?.source_type==='remote')">
                <svg-icon icon="{{event?.source_type==='local' ? 'local' : 'remote'}}"></svg-icon>
                <svg-icon icon="{{event?.source_type==='local' && !event?.incoming  || event?.source_type==='remote' && event?.incoming ? 'arrow-right' : 'arrow-left'}}"></svg-icon>
                <svg-icon icon="{{event?.source_type==='local' ? 'remote' : 'local'}}"></svg-icon>
              </span>
            </span>
            <span class="truncate">
              {{event?.category}}<span *ngIf="event?.kind"> | {{ event?.kind }}</span>
            </span>

            <span class="truncate">{{event?.preview}}</span>

          </span>
        </ng-template>
      </div>

      <div class="action-table-detail" id="virtualScrollTableDetails">
        <mat-tab-group>
          <mat-tab *ngIf="showTab('JSON')">
            <ng-template mat-tab-label>
              <span>JSON</span>
            </ng-template>
            <ng-template matTabContent>
              <ngx-json-viewer *ngIf="networkActionItem?.payload" [json]="networkActionItem?.payload" [expanded]="false">
              </ngx-json-viewer>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="showTab('HEX')">
            <ng-template mat-tab-label>
              <span>Hex Values</span>
            </ng-template>
            <ng-template matTabContent>
<!--              <ngx-json-viewer *ngIf="networkActionItem?.hexValues?.length" [json]="networkActionItem?.hexValues" [expanded]="false">-->
<!--              </ngx-json-viewer>-->

              <div fxLayout="column" class="non-json-container">
                <span *ngFor="let hexItem of networkActionItem?.hexValues">{{hexItem}}</span>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="showTab('ERROR')">
            <ng-template mat-tab-label>
              <span>Error</span>
            </ng-template>
            <ng-template matTabContent>
              <div class="non-json-container">{{networkActionItem?.error[0]}}</div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div class="table-virtual-scroll-footer">
      <span>
        <button id="startStreaming" mat-icon-button matTooltip="Start" (click)="scrollStart(null)" *ngIf="!virtualScrollItems?.stream">
          <mat-icon>play_arrow_outline</mat-icon>
        </button>
        <button id="stopStreaming" mat-icon-button matTooltip="Stop" (click)="scrollStop()" *ngIf="virtualScrollItems?.stream">
          <mat-icon>stop_outline</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Last page" (click)="scrollToEnd()">
          <mat-icon style="transform: rotate(90deg)">last_page</mat-icon>
        </button>
      </span>
    </div>

  </div>

</div>
