.network-action-container {
    background-color: #F5F9FC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-action {
    background-color: white;
    margin-top: 30px;
    width: 800px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.network-action th.mat-header-cell.cdk-column-datetime.mat-column-datetime {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.network-action .mat-cell.cdk-column-datetime.mat-column-datetime {
    padding: 20px;
    width: 140px;
}


.network-action th.mat-header-cell.cdk-column-address.mat-column-address {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.network-action .mat-cell.cdk-column-address.mat-column-address {
    width: 100px;
}

.network-action th.mat-header-cell.cdk-column-type.mat-column-type {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.network-action .mat-cell.cdk-column-type.mat-column-type {
    width: 180px;
}

.network-action th.mat-header-cell.cdk-column-message.mat-column-message {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.network-action .mat-cell.cdk-column-message.mat-column-message {
    padding-right: 10px;
    width: 140px;
}


.detail-expanded {
    display: table-row;
    background-color: #F5F9FC;
    min-height: 36px !important;
}

.detail-colapsed {
    display: none;
}

.row-expanded {
    background-color: #F5F9FC;
}

.row-expanded td.mat-cell {
    border-top: 1px solid #c5cae9 !important;
    border-bottom: 1px solid #F5F9FC !important;
}

.row-colapsed {
    background-color: #FFFFFF;
}

.expanded-detail-cell {
    max-width: 700px;
    padding: 0px 0px 15px 0px !important;
    border-top: 1px solid #c5cae9 !important;
    border-bottom: 1px solid #c5cae9 !important;
}


@media (max-width: 600px) {
    .network-action {
        max-width: 90vw !important;
    }
    th.mat-header-cell.cdk-column-datetime.mat-column-datetime {
        display: none;
    }
    .mat-cell.cdk-column-datetime.mat-column-datetime {
        display: none;
    }
    th.mat-header-cell.cdk-column-message.mat-column-message {
        display: none;
    }
    .mat-cell.cdk-column-message.mat-column-message {
        display: none;
    }
    th.mat-header-cell.cdk-column-address.mat-column-address {
        width: 5vw !important;
        padding-left: 24px;
    }
    .mat-cell.cdk-column-address.mat-column-address {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        min-width: 30vw !important;
        max-width: 3vw !important;
        padding-left: 24px;
    }
    th.mat-header-cell.cdk-column-type.mat-column-type {
        width: 35vw !important;
    }
    .mat-cell.cdk-column-type.mat-column-type {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        min-width: 5vw !important;
        max-width: 5vw !important;
    }
}

.mat-cell.cdk-column-datetime.mat-column-datetime {
    padding: 7px 0px 7px 20px !important;
}