<style>
    .network-action-table-filter {
        padding: 10px 10px 0px 20px;
        display: flex;
        align-items: center;
    }

    .network-action-table-filter button {
        min-width: 100px;
        margin-right: 4px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 12px;
        line-height: 20px !important;
        font-weight: 400 !important;
        border-radius: 8px;
        min-width: 0px;
        padding: 0px 8px 0px 8px !important;
    }

    .network-action-table-filter span {
        font-size: 12px;
        font-weight: 500;
    }

    .network-action-table-datetime {
        display: inline-block;
        min-width: 170px;
    }

    .network-action-table-address {
        display: inline-block;
        min-width: 150px;
    }

    .network-action-table-address a {
        text-decoration: none;
    }

    .network-action-table-source {
        display: inline-block;
        min-width: 70px;
    }

    .network-action-table-type {
        display: inline-block;
        min-width: 260px;
    }

    .network-action-table-message {
        display: inline-block;
        min-width: 200px;
    }
</style>

<div class="network-action-container">

    <div style="width: 1000px;margin-top: 10px;">

        <div class="network-action-table-filter">

            <span style="padding: 0px 14px 0px 0px; width: 51px;">Control</span>
            <button mat-flat-button [class.active]="networkAction.filter.meta" (click)="filterType('meta')">
                Meta
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.connection"
                (click)=" filterType('connection')">
                Connection
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.bootstrap" (click)=" filterType('bootstrap')">
                Bootstrap
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.advertise" (click)=" filterType('advertise')">
                Advertise
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.swap" (click)=" filterType('swap')">
                Swap
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.deactivate"
                (click)=" filterType('deactivate')">
                Deactivate
            </button>

            <span style="padding: 0px 8px 0px 8px; width: 40px;">Source</span>
            <button mat-flat-button [class.active]="networkAction.filter.local" (click)=" filterType('local')">
                <span style="display:inline-block; margin: 1px 0px 0px -5px;">
                    <svg-icon icon="local" scale="0.8"></svg-icon>
                    <svg-icon icon="arrow-left" scale="0.8"></svg-icon>
                    <svg-icon icon="remote" scale="0.8"></svg-icon>
                </span>
                Local
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.remote" (click)=" filterType('remote')">
                <span style="display:inline-block; margin: 1px 0px 0px -5px;">
                    <svg-icon icon="remote" scale="0.8"></svg-icon>
                    <svg-icon icon="arrow-left" scale="0.8"></svg-icon>
                    <svg-icon icon="local" scale="0.8"></svg-icon>
                </span>
                Remote
            </button>


            <span *ngIf="networkAction.urlParams" style="padding:0px 8px 0px 8px; width: 50px;">Address</span>
            <button *ngIf="networkAction.urlParams" mat-flat-button class="active" (click)="filterAddress()">
                {{ networkAction.urlParams }}
            </button>

        </div>

        <div class="network-action-table-filter" style="padding-bottom:10px;">

            <span style="padding:0px 6px 0px 0px; width: 60px;">Messages</span>

            <button mat-flat-button [class.active]="networkAction.filter.currentHead"
                (click)=" filterType('currentHead')">
                Current Head
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.currentBranch"
                (click)=" filterType('currentBranch')">
                Current Branch
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.operation" (click)=" filterType('operation')">
                Operation
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.protocol" (click)=" filterType('protocol')">
                Protocol
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.blockHeaders"
                (click)=" filterType('blockHeaders')">
                Block Headers
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.blockOperations"
                (click)=" filterType('blockOperations')">
                Block Operations
            </button>
            <button mat-flat-button [class.active]="networkAction.filter.blockOperationsHashes"
                (click)=" filterType('blockOperationsHashes')">
                Block Operations Hashes
            </button>

        </div>

    </div>

    <div class="table-virtual-scroll">

        <div class="table-virtual-scroll-header">
            <span class="network-action-table-datetime">Datetime</span>
            <span class="network-action-table-address">Address</span>
            <span class="network-action-table-source">Source</span>
            <span class="network-action-table-type">Type</span>
            <span class="network-action-table-message">Message</span>
        </div>

        <div style="display:flex;flex-direction: row;">

            <cdk-virtual-scroll-viewport style="align-items: flex-start;" class="table-virtual-scroll-viewport"
                (scrolledIndexChange)="onScroll($event)" [itemSize]="36" [maxBufferPx]="288" [minBufferPx]="288">

                <div *cdkVirtualFor="let item of networkActionList" class="table-virtual-scroll-item" 
                    [class.hover]="item?.id === networkActionItem?.id"
                    (mouseenter)="tableMouseEnter(item)">
                    <span class="network-action-table-datetime">
                        {{item?.datetime}}
                    </span>
                    <span class="network-action-table-address">
                        <a href="#/network/{{ item?.remote_addr }}"> {{ item?.remote_addr }}</a>
                    </span>
                    <span class="network-action-table-source">
                        <span *ngIf="item?.remote_requested===true">
                            <svg-icon icon="local"></svg-icon>
                            <svg-icon icon="arrow-left"></svg-icon>
                            <svg-icon icon="remote"></svg-icon>
                        </span>
                        <span *ngIf="item?.remote_requested===false">
                            <svg-icon icon="remote"></svg-icon>
                            <svg-icon icon="arrow-left"></svg-icon>
                            <svg-icon icon="local"></svg-icon>
                        </span>
                    </span>
                    <span class="network-action-table-type">
                        {{item?.category}}<span *ngIf="item?.kind"> | {{ item?.kind }}</span>
                    </span>
                    <!-- <span class="network-action-table-message">
                    {{item?.preview}}
                </span> -->
                </div>
            </cdk-virtual-scroll-viewport>

            <div class="network-action-table-detail">
                <!-- <mat-tab-group style="">
                    <mat-tab label="PREVIEW"> -->
                <div>

                    <ngx-json-viewer [json]="networkActionItem?.payload" [expanded]="true">
                    </ngx-json-viewer>

                </div>
                <!-- </mat-tab>
                </mat-tab-group> -->
            </div>

        </div>

        <div class="table-virtual-scroll-footer">
            <span>
                <button mat-icon-button matTooltip="Start" (click)="scrollStart()" *ngIf="!networkAction?.stream">
                    <mat-icon>play_arrow_outline</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Stop" (click)="scrollStop()" *ngIf="networkAction?.stream">
                    <mat-icon>stop_outline</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Last page" (click)="scrollToEnd()">
                    <mat-icon style="transform: rotate(90deg)">last_page</mat-icon>
                </button>
            </span>
        </div>

    </div>

</div>