.settings-node-status-icon {
  font-size: 12px;
  padding-left: 4px;
  height: auto;
  width: auto;
  color: #3ecab7;

  &.is-offline {
    color: #883f53;
  }
}

.settings-node-select {
  width: 220px;
  line-height: 28px;
  padding-left: 14px;
  border-radius: 4px;
}

.settings-node-select:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.mat-button:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.settings-node-status-option-icon {
  font-size: 12px;
  margin: 8px 0 0 0 !important;
  height: 20px;
  width: 20px;
  color: #3ecab7;
}

.settings-node-status-option-icon-offline {
  font-size: 12px;
  margin: 8px 0 0 0 !important;
  height: 20px;
  width: 20px;
  color: #883f53;
}

.settings-node-option {
  height: 46px !important;
  padding: 3px 25px 3px 10px;
  background-color: #2a2b2e;
  color: white;
}

.settings-node-option-status {
  margin: -20px 0px 0px 0px;
  font-size: 10px;
}

