.settings-node-status-icon {
  font-size: 12px;
  padding-left: 4px;
  height: auto;
  width: auto;
  color: #3ecab7;

  &.is-offline {
    color: #883f53;
  }
}

.settings-node-select {
  width: 220px;
  line-height: 28px;
  padding-left: 14px;
  border-radius: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.13);
  }
}

.node-status-option-icon {
  font-size: 12px;
  margin: 10px 0 0 4px !important;
  height: 20px;
  width: 20px;
  color: #3ecab7;

  &.offline {
    color: #883f53;
  }
}

.settings-node-option {
  height: 46px !important;
  padding: 3px 25px 3px 10px;
  background-color: #2a2b2e;
  color: white;
}

.settings-node-option-status {
  margin: -20px 0 0 0;
  font-size: 10px;
}

.done-icon {
  width: 30px;

  mat-icon {
    font-size: 22px;
  }
}

.sandbox-button-wrapper {
  background-color: #2a2b2e;
  padding: 12px 10px 12px 40px;

  button {
    font-size: 12px;
    line-height: 24px;
    color: white;
    background: #8C6141;
    font-weight: 300;
  }
}
