<div *ngIf="activeNode"
     [style.opacity]="0.8">

  <mat-form-field class="settings-node-select">

    <mat-select #nodeSelect
                [value]="activeNode.id"
                (click)="onOpeningNodeSelect()"
                disableOptionCentering
                panelClass="settings-node">

      <mat-select-trigger fxLayout="row"
                          fxLayoutAlign="start center">
        {{ activeNode.name }}
        <mat-icon [class.is-offline]="!activeNode.connected"
                  class="settings-node-status-icon">
          fiber_manual_record
        </mat-icon>
      </mat-select-trigger>

      <ng-container *ngFor="let node of settingsNodeEntities">
        <!-- TODO: remove hardcoded 'sandbox-carthage-tezedge' everywhere and use some flag -->
        <mat-option *ngIf="node.id !== 'sandbox-carthage-tezedge' || node.connected === true || node.connected === 'pending'"
                    [value]="node.id"
                    (click)="onNodeChange(node.id)"
                    class="settings-node-option">
          <div fxLayout="row"
               fxLayoutAlign="start center">
            <div class="done-icon">
              <mat-icon *ngIf="node.id === activeNode.id">done</mat-icon>
            </div>
            <div fxLayout="column">
              <div fxLayout="row"
                   fxLayoutAlign="start center">
                {{ node.name }}
                <mat-icon *ngIf="node.connected === 'pending'"
                          class="node-status-option-icon offline">
                  hourglass_empty
                </mat-icon>
                <mat-icon *ngIf="node.connected === true"
                          class="node-status-option-icon">
                  fiber_manual_record
                </mat-icon>
                <mat-icon *ngIf="node.connected === false"
                          class="node-status-option-icon offline">
                  fiber_manual_record
                </mat-icon>
              </div>

              <div class="settings-node-option-status">
                <span *ngIf="node.connected === 'pending'">
                  connecting
                </span>
                <span *ngIf="node.connected === true">
                  {{ node.header?.protocol | slice:0:10 }} | last block {{ node.relativeDateTime }}
                </span>
                <span *ngIf="node.connected === false">
                  offline
                </span>
              </div>

            </div>

          </div>
        </mat-option>
      </ng-container>

      <div class="sandbox-button-wrapper">
        <button *ngIf="sandbox?.connected === false"
                mat-flat-button
                (click)="navigateToSandboxAdd(); nodeSelect.close()">
          ADD SANDBOX NODE
        </button>
        <button *ngIf="sandbox?.connected === true"
                mat-flat-button
                (click)="stopSandboxNode(); nodeSelect.close()">
          STOP SANDBOX NODE
        </button>
      </div>

    </mat-select>

  </mat-form-field>

</div>
