:host {
  position: fixed;
  z-index: 100000;
}

.custom-notification {
  padding-top: 5px;
  padding-bottom: 5px;

  .title {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .message {
    font-size: 12px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
