<router-outlet></router-outlet>


<div class="state-chart-wizard h-100 padding-10 d-flex flex-row align-center"
     #stateWizard>
  <div *ngFor="let block of data"
       class="block margin-left-10"
       [class.action]="block.type === 'action'"
       [class.active]="block.status === 'active'"
       [class.completed]="block.status === 'completed'"
       [class.pending]="block.status === 'pending'"
       [style.left]="block.left"
       #blocks>
    <span>{{ block.title }}</span>
  </div>
</div>
