$white-7: rgba(255, 255, 255, 0.7);
$white-1: rgba(255, 255, 255, 0.1);

.state-chart-wizard {
  background-color: #2A2A2E;
  border-top-left-radius: 5px;

  .block {
    padding: 10px;
    color: $white-7;
    border-radius: 4px;

    &.action {
      border-radius: 20px;
    }

    &.active {
      background-color: rgba(32, 78, 138, 1);
    }

    &.completed {
      background-color: $white-1;
    }

    &.pending {
      border: 1px solid $white-1;
    }
  }
}
