@import 'variables';
@import 'layout';

:host {
  height: 100%;
  @include flexColumn();
}

.table-container {
  $col1: 380px;
  $col2: 160px;
  $col3: 190px;
  $col4: 150px;
  $col5: 160px;
  $col6: 150px;
  min-width: $col1 + $col2 + $col3 + $col4 + $col5 + $col6 + 30px;
  color: $foreground-7;

  .row {
    grid-template-columns: $col1 $col2 $col3 $col4 $col5 $col6;

    &:hover:not(.head) {
      color: $foreground;
    }

    > span {
      line-height: 36px;
      padding-left: 16px;

      .spinner {
        animation: rotateInfinite 1.5s linear infinite;
      }

      @keyframes rotateInfinite {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}

