.network-stats-panel {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 0px 0px;
}

.network-stats-left {
  align-self: flex-start;
}

.network-stats-right {
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.network-stats-card-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  height: 50px;
  box-sizing: content-box;
}

.network-stats-card-left {
  align-self: flex-start;
}

.network-stats-card-number {
  font-size: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
}

.network-stats-card-right {
  display: flex;
  align-self: center;
  /* align-items: flex-end; */
  justify-content: center;
  flex-direction: column;
  width: 120px;
}

.network-stats-card-right-content {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.network-stats-row {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  padding-top: 35px;
  /* height: 300px; */
}

@media (max-width: 600px) {
  .network-stats-row {
    display: block !important;
  }
  .network-stats-card {
    width: initial !important;
    margin: 15px;
  }
}

.network-stats-chart-x-label {
  opacity: 0.6;
  font-size: 14px;
}

.network-stats-chart-y-label {
  opacity: 0.6;
  font-size: 14px;
}
