.network-stats-panel {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.network-stats-card {
  background-color: var(--background-surface);
  border: 1px solid var(--background-surface-fade-1);
  box-sizing: border-box;
  border-radius: 4px;
  width: 340px;
  margin: 10px;
}

.network-stats-card-title {
  font-size: 14px;
  line-height: 24px;
  mix-blend-mode: normal;
  padding: 7px 0 7px 15px;
  border-bottom: 1px solid var(--background-surface-fade-1);
}

.network-stats-left {
  align-self: flex-start;
}

.network-stats-right {
  display: flex;
  align-self: center;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.network-stats-card-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  height: 50px;
  box-sizing: content-box;
}

.network-stats-card-left {
  align-self: flex-start;
}

.network-stats-card-number {
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
}

.network-stats-card-right {
  display: flex;
  align-self: center;
  /* align-items: flex-end; */
  justify-content: center;
  flex-direction: column;
  width: 126px;
}

.network-stats-card-right-content {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.network-stats-row {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  padding-top: 35px;
  /* height: 300px; */
}

@media (max-width: 600px) {
  .network-stats-row {
    display: block !important;
  }
  .network-stats-card {
    width: initial !important;
    margin: 15px;
  }
}

.network-stats-chart-x-label {
  opacity: 0.6;
  font-size: 14px;
}

.network-stats-chart-y-label {
  opacity: 0.6;
  font-size: 14px;
}
