<style>
    .network-stats {}
    
    .network-stats-panel {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px 0px 0px;
    }
    
    .network-stats-left {
        align-self: flex-start;
    }
    
    .network-stats-right {
        display: flex;
        align-self: center;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }
    
    .network-stats-card {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 4px;
        width: 340px;
        margin: 10px;
    }
    
    .network-stats-card-title {
        font-family: Roboto;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        color: rgba(0, 0, 0, 0.6);
        mix-blend-mode: normal;
        padding: 7px 0px 7px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .network-stats-card-content {
        display: flex;
        justify-content: space-between;
        padding: 15px 15px;
    }
    
    .network-stats-card-left {
        align-self: flex-start;
    }
    
    .network-stats-card-number {
        font-size: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
    }
    
    .network-stats-card-right {
        display: flex;
        align-self: center;
        /* align-items: flex-end; */
        justify-content: center;
        flex-direction: column;
    }
    
    .network-stats-card-right-content {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #000000;
    }
    
    .network-stats-row {
        display: flex;
        /* justify-content: space-between; */
        flex-direction: row;
        padding-top: 25px;
        /* height: 300px; */
    }
    
    @media (max-width: 600px) {
        .network-stats-row {
            display: block !important;
        }
        .network-stats-card {
            width: initial !important;
            margin: 15px;
        }
    }
    
    .network-stats-chart-x-label {
        opacity: 0.6;
        font-size: 14px;
    }
    
    .network-stats-chart-y-label {
        opacity: 0.6;
        font-size: 14px;
    }
</style>

<div class="network-stats">

    <!-- <div class="network-stats-row">
        <div class="network-stats-chart">
            <ngx-charts-line-chart [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
                [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [curve]="curve" autoScale="true"
                tooltipDisabled="false" animations="false" roundDomains="false">
            </ngx-charts-line-chart>
        </div>
    </div> -->

    <div class="network-stats-row">

        <div class="network-stats-card">
            <div class="network-stats-card-title">
                Syncing headers and operations
            </div>
            <div class="network-stats-card-content">

                <div class="network-stats-card-left">
                    <span class="network-stats-card-number" *ngIf="networkStats?.downloadedBlocks">
                        {{ (networkStats?.downloadedBlocks/(networkStats?.currentBlockCount*0.01)) | number:'1.1-1'}}%
                    </span>
                </div>

                <div class="network-stats-card-right">

                    <span class="network-stats-card-right-content" style="font-weight:400;">{{networkStats?.eta}}
                        remaining</span>
                    <span class="network-stats-card-right-content">{{ networkStats?.downloadedBlocks}}
                        level</span>
                    <span class="network-stats-card-right-content">{{networkStats?.downloadRate}} blocks/s </span>

                </div>

            </div>
        </div>

        <div class="network-stats-card">
            <div class="network-stats-card-title">
                Applying operations
            </div>
            <div class="network-stats-card-content">

                <div class="network-stats-card-left">
                    <span class="network-stats-card-number" style="color: #00DBC6;" *ngIf="networkStats?.downloadedBlocks">
                        {{ (networkStats?.lastAppliedBlock?.level/(networkStats?.currentBlockCount*0.01)) | number:'1.1-1'}}%
                    </span>
                </div>

                <div class="network-stats-card-right">

                    <span class="network-stats-card-right-content" style="font: weight 400;">{{networkStats?.etaApplications}}
                        remaining</span>
                    <span class="network-stats-card-right-content"> {{ networkStats?.lastAppliedBlock?.level}}
                        level</span>
                    <span class="network-stats-card-right-content">
                        {{ networkStats.currentApplicationSpeed / 60 | number:'1.1-1' }} blocks/s </span>
                    <!-- <span
                        class="network-stats-card-right-content">{{networkPeersMetrics?.totalAvgSpeed | bandwidth:'s' }}
                    </span> -->


                    <!-- <div class="network-stats-card-third">
    
                        {{ networkStats?.lastAppliedBlock?.level}} |
                        {{ networkStats.currentApplicationSpeed / 60 | number:'1.1-1' }} |
                        {{ networkStats?.downloadedBlocks}} |
                        {{ networkStats?.currentBlockCount}}
    
                    </div> -->

                </div>

            </div>
        </div>

    </div>

    <!-- <div class="network-stats-panel">

        <div class="network-stats-left">
            <span class="network-stats-completed" *ngIf="networkStats?.downloadedBlocks">
                {{ (networkStats?.downloadedBlocks/(networkStats?.currentBlockCount*0.01)) | number:'1.1-1'}}%
            </span>
            <br />
        </div>

        <div class="network-stats-right">

            <span class="network-stats-eta">{{networkStats?.eta}}</span>
            <span class="network-stats-rate">{{networkStats?.downloadRate}} blocks/s </span>


            <div class="network-stats-bootstrap">
                {{ networkPeersMetrics?.totalAvgSpeed | bandwidth:'s' }} |
                {{ networkStats?.lastAppliedBlock?.level}} |
                {{ networkStats.currentApplicationSpeed / 60 | number:'1.1-1' }} |
                {{ networkStats?.downloadedBlocks}} |
                {{ networkStats?.currentBlockCount}}

            </div>
        </div>
    </div>


 -->

</div>