<div class="network-stats">

    <div fxLayout="row"
         fxLayout.lt-md="column"
         class="network-stats-row">

        <div class="network-stats-card">
            <div class="network-stats-card-title">
                Syncing headers and operations
            </div>
            <div class="network-stats-card-content">

                <div class="network-stats-card-left">
                    <span class="network-stats-card-number" *ngIf="networkStats?.downloadedBlocks">
                        {{ (networkStats?.downloadedBlocks/(networkStats?.currentBlockCount*0.01)) | number:'1.1-1'}}%
                    </span>
                </div>

                <div class="network-stats-card-right" *ngIf="networkStats?.downloadedBlocks>0">

                    <span class="network-stats-card-right-content" [class.hidden]="!networkStats?.eta.trim()"
                          style="font-weight:400;">{{ networkStats?.eta }} ETA</span>
                    <span class="network-stats-card-right-content">{{ networkStats?.downloadedBlocks}}
                        level</span>
                    <span class="network-stats-card-right-content">{{networkStats?.downloadRate | number }} blocks/s</span>

                </div>

            </div>
        </div>

        <div class="network-stats-card">
            <div class="network-stats-card-title">
                Applying operations
            </div>
            <div class="network-stats-card-content">

                <div class="network-stats-card-left">
                    <span class="network-stats-card-number" style="color: #00DBC6;"
                        *ngIf="networkStats?.currentBlockCount > 0 && networkStats?.lastAppliedBlock?.level<=networkStats?.currentBlockCount">
                        {{ (networkStats?.lastAppliedBlock?.level/(networkStats?.currentBlockCount*0.01)) | number:'1.1-1'}}%
                    </span>
                </div>

                <div class="network-stats-card-right" *ngIf="networkStats?.lastAppliedBlock?.level > 0 ">

                    <span [class.hidden]="!networkStats?.etaApplications.trim()"
                          class="network-stats-card-right-content" style="font-weight: 400;">{{ networkStats?.etaApplications + ' ETA' }}</span>
                    <span class="network-stats-card-right-content"> {{ networkStats?.lastAppliedBlock?.level}}
                        level</span>
                    <span class="network-stats-card-right-content">
                        {{ networkStats.currentApplicationSpeed / 60 | number:'1.1-1': 'fr' }} blocks/s </span>

                </div>

            </div>
        </div>

    </div>
</div>
