<div class="storage-resources overflow-y-auto"
     fxLayout="column"
     fxLayoutAlign="start stretch"
     fxLayoutGap="10px"
     *ngIf="storageStats$ | async as storageStats">

  <div class="operation"
       fxLayout="column"
       fxLayoutAlign="start stretch">
    <div fxFlex="grow">
      <div class="graph-list"
           fxLayout="row"
           fxLayoutAlign="space-between">
        <app-resources-storage-mini-graph #miniGraph
                                          [operationName]="'COMMIT'"
                                          [graphData]="storageStats.commitContext"
                                          [isMainGraph]="true"></app-resources-storage-mini-graph>
        <app-resources-storage-mini-graph [operationName]="'CHECKOUT'"
                                          [graphData]="storageStats.checkoutContext"
                                          [isMainGraph]="true"></app-resources-storage-mini-graph>
        <ng-container *ngIf="miniGraphRef"> <!--PLACEHOLDERS FOR SYMMETRICAL VIEW-->
          <div fxLayoutAlign="center center">
            <div class="overview text-white-7" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="8px"
                 [style.width.px]="miniGraphRef.nativeElement.offsetWidth">
              <div class="text-white-4">Total values</div>
              <span>Total time: {{ totalTime | timeTransform: false: false: true }}</span>
              <span>Total time read: {{ totalTimeRead | timeTransform: false: false: true }}</span>
              <span>Total time write: {{ totalTimeWrite | timeTransform: false: false: true }}</span>
              <span>Total no of calls: {{ totalCalls | thousandTransform }}</span>
            </div>
          </div>
          <span [style.width.px]="miniGraphRef.nativeElement.offsetWidth"></span>
          <span [style.width.px]="miniGraphRef.nativeElement.offsetWidth"></span>
          <span [style.width.px]="miniGraphRef.nativeElement.offsetWidth"></span>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngFor="let operation of storageStats.operationsContext; let i=index"
       class="operation"
       fxLayout="column"
       fxLayoutAlign="start stretch">
    <div fxFlex="28px" class="slice-header">
      <span class="text-uppercase">{{ operation.root | replaceCharacter: '_': ' '}}</span>
      <span class="total-time">
        {{ operation.actionsCount | thousandTransform }}<span class="grayish"> calls</span>
        &nbsp;·&nbsp;
        {{ operation.totalTime | timeTransform: false: false: true }}<span class="grayish"> total duration </span>
        <span class="grayish">(</span>{{ operation.totalTimeRead | timeTransform: false: false: true }}<span
        class="grayish"> read, </span>
        {{ operation.totalTimeWrite | timeTransform: false: false: true }}<span class="grayish"> write)</span>
      </span>
    </div>
    <div fxFlex="grow">
      <div class="graph-list"
           fxLayout="row"
           fxLayoutAlign="space-between">
        <app-resources-storage-mini-graph [operationName]="'MEM'"
                                          [graphData]="operation.mem"
                                          [isMainGraph]="true"></app-resources-storage-mini-graph>
        <app-resources-storage-mini-graph [operationName]="'FIND'"
                                          [graphData]="operation.find"></app-resources-storage-mini-graph>
        <app-resources-storage-mini-graph [operationName]="'FIND TREE'"
                                          [graphData]="operation.findTree"></app-resources-storage-mini-graph>
        <app-resources-storage-mini-graph [operationName]="'ADD'"
                                          [graphData]="operation.add"></app-resources-storage-mini-graph>
        <app-resources-storage-mini-graph [operationName]="'ADD TREE'"
                                          [graphData]="operation.addTree"></app-resources-storage-mini-graph>
        <app-resources-storage-mini-graph [operationName]="'REMOVE'"
                                          [graphData]="operation.remove"></app-resources-storage-mini-graph>
      </div>
    </div>
  </div>
</div>
