<div class="sidenav-area">

    <!-- <button mat-icon-button style="position:fixed;top:10px;left:10px;">
        <mat-icon (click)="start.toggle()">menu</mat-icon>
    </button> -->

    <!-- Header -->
    <!-- <div class="toolbar">
        <mat-toolbar *ngIf="app.toolbar.isVisible" [style.background-color]="app.toolbar.backgroundColor" [style.color]="app.toolbar.color">
            <button mat-icon-button *ngIf="app.sidenav.toggleButton.isVisible">
                <mat-icon (click)="start.toggle()">menu</mat-icon>
            </button>
            <span *ngIf="app.logo.isVisible"
                style="margin: 40px 0px 0px 10px; font-weight: 300;font-size: 18px;display: flex;align-items: center;justify-content: center;">
            </span>
            <mat-spinner [diameter]="20" [strokeWidth]="1" style="top:20px;left:10px;" *loadingSpinner></mat-spinner>
            <span class="filler-content"></span>
        </mat-toolbar>
    </div> -->


    <!-- Sidebar -->
    <mat-sidenav-container>
        <mat-sidenav #start mode="side" style="padding:10px;width:200px;"
            [style.background-color]="app.sidenav.backgroundColor" [style.color]="app.sidenav.color"
            [opened]="app.sidenav.isVisible" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
            <mat-nav-list>

                <br />
                
                <button mat-icon-button class="app-menu-toggle" *ngIf="app.sidenav.toggleButton.isVisible">
                    <mat-icon (click)="start.toggle()">menu</mat-icon>
                </button>

                <br />
                <br />
                <br />

                <a mat-list-item routerLink="/networking" [style.color]="app.sidenav.color">
                    Networking
                </a>

                <a mat-list-item routerLink="/storage" [style.color]="app.sidenav.color">
                    Storage
                </a>

            </mat-nav-list>

        </mat-sidenav>

        <!-- Content -->
        <mat-sidenav-content>
            <div class="sidenav-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>

    <div class="app-version" class="mat-body"
        style="position: fixed;bottom: 10px;padding-left: 26px; z-index:1;font-size:10px;">
        <div>
            <span style="opacity:0.2;">{{app.version.value}}</span>
            <button *ngIf="app.version.update" style="line-height:26px;font-size:13px;" mat-flat-button>Update
                Available</button>
        </div>
    </div>

    <!-- <mat-toolbar class="app-status-bar">
    </mat-toolbar> -->

</div>