<style>
    .app-menu-toolbar {
        display: flex;
        align-items: center;
        justify-content: right;
        height: 50px;
    }

    .app-menu-toolbar-logo {
        padding-left: 18px;
    }

    .app-menu-toggle {
        position: fixed;
        top: 5px;
        left: 5px;
    }

    .mat-list-base {
        padding-top: 0px;
    }

    .app-submenu {
        color: #0000008a;
        font-size: 10px;
        padding: 22px 0px 22px 0px;
        border-top: 1px solid #e0e0e0;
    }

    .app-submenu span {
        display: block;
        padding-top: 8px;
        padding-left: 20px;
        padding-bottom: 8px;
    }

    .app-submenu a {
        font-weight: 300;
    }

    .app-submenu a span {}
</style>


<div class="sidenav-area">

    <!-- Sidebar -->
    <mat-sidenav-container>
        <mat-sidenav #start [mode]="app.sidenav.mode" style="width:200px;"
            [style.background-color]="app.sidenav.backgroundColor" [style.color]="app.sidenav.color"
            [opened]="app.sidenav.isVisible" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">

            <mat-nav-list>
                <div class="app-menu-toolbar">
                    <div class="app-menu-toolbar-logo" style="color:black">
                        TezEdge
                    </div>
                    <!-- <button mat-icon-button class="app-menu-toggle" *ngIf="app.sidenav.toggleButton.isVisible">
                        <mat-icon (click)="start.toggle()">menu</mat-icon>
                    </button> -->
                </div>

                <div class="app-submenu">
                    <span>
                        NETWORKING
                    </span>

                    <a mat-list-item routerLink="/networking" [style.color]="app.sidenav.color">
                        <span>
                            Synchronization
                        </span>
                    </a>
                    <!--
                        <a mat-list-item routerLink="/networking" [style.color]="app.sidenav.color">
                            <span>
                                Peers
                            </span>
                        </a>
                    -->
                </div>



                <div class="app-submenu">
                    <span>
                        STORAGE
                    </span>

                    <a mat-list-item routerLink="/storage" [style.color]="app.sidenav.color">
                        <span>
                            Explorer
                        </span>
                    </a>
                </div>


            </mat-nav-list>

        </mat-sidenav>

        <!-- Content -->
        <mat-sidenav-content>
            <div class="sidenav-content">
                <button mat-icon-button class="app-menu-toggle">
                    <mat-icon (click)="start.toggle()">menu</mat-icon>
                </button>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>

    <div class="app-version" class="mat-body"
        style="position: fixed;bottom: 10px;padding-left: 26px; z-index:1;font-size:10px;">
        <div>
            <span style="opacity:0.2;">{{app.version.value}}</span>
            <button *ngIf="app.version.update" style="line-height:26px;font-size:13px;" mat-flat-button>Update
                Available</button>
        </div>
    </div>

    <!-- <mat-toolbar class="app-status-bar">
    </mat-toolbar> -->

</div>