.app-status-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 999;
  color: rgba(255, 255, 255, 0.6);
  height: 28px;
  font-size: 12px !important;
  width: calc(100% - 8px);
  border-radius: 4px;
  margin: 4px;

  .pending-transactions {
    color: #1C202B;
    background-color: fade-out(#1C202B, 0.9);
    line-height: normal;
    font-size: 12px;
    font-weight: 300;
    padding: 4px 8px;
    cursor: pointer;
    margin: 0 2px;

    &:disabled {
      cursor: default;
      color: #1C202B;
      background-color: fade-out(#1C202B, 0.9);
    }

    .action {
      font-weight: 500;
      margin-left: 8px;
    }
  }

  .mat-form-field-infix {
    display: flex;
  }
}

.app-menu-toggle {
  opacity: 0.6;

  ::ng-deep .mat-button-focus-overlay {
    display: none;
  }
}

.theme-switcher:hover {
  background: #ffffff20;
}

.mat-sidenav-container {
  @media (min-width: 601px) {
    .tezedge-sidenav {
      min-width: unset;
      width: 200px;
      transition: width 0.18s ease-in;
    }

    &.slim-sidenav {
      .tezedge-sidenav {
        width: 68px;
      }

      .sidenav-content {
        margin-left: 68px !important;
      }
    }
  }
}

.tezedge-sidenav {
  visibility: visible !important;
  z-index: 5 !important;
  left: 0;

  @media (max-width: 600px) {
    left: -210px;
    min-width: 200px;

    &.mat-drawer-opened {
      left: 0;
    }
  }
}

.sidenav-content {
  margin-top: 38px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-height: calc(100vh - 38px);
  height: calc(100vh - 38px) !important;
  transition: margin-left 0.18s ease-in;

  .sidenav-content-container {
    overflow: auto;
    padding-bottom: 20px;
  }

  &.not-visible {
    margin-top: 0 !important;
  }
}
