<style>
    .app-menu-toolbar {
        display: flex;
        align-items: center;
        height: 50px;
    }
    
    .app-menu-toolbar-logo {
        padding-left: 18px;
    }
    
    .app-menu-toggle {
        position: absolute;
        top: 5px;
        left: 10px;
        opacity: 0.5;
    }
    
    .mat-list-base {
        padding-top: 0px;
    }
    
    .app-submenu {
        color: #c4cfdc7a;
        font-size: 12px;
        padding: 22px 0px 12px 0px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .app-submenu span {
        display: block;
        padding-top: 8px;
        padding-left: 20px;
        padding-bottom: 8px;
    }
    
    .app-submenu a {
        /* font-weight: 300; */
    }
    
    .app-submenu a span {}
    
    list-option:focus,
    .mat-list-option:hover,
    .mat-nav-list .mat-list-item:focus,
    .mat-nav-list .mat-list-item:hover {
        background: #1C202B;
    }

</style>


<div class="sidenav-area" style="height: 100%;">

    <!-- TODO: resolve issue with change detection -->
    <!-- <mat-progress-bar [style.display]="app.progressbar.isVisible ? 'inline' : 'none'" mode="indeterminate"
        style="position:fixed;z-index:2;height: 1px;"></mat-progress-bar> -->

    <!-- Sidebar -->
    <mat-sidenav-container>
        <mat-sidenav #start [mode]="app.sidenav.mode" style="min-width:230px;" [style.background-color]="app.sidenav.backgroundColor" [style.color]="app.sidenav.color" [opened]="app.sidenav.isVisible" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">

            <mat-nav-list>

                <div class="app-menu-toolbar">
                    <div class="app-menu-toolbar-logo" style="color:#F6F9FC">
                        TezEdge
                    </div>
                    
                    <button mat-icon-button style="margin-left:110px">
                        <mat-icon *ngIf="app.theme.name === 'dark'" style="font-size:16px; opacity:0.1" (click)="changeTheme('light')">wb_sunny</mat-icon>
                        <mat-icon *ngIf="app.theme.name === 'light'"style="font-size:16px; opacity:0.1" (click)="changeTheme('dark')">bedtime</mat-icon>
                    </button>
                    <!-- <button mat-icon-button class="app-menu-toggle" *ngIf="app.sidenav.toggleButton.isVisible">
                        <mat-icon (click)="start.toggle()">menu</mat-icon>
                    </button> -->
                </div>

                <div class="app-submenu" *ngIf="app.menu.monitoring.synchronization">
                    <span>
                        MONITORING
                    </span>

                    <a mat-list-item *ngIf="app.menu.monitoring.synchronization" routerLink="/monitoring" (click)="isMobile && start.toggle()" [style.color]="app.sidenav.color">
                        <span>
                            <svg-icon style="margin-right: 7px;" icon="history"></svg-icon>
                            Synchronization
                        </span>
                    </a>

                </div>

                <div class="app-submenu" *ngIf="app.menu.explorer.endpoints || app.menu.explorer.network || app.menu.explorer.storage" >
                    <span>
                        EXPLORER
                    </span>

                    <a *ngIf="app.menu.explorer.storage" mat-list-item routerLink="/storage" (click)="isMobile && start.toggle()" [style.color]="app.sidenav.color">
                        <span>
                            <svg-icon style="margin-right: 7px;" icon="storage"></svg-icon>
                            Storage
                        </span>
                    </a> 
                    
                    <a *ngIf="app.menu.explorer.network" mat-list-item routerLink="/network" (click)="isMobile && start.toggle()" [style.color]="app.sidenav.color">
                        <span>
                            <svg-icon style="margin-right: 7px;" icon="peer"></svg-icon>
                            Network
                        </span>
                    </a>

                    <a *ngIf="app.menu.explorer.endpoints" mat-list-item routerLink="/endpoints" (click)="isMobile && start.toggle()" [style.color]="app.sidenav.color">
                        <span>
                            <svg-icon style="margin-right: 7px;" icon="endpoints"></svg-icon>
                            Endpoints
                        </span>
                    </a>
                    

                    <a *ngIf="app.menu.explorer.logs" mat-list-item routerLink="/logs" (click)="isMobile && start.toggle()" [style.color]="app.sidenav.color">
                        <span>
                            <svg-icon style="margin-right: 7px;" icon="logs"></svg-icon>
                            Logs
                        </span>
                    </a> 
                    
                    <!-- 

                    <a mat-list-item routerLink="/mempool" (click)="isMobile && start.toggle()"
                        [style.color]="app.sidenav.color">
                        <span>
                            Mempool
                        </span>
                    </a>
-->


                </div>

                <!-- <div class="app-submenu">
                    <span>
                        DEVELOPER
                    </span>

                    <a mat-list-item routerLink="/storage" (click)="isMobile && start.toggle()"
                        [style.color]="app.sidenav.color">
                        <span>
                            Chain
                        </span>
                    </a>

                    <a mat-list-item routerLink="/storage" (click)="isMobile && start.toggle()"
                        [style.color]="app.sidenav.color">
                        <span>
                            Replay
                        </span>
                    </a>

                    <a mat-list-item routerLink="/storage" (click)="isMobile && start.toggle()"
                        [style.color]="app.sidenav.color">
                        <span>
                            Debug
                        </span>
                    </a>

                    <a mat-list-item routerLink="/storage" (click)="isMobile && start.toggle()"
                    [style.color]="app.sidenav.color">
                        <span>
                            Error
                        </span>
                    </a>
                </div> -->


                <div class="app-submenu">
                    <span>
                        LEARN
                    </span>

                    <a mat-list-item href="https://docs.tezedge.com" target="_blank" rel="noreferrer" [style.color]="app.sidenav.color">
                        <span>
                            <svg-icon style="margin-right: 7px" icon="documentation"></svg-icon>
                            Documentation
                        </span>
                    </a>
                </div>

            </mat-nav-list>

            <!-- node settings -->
            <app-settings-node>
            </app-settings-node>
            
        
        </mat-sidenav>

        <!-- Content -->
        <mat-sidenav-content class="sidenav-content">
            <div>
                <!-- menu -->
                <button mat-icon-button class="app-menu-toggle" *ngIf="isMobile">
                    <mat-icon (click)="start.toggle()">dehaze</mat-icon>
                </button>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>

    <!-- <mat-toolbar class="app-status-bar">
    </mat-toolbar> -->

</div>