.node-tag-number {
  padding: 2px 0 2px 4px;
  margin: 0 0 5px 1px;
  width: 60px;

  &:hover {
    background-color: var(--foreground-1);
  }
}

.commit-numbers-container {
  background-color: var(--background-surface-fade-2);
  color: var(--foreground);

  .commit-numbers-container-item {
    width: 128px;

    &:hover {
      background-color: var(--foreground-1);
    }

    a {
      color: var(--foreground-7);
      text-decoration: unset;
      padding: 8px 10px;
    }
  }
}
