<div class="node-tag-number" *ngIf="!hideComponent && githubVersion$ | async as githubVersion"
     (click)="attachTooltip($event)">
  <span class="node-tag-number-and-icon">
    {{ githubVersion.nodeTag }}
    <svg-icon class="node-tag-icon" icon="caret-down" scale="0.5"></svg-icon>
  </span>
</div>

<ng-template #versionTooltip>
  <div class="commit-numbers-container" *ngIf="githubVersion$ | async as githubVersion">
    <div class="commit-numbers-container-item truncate" id="nodeCommit">
      <a href="{{ githubRepositories.node + githubVersion.nodeCommit }}" target="_blank" rel="noreferrer">
        <span>
          <svg-icon icon="github" scale="0.8"></svg-icon>
          Node
        </span>
      </a>
    </div>

    <div class="commit-numbers-container-item truncate" id="debuggerCommit">
      <a href="{{ githubRepositories.debugger + githubVersion.debuggerCommit }}" target="_blank" rel="noreferrer">
        <span>
          <svg-icon icon="github" scale="0.8"></svg-icon>
          Debugger
        </span>
      </a>
    </div>

    <div *ngIf="githubVersion.explorerCommit?.length" class="commit-numbers-container-item truncate" id="explorerCommit">
      <a href="{{ githubRepositories.explorer + githubVersion.explorerCommit }}" target="_blank" rel="noreferrer">
        <span>
          <svg-icon icon="github" scale="0.8"></svg-icon>
          Explorer
        </span>
      </a>
    </div>
  </div>
</ng-template>
