//.breakpoint-list {
//  z-index: 1;
//  left: 6px;
//  top: 34px;
//
//  .bullet {
//    height: 19px;
//    position: relative;
//    width: 34px;
//
//    &.active::after {
//      position: absolute;
//      content: '';
//      width: 13px;
//      height: 13px;
//      top: 3px;
//      background-color: #c54054;
//      border-radius: 50%;
//    }
//  }
//}

.gas {
  margin-left: 17px;
}

.line {
  margin-left: 11px;
}

.source {
  margin-left: 24px;
}

ngx-monaco-editor {
  width: 100%;
  height: 100% !important;
}
