<div fxFlexFill class="p-relative flex-column padding-left-5">
  <!--  POSTPONE FUNCTIONALITY - add `glyphMargin: true` in options to ensure breakpoint space -->
  <!--  <div class="breakpoint-list p-absolute">-->
  <!--    <div class="bullet"-->
  <!--         (click)="toggleBreakpoint(i)"-->
  <!--         [class.active]="breakpointList.includes(i)"-->
  <!--         *ngFor="let line of activeContract?.code?.split('\n'); let i=index"></div>-->
  <!--  </div>-->

  <div fxFlex="34px" class="foreground-7 padding-10 f-12">
    <span class="gas" [style.margin-left.px]="editorOptions.lineNumbersMinChars * 1.05">GAS</span>
    <span class="line">LINE</span>
    <span class="source">SOURCE CODE</span>
  </div>

  <div fxFlex="calc(100% - 34px)" class="flex-row overflow-hidden">
    <div class="w-100 overflow-hidden">
      <ngx-monaco-editor [options]="editorOptions"
                         (onInit)="onEditorInit($event)"
                         [ngModel]="activeContractCode"></ngx-monaco-editor>
    </div>
  </div>
</div>
