<div fxFlexFill
     class="resources-wizard"
     *ngIf="chartData$ | async as chartData">
  <div class="main-resources-container"
       fxFlex="grow"
       fxLayout="column"
       fxLayoutAlign="start stretch">
    <div class="tabs">
      <!--
      <span class="tab"
            [class.selected]="true">SYSTEM OVERVIEW</span>
      -->
    </div>
    <div fxFlex="grow"
         fxLayout="column"
         fxLayoutAlign="start stretch"
         class="resources-container">
      <div fxFlex="grow"
           fxLayout="column"
           fxLayoutAlign="start stretch"
           class="centered-container">
        <div fxLayout="column"
             [class.fade]="chartData"
             [style.transition-delay.s]="0.2"
             (click)="toggleAdditionalInfo('cpu')"
             class="resource-category-block">
          <div class="graph-title">CPU</div>
          <div class="rotated-label">Load</div>
          <div fxFlex="grow">
            <app-tezedge-line-chart *ngIf="chartData?.cpu[0].series.length"
                                    [startWithYGridLine]="true"
                                    [yAxisTickFormatting]="yAxisPercentageConversion"
                                    [xAxisTicks]="chartData.xTicksValues"
                                    [rotateXAxisTicks]="false"
                                    [results]="chartData.cpu"
                                    [circleAtTheEnd]="true"
                                    [scheme]="colorScheme"
                                    [legend]="false"
                                    [legendTitle]="null"
                                    [xAxis]="true"
                                    [yAxis]="true"
                                    [timeline]="false"
                                    [animations]="false"
                                    [curve]="curve">
              <ng-template #seriesTooltipTemplate
                           let-model="model">
                <ng-container *ngTemplateOutlet="customSeriesTooltipTemplate; context: { model: model, type: 'percentage' }"></ng-container>
              </ng-template>
              <ng-template #tooltipTemplate
                           let-model="model">
                <ng-container *ngTemplateOutlet="customTooltipTemplate; context: { model: model, type: 'percentage' }"></ng-container>
              </ng-template>
            </app-tezedge-line-chart>
          </div>
        </div>
        <div fxLayout="column"
             [class.fade]="chartData"
             [style.transition-delay.s]="0.4"
             (click)="toggleAdditionalInfo('memory')"
             class="resource-category-block">
          <div class="graph-title">RAM</div>
          <div class="rotated-label">Usage</div>
          <div fxFlex="grow">
            <app-tezedge-line-chart *ngIf="chartData?.memory[0].series.length"
                                    [startWithYGridLine]="true"
                                    [results]="chartData.memory"
                                    [rotateXAxisTicks]="false"
                                    [yAxisTickFormatting]="yAxisGigaBytesConversion"
                                    [xAxisTicks]="chartData.xTicksValues"
                                    [circleAtTheEnd]="true"
                                    [scheme]="colorScheme"
                                    [legend]="false"
                                    [legendTitle]="null"
                                    [xAxis]="true"
                                    [yAxis]="true"
                                    [timeline]="false"
                                    [animations]="false"
                                    [curve]="curve">
              <ng-template #seriesTooltipTemplate
                           let-model="model">
                <ng-container *ngTemplateOutlet="customSeriesTooltipTemplate; context: { model: model }"></ng-container>
              </ng-template>
              <ng-template #tooltipTemplate
                           let-model="model">
                <ng-container *ngTemplateOutlet="customTooltipTemplate; context: { model: model }"></ng-container>
              </ng-template>
            </app-tezedge-line-chart>
          </div>
        </div>
        <div fxLayout="column"
             [class.fade]="chartData"
             [style.transition-delay.s]="0.6"
             (click)="toggleAdditionalInfo('disk')"
             class="resource-category-block">
          <div class="graph-title">DISK</div>
          <div class="rotated-label">Storage</div>
          <div fxFlex="grow">
            <app-tezedge-line-chart *ngIf="chartData?.disk[0].series.length"
                                    [startWithYGridLine]="true"
                                    [results]="chartData.disk"
                                    [yAxisTickFormatting]="yAxisGigaBytesConversion"
                                    [rotateXAxisTicks]="false"
                                    [xAxisTicks]="chartData.xTicksValues"
                                    [circleAtTheEnd]="true"
                                    [scheme]="colorScheme"
                                    [legend]="false"
                                    [legendTitle]="null"
                                    [xAxis]="true"
                                    [yAxis]="true"
                                    [timeline]="false"
                                    [animations]="false"
                                    [curve]="curve">
              <ng-template #seriesTooltipTemplate
                           let-model="model">
                <ng-container *ngTemplateOutlet="customSeriesTooltipTemplate; context: { model: model }"></ng-container>
              </ng-template>
              <ng-template #tooltipTemplate
                           let-model="model">
                <ng-container *ngTemplateOutlet="customTooltipTemplate; context: { model: model }"></ng-container>
              </ng-template>
            </app-tezedge-line-chart>
          </div>
        </div>
      </div>
    </div>
    
    <!-- 
      <div fxFlex="38px">
      </div> 
    -->

  </div>
  <div class="info-container"
       fxLayout="column">
    <div class="info-header"
         fxFlex="40px"></div>
    <div class="info-content-container"
         fxFlex="grow"
         fxLayout="column"
         fxLayoutAlign="space-between">
      <div class="additional-info"
           [class.fade]="chartData"
           [style.transition-delay.s]="0.8">
        <app-resources-additional-info [additionalInfo]="additionalInfo[activeAdditionalInfo]"></app-resources-additional-info>
      </div>
    </div>
    <!--
    <h5 class="info-container-title">Additional info - {{ activeAdditionalInfo.toUpperCase() }} - {{ lastMeasurement }}</h5>
    -->
  </div>
</div>


<ng-template #customSeriesTooltipTemplate
             let-model="model"
             let-type="type">
  <div fxLayout="column"
       class="ngx-series-tooltip">
    <div class="time">Time: {{ model[0].name }}</div>
    <div class="data-wrapper"
         fxLayout="column"
         fxLayoutGap="8px">
      <div *ngFor="let entry of model"
           fxLayout="row"
           fxLayoutAlign="start center">
        <div class="color-square"
             [style.background]="entry.color"></div>
        <div>{{ entry.series }}:&nbsp;</div>
        <div *ngIf="type === 'percentage'"
             class="series-value">{{ entry.value }}%
        </div>
        <div *ngIf="type === undefined"
             class="series-value">{{ entry.value / 1000000000 | number: '1.2-2' }} GB
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #customTooltipTemplate
             let-model="model"
             let-type="type">
  <div class="tooltip-content tooltip-template">
    <span fxLayout="column"
          fxLayoutGap="5px">
      <span class="tooltip-label">{{ model.series }} • {{ model.name }}</span>
      <span *ngIf="type === 'percentage'"
            class="tooltip-val">{{ model.value }}%</span>
      <span *ngIf="type === undefined"
            class="tooltip-val">{{ model.value / 1000000000 | number: '1.2-2' }} GB</span>
    </span>
  </div>
</ng-template>
