:host {
  position: fixed;
  z-index: 100000;
  max-width: 70%;
}

.custom-notification {
  .title {
    border-bottom: 1px solid var(--foreground-2);
  }

  .message {
    word-wrap: break-word;
  }
}
