<ng-container *ngIf="resource$ | async as resource">
  <div class="details-container">
    <div class="list-group d-flex flex-column">
      <div class="summary-row text-uppercase text-white-4 d-flex flex-between">
        <span>{{ resource.resourceType }}</span>
        <span>{{ resource.type === 'recently' ? 'Recently' : resource.timestamp }}</span>
      </div>
      <div *ngFor="let block of resource.blocks; let i=index"
           class="summary-row d-flex flex-between align-center">
        <ng-container *ngIf="block.value !== undefined">
          <div [style.color]="colors[i]">{{ block.name }}</div>
          <div class="text-white">
            {{ block.value | number: block.formattingType !== '%' && block.formattingType !== '' ? '1.2-2' : '1.0-2' }} {{ block.formattingType }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="resource.runnerGroups.length"
       class="details-container border-top font-12 text-white-7"><span class="margin-left-10">DETAILS</span></div>
  <div class="details-container border-top"
       *ngFor="let detail of resource.runnerGroups">
    <div class="list-group d-flex flex-column">
      <div class="summary-row  d-flex flex-between">
        <span class="text-white-4">{{ detail.property }}</span>
        <span class="text-white"
              *ngIf="detail.total">{{ detail.total | number: detail.label !== '%' && detail.label !== '' ? '1.2-2' : '1.0-2' }} {{ detail.label }}</span>
      </div>
      <div *ngFor="let thread of detail.values"
           class="summary-row d-flex flex-between align-center">
        <div class="text-white-7">{{ thread.name }}</div>
        <div class="text-white">
          {{ thread.total | number: detail.label !== '%' && detail.label !== '' ? '1.2-2' : '1.0-2' }} {{ detail.label }}
        </div>
      </div>
    </div>
  </div>
</ng-container>
