.details-container {
  padding: 10px;

  .list-group {
    font-size: 12px;
    padding-top: 8px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .summary-row {
      padding: 0 10px;
      height: 32px;

      &:first-child {
        height: 20px;
      }

      &:not(:last-child):not(:first-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    .faded-text {
      color: rgba(255, 255, 255, 0.75) !important;
      margin-left: 2px;
    }
  }
}

.thread-container {
  .sorting {
    padding: 8px 10px;

    .line {
      padding: 0 7px;
    }

    .sort-option {
      &:hover,
      &.active {
        color: #fff !important;
      }
    }
  }

  .thread-group {
    padding-bottom: 5px;

    &:first-child {
      border-top: unset;
    }

    &:not(:first-child) {
      padding-top: 9px;
    }
  }

  .thread-row {
    height: 26px;
  }
}
