<div class="settings-endpoint">

    <div class="settings-endpoint-content">

        <mat-form-field class="settings-endpoint-input" appearance="outline">
            <mat-label>Remote endpoint</mat-label>
            <input matInput [(ngModel)]="settingsEndpointInput" (ngModelChange)="valueChange($event)">
            <mat-hint>Tezos node endpoint (websocket)</mat-hint>
        </mat-form-field>

        <br />
        <br />

        <button class="settings-endpoint-button" mat-flat-button color="primary" (click)="save_endpoint()">Save
            Settings</button>


    </div>

</div>