$faded-white: rgba(51, 51, 52, 1);
$text-color: rgb(164, 164, 165);

.resource-category-block {
  position: relative;
  opacity: 0;
  padding: 2vh 3vw 4vh 0;
  transition: opacity 1s;
  border-radius: 5px;
  background-color: $faded-white;
  margin-left: 10px;
  margin-right: 10px;
  overflow-x: hidden;

  &.fade {
    opacity: 1;
  }

  .graph-title {
    color: #fff;
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
  }

  .rotated-label {
    //position: absolute;
    //left: 10px;
    //top: 50%;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    //justify-content: center;

    span {
      transform: rotate(-90deg) translateY(-6px);
      padding-right: 3vh;
    }

    @media (max-width: 800px) {
      //left: 0;
    }
  }

  .graph-label-list {
    margin-bottom: 12px;
    cursor: context-menu;
    text-align: right;

    .graph-label-item {
      color: $text-color;
      font-size: 12px;
      display: inline-block;
      margin-right: 15px;

      .label-color {
        width: 7px;
        height: 7px;
        border-radius: 5px;
        margin-right: 3px;
        margin-bottom: 1px;
        display: inline-block;
      }
    }
  }
}
