<div class="storage-block-container">

  <div class="table-virtual-scroll">
    <div class="filters-container storage-filters">
    </div>

    <div class="table-virtual-scroll-header storage-block-header">
      <span>DATETIME</span> <!--storage-block-table-datetime-->
      <span>LEVEL</span> <!--storage-block-table-level-->
      <span>HASH</span> <!--storage-block-table-hash-->
    </div>

    <div class="table-virtual-scroll-body">

      <div class="virtual-scroll-container" [class.storage-block-filters-expanded]="filtersState.open">
        <ng-template vsFor [vsForOf]="virtualScrollItems" let-event let-position="position"
                     (getItems)="getItems($event)" (startStopDataStream)="startStopDataStream($event)">
          <span class="virtualScrollRow storage-block-row" [style.transform]="position !== undefined ? 'translate(0px,' + position + 'px)' : ''"
                [class.virtualScrollRowEven]="event?.index % 2" (mouseenter)="event ? getItemDetails(event) : null"
                [class.hover]="event?.datetime && virtualScrollItems?.selected?.hash===event?.hash"
                [class.used]="event?.datetime">

            <span class="item-loading" [class.displayed]="!event?.datetime">&nbsp;</span>

            <span class="truncate">{{event?.datetime}}</span>
            <span class="truncate storage-block-level">{{event?.id}}</span>
            <span class="truncate pointer" [routerLink]="['/storage',event?.hash]">{{event?.hash}}</span>

          </span>
        </ng-template>
      </div>

      <div class="action-table-detail" id="virtualScrollTableDetails">
        <mat-tab-group>
          <mat-tab *ngIf="virtualScrollItems?.selected?.hash">
            <ng-template mat-tab-label>
              <span>JSON</span>
            </ng-template>
            <ng-template matTabContent>
              <ngx-json-viewer *ngIf="virtualScrollItems?.selected?.hash" [json]="virtualScrollItems.selected" [expanded]="false">
              </ngx-json-viewer>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
        <!-- TODO: add the Hex and Error tabs if needed  -->
      </div>
    </div>

    <div class="table-virtual-scroll-footer">
      <span>
        <button id="startStreaming" mat-icon-button matTooltip="Start" (click)="scrollStart(null)" *ngIf="!virtualScrollItems?.stream">
          <mat-icon>play_arrow_outline</mat-icon>
        </button>
        <button id="stopStreaming" mat-icon-button matTooltip="Stop" (click)="scrollStop()" *ngIf="virtualScrollItems?.stream">
          <mat-icon>stop_outline</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Last page" (click)="scrollToEnd()">
          <mat-icon style="transform: rotate(90deg)">last_page</mat-icon>
        </button>
      </span>
    </div>
  </div>

</div>
