.storage-block th.mat-header-cell.cdk-column-level.mat-column-level {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    /* width: 20vw;  */
}
.storage-block .mat-cell.cdk-column-level.mat-column-level  {
    padding: 20px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.storage-block th.mat-header-cell.cdk-column-hash.mat-column-hash {
    text-align: left;
}
.storage-block .mat-cell.cdk-column-hash.mat-column-hash {
    width: 20vw;
    text-align: left;
}


.mat-cell.cdk-column-level.mat-column-level {
    padding: 10px 20px 10px 20px !important;
}