@import 'variables';

.storage-details-actions {
  font-size: 12px;

  .block-hash {
    color: $foreground-4;

    .hash {
      max-width: 200px;
    }
  }
}

.storage-block-row:hover {
  background: #204e8a;
}

.action-table-detail {
  padding: 0;
}

@media (max-width: 600px) {

  .storage-block {
    max-width: 90vw !important;
  }

  th.mat-header-cell.cdk-column-level.mat-column-level {
    display: none;
  }

  .mat-cell.cdk-column-level.mat-column-level {
    display: none;
  }

  th.mat-header-cell.cdk-column-position.mat-column-position {
    display: none;
  }

  .mat-cell.cdk-column-position.mat-column-position {
    display: none;
  }

  th.mat-header-cell.cdk-column-datetime.mat-column-datetime {
    width: 5vw !important;
  }

  .mat-cell.cdk-column-datetime.mat-column-datetime {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 30vw !important;
    max-width: 3vw !important;
    /* padding-right: 10px; */
  }

  th.mat-header-cell.cdk-column-hash.mat-column-hash {
    width: 35vw !important;
  }

  .mat-cell.cdk-column-hash.mat-column-hash {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 5vw !important;
    max-width: 5vw !important;
  }
}
