<div class="storage-block-container">

  <div class="table-virtual-scroll">
    <div class="filters-container storage-filters">
    </div>

    <div class="storage-header-wrapper"
         fxLayoutAlign="start"
         fxLayout="row">
      <div fxFlex="grow">
        <div class="table-virtual-scroll-header storage-block-header">
          <span>DATETIME</span>
          <span>LEVEL</span>
          <span>CYCLE</span>
          <span>HASH</span>
        </div>
      </div>
      <div class="storage-details-actions"
           fxFlex="40%"
           fxLayoutAlign="start center"
           fxLayoutGap="8px">
        <span>BLOCKS</span>
        <div *ngIf="virtualScrollItems?.selected?.hash"
             fxLayoutAlign="start center"
             fxLayoutGap="8px"
             class="block-hash">
          <svg-icon icon="chevron-right"></svg-icon>
          <span class="hash truncate">{{ virtualScrollItems.selected.hash }}</span>
          <svg-icon icon="chevron-down" class="pointer" (click)="getDetailsOfNextBlock()"></svg-icon>
          <svg-icon icon="chevron-up" class="pointer" (click)="getDetailsOfPreviousBlock()"></svg-icon>
        </div>
      </div>
    </div>

    <div class="table-virtual-scroll-body">

      <div class="virtual-scroll-container" [class.storage-block-filters-expanded]="filtersState.open" #vsContainer>
        <ng-template vsFor [vsForOf]="virtualScrollItems" let-event let-position="position"
                     (getItems)="getItems($event)" (startStopDataStream)="startStopDataStream($event)">
          <span class="virtualScrollRow storage-block-row"
                [style.transform]="position !== undefined ? 'translateY(' + position + 'px)' : ''"
                [class.virtualScrollRowEven]="event?.index % 2"
                (mouseenter)="event?.hash ? getItemDetails(event) : null"
                [class.hover]="event?.datetime && virtualScrollItems?.selected?.hash===event?.hash"
                [class.used]="event?.datetime"
                (click)="goToStorageActions(event?.hash)"
          >

            <span class="truncate">{{event?.datetime}}</span>
            <span class="truncate storage-block-level">{{event?.originalId}}</span>
            <span class="truncate">{{event?.cyclePosition}}</span>
            <span class="truncate">
              <span class="storage-block-hash">{{event?.hash}}</span>
            </span>

            <span class="item-loading" [class.displayed]="!event?.datetime">&nbsp;</span>
          </span>
        </ng-template>
      </div>

      <div class="action-table-detail" id="virtualScrollTableDetails">
        <app-storage-block-details *ngIf="virtualScrollItems.selected"
                                   [block]="virtualScrollItems.blockDetails"
                                   [blockHash]="virtualScrollItems.selected.hash"></app-storage-block-details>

        <div class="json-wrap"
             *ngIf="virtualScrollItems?.selected?.hash">
          <div class="json-block">
            <div class="json-header text-gray">JSON</div>
            <ngx-json-viewer [json]="virtualScrollItems.selected"
                             [expanded]="false">
            </ngx-json-viewer>
          </div>
        </div>
        <!-- TODO: add the Hex and Error tabs if needed  -->
      </div>
    </div>

    <div class="table-virtual-scroll-footer" fxLayout="row" fxLayoutAlign="start center">
      <button fxLayout="row" fxLayoutAlign="center center" class="square-button" mat-icon-button
              matTooltip="Last page" (click)="scrollToEnd()">
        <svg-icon icon="arrow-bottom"></svg-icon>
      </button>

      <button fxLayout="row" fxLayoutAlign="center center" class="rectangle-button start-stream" mat-icon-button
              matTooltip="Start Streaming" (click)="scrollStart(null)" [class.inactive]="!virtualScrollItems?.stream">
        <svg-icon icon="play-circle"></svg-icon>
        <span>LIVE</span>
      </button>

      <button fxLayout="row" fxLayoutAlign="center center" class="rectangle-button stop-stream" mat-icon-button
              matTooltip="Stop Streaming" (click)="scrollStop()" [class.inactive]="virtualScrollItems?.stream">
        <svg-icon icon="pause-circle"></svg-icon>
        <span>PAUSED</span>
      </button>

      <button fxLayout="row" fxLayoutAlign="center center" class="square-button" id="previousPage" mat-icon-button
              matTooltip="Previous Page" (click)="loadPreviousPage()"
              [disabled]="!virtualScrollItems?.pages?.length || virtualScrollItems.ids.length < virtualPageSize">
        <svg-icon icon="less-than"></svg-icon>
      </button>

      <button fxLayout="row" fxLayoutAlign="center center" class="square-button" id="nextPage" mat-icon-button
              matTooltip="Next Page" (click)="loadNextPage()"
              [disabled]="!virtualScrollItems?.pages?.length || virtualScrollItems.activePage.id == virtualScrollItems?.pages[virtualScrollItems?.pages?.length - 1]">
        <svg-icon icon="greater-than"></svg-icon>
      </button>


      <span class="active-page-details">
        Active Page:
        {{virtualScrollItems?.activePage?.numberOfRecords || 0}}
        records
        <span *ngIf="virtualScrollItems?.activePage?.numberOfRecords">
          , from:
          {{virtualScrollItems?.activePage?.start?.datetime}}
          to:
          {{virtualScrollItems?.activePage?.end?.datetime}}
          </span>
      </span>
    </div>
  </div>

</div>
