.history-cycle-panel {
  max-width: 726px;
  padding-top: 20px;
}

.history-voting-period-row {
  margin: 0 8px 0 6px;
}

.history-voting-period-label {
  margin: 2px;
}

.history-voting-period {
  width: 170px;
}

.history-cycle {
  background-color: #00DBC6;
  margin: 2px;
  height: 16px;
  width: 16px;
}

.history-cycle-headers {
  background-color: #537880;
  margin: 2px 2px 0 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 6px;
  width: 16px;
}

.history-cycle-operations {
  background-color: #537880;
  margin: 0 2px 2px 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 10px;
  width: 16px;
}

@media (max-width: 600px) {
  .history-cycle-panel {
    width: initial;
  }

  .history-voting-period {
    margin: 6px -2px 6px 12px;
    padding: 4px;
  }
}
