<div class="network-history">

    <div class="history-cycle-panel">
                 
        <span class="history-voting-period-row" *ngFor="let votingPeriodRow of formattedNetworkHistory; trackBy: trackByRowPosition">
            <span class="history-voting-period" *ngFor="let votingPeriod of votingPeriodRow.votingPeriodRows; trackBy: trackByRowPeriod">

                <div class="history-voting-period-label">Proposal</div>

                <span class="history-voting-period-panel">
                    <span *ngFor="let cycle of votingPeriod.cycles; trackBy: trackByCycle">

                        <div *ngIf="cycle.operations>=4094" class="history-cycle"
                             [style.opacity]="0.15+cycle.applications/4096">
                        </div>
                        <span *ngIf="cycle.operations<4094">
                            <div class="history-cycle-headers" [style.opacity]="cycle.headers/4096">
                            </div>
                            <div class="history-cycle-operations" [style.opacity]="cycle.operations/4096">
                            </div>
                        </span>

                    </span>
                </span>
            </span>

        </span>

    </div>

</div>
