.wallets {
  // padding-top: 16px;
  height: calc(100vh - 38px);

  .filters-wrap{
    height: 35px;
    // padding: 8px 16px;
    // min-height: 15px;
    // display: flex;
    // padding-bottom: 15px;
    // padding-top: 0;

    // .icon{
    //   margin-right: 8px;
    // }
  }

  .flex-wrapper {
    display: flex;
    height: 100%;

    .table-flex{
      flex: 1;
      overflow: auto;

      .mat-table{
        padding-bottom: 40px;
      }
    }

    .sidebar-flex{
      flex: 0 0 35%;
      overflow: auto;

      .sidebar-wrap {      
        padding: 0 0;
        padding-bottom: 36px;

        .details-header {
          padding: 8px;
          display: flex;
          justify-content: space-between;

          .icon{
            cursor: pointer;
          }
        }

        .transfer-form{
          .mat-error{
            min-height: 14.5px;
          }
          .box-header{
            margin-top: 4px;
            margin-bottom: 16px;
          }
          .details-section:first-child{
            padding-bottom: 8px !important;
          }
        }

        .details-box{
          margin-bottom: 8px;
          
          .details-section{
            padding: 8px 16px;;

            &:first-child{
              padding-bottom: 16px;
            }
            
            &.button{
              padding: 0;

              .mat-button{
                padding: 8px 18px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                background: none;
              }
            }
  
            .box-content {
              .half-size {
                width: 50%;
              }
              .full-size {
                width: 100%;
              }
              .button-wrapper{
                .mat-button{
                  margin-left: 8px;
                  width: 100%;
                }
              }
              .mat-input-element {
                margin-bottom: 0px;
              }
              .input-suffix {
                margin-right: 8px;
                color: #666;
                font-weight: 100;
                font-size: 13px;
              }
              .form-field{
                padding: 0;

                .from-field-title{
                  margin-top: 4px;
                }
              }
            }

            &.copy-section{
              padding: 0 8px;
              padding-bottom: 8px;
              padding-top: 4px;

              .box-header{
                padding: 8px;
                padding-bottom: 14px;
              }

              .copy-content{
                padding: 8px;

                .copy-value{
                  word-break: break-word;
                }
              }

              .copy-value{
                padding-top: 8px;
              }

              .mat-button{
                // align-self: start;
                background: none;
                padding: 8px;
              }

              .box-row{
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      } 
    }
  }
}