<div class="wallets">

  <!-- FILTERS -->
  <div class="filters-wrap">
    <img class="icon" src="../../../assets/icon/filter.svg" />
    <span class="text">ADD FILTER</span>
  </div>

  <div class="flex-wrapper">
    <!-- TABLE -->
    <div class="table-flex">
      <table mat-table [dataSource]="wallets">
        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> ADDRESS</th>
          <td mat-cell *matCellDef="let wallet"> {{ wallet.publicKeyHash }} </td>
        </ng-container>
      
        <!-- Baking Column -->
        <ng-container matColumnDef="baking">
          <th mat-header-cell *matHeaderCellDef> BAKING </th>
          <td mat-cell *matCellDef="let wallet" [class.muted]="!wallet.bakingEnabled"> {{ wallet.bakingEnabled ? 'ENABLED': 'DISABLED' }} </td>
        </ng-container>

        <!-- Contracts Column -->
        <ng-container matColumnDef="contracts">
          <th mat-header-cell *matHeaderCellDef> CONTRACTS </th>
          <td mat-cell *matCellDef="let wallet"> {{ wallet.contracts }} </td>
        </ng-container>

        <!-- Transactions Column -->
        <ng-container matColumnDef="transactions">
          <th mat-header-cell *matHeaderCellDef> TRANSACTIONS </th>
          <td mat-cell *matCellDef="let wallet"> {{ wallet.transactions }} </td>
        </ng-container>

        <!-- Index Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> INDEX </th>
          <td mat-cell *matCellDef="let wallet"> {{ wallet.index }} </td>
        </ng-container>
      
        <!-- Balance Column -->
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef class="text-right"> BALANCE </th>
          <td mat-cell *matCellDef="let wallet" class="muted text-right"> {{ wallet.balance + ' ꜩ'}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
          (click)="selectWallet(row)" [class.selected]="row?.publicKeyHash === selectedWallet?.publicKeyHash"></tr>
      </table>  
    </div>

    <!-- DETAILS SIDEBAR -->
    <div class="sidebar-flex" *ngIf="selectedWallet != null">
      <div class="sidebar-wrap">
        <div class="details-header">
          <span>DETAIL</span>
          <img class="icon" (click)="closeDetails()" src="../assets/icon/times.svg" />
        </div>
        <!-- wallet details -->
        <div class="details-box">
          <div class="box-header">WALLET DETAILS</div>
          <div class="box-content">
            <!-- public key hash -->
            <div class="box-row">
              <span>{{selectedWallet.publicKeyHash}}</span>
              <button class="mat-button" [cdkCopyToClipboard]="selectedWallet.publicKeyHash">COPY</button>
            </div>
          </div>
        </div>        
        <!-- transfer -->
        <div class="details-box" [formGroup]="transferForm" ngrxForm="wallets">
          <div class="details-section">
            <div class="box-header">TRANSFER</div>
            <div class="box-content">
              <div class="box-row">
                <!-- Send to -->
                <div class="form-field">
                  <p class="from-field-title">Send to</p>
                  <mat-form-field class="full-size">
                    <input matInput #to type="text" formControlName="to"/>
                  </mat-form-field>
                  <mat-error *ngIf="transferForm.controls.to.invalid">
                    <span *ngIf="transferForm.controls.to.errors.required">This field is required</span>
                  </mat-error>
                </div>
                <!-- Amount -->
                <div class="form-field">
                  <p class="from-field-title">Amount</p>
                  <mat-form-field class="half-size">
                    <input matInput #amount type="text" formControlName="amount"/>
                  </mat-form-field>
                  <mat-error *ngIf="transferForm.controls.amount.invalid">
                    <span *ngIf="transferForm.controls.amount.errors.required">This field is required</span>
                  </mat-error>
                </div>
                <!-- Fee -->
                <div class="form-field">
                  <p class="from-field-title">Fee</p>
                  <mat-form-field class="half-size">
                    <input matInput #fee type="text" formControlName="fee"/>
                  </mat-form-field>
                  <mat-error *ngIf="transferForm.controls.fee.invalid">
                    <span *ngIf="transferForm.controls.fee.errors.required">This field is required</span>
                  </mat-error>
                </div>
              </div>
              <!-- Send button -->
              <button class="mat-button full-size" (click)="sendTransaction()">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>