<div class="wallets">

  <!-- FILTERS -->
  <div class="filters-wrap">
    <img class="icon" src="../../../assets/icon/filter.svg" />
    <span class="text">ADD FILTER</span>
  </div>

  <div class="flex-wrapper">
    <!-- TABLE -->
    <div class="table-flex">
      <table mat-table [dataSource]="wallets">
        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> ADDRESS</th>
          <td mat-cell *matCellDef="let wallet"> {{ wallet.publicKeyHash }} </td>
        </ng-container>
      
        <!-- Baking Column -->
        <ng-container matColumnDef="baking">
          <th mat-header-cell *matHeaderCellDef> BAKING </th>
          <td mat-cell *matCellDef="let wallet" [class.muted]="!wallet.bakingEnabled"> {{ wallet.bakingEnabled ? 'ENABLED': 'DISABLED' }} </td>
        </ng-container>

        <!-- Contracts Column -->
        <ng-container matColumnDef="contracts">
          <th mat-header-cell *matHeaderCellDef> CONTRACTS </th>
          <td mat-cell *matCellDef="let wallet"> {{ wallet.contracts }} </td>
        </ng-container>

        <!-- Transactions Column -->
        <ng-container matColumnDef="transactions">
          <th mat-header-cell *matHeaderCellDef> TRANSACTIONS </th>
          <td mat-cell *matCellDef="let wallet"> {{ wallet.transactions }} </td>
        </ng-container>

        <!-- Index Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> INDEX </th>
          <td mat-cell *matCellDef="let wallet"> {{ wallet.index }} </td>
        </ng-container>
      
        <!-- Balance Column -->
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef class="text-right"> BALANCE </th>
          <td mat-cell *matCellDef="let wallet" class="muted text-right"> {{ wallet.balance ? ((wallet.balance | number:'1.2-6') + ' ꜩ') : ''}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickWallet(row)" 
          (mouseover)="tableMouseEnter(row)" (mouseout)="tableMouseLeave()" 
          [class.selected]="row?.id === clickedWalletId" [class.hovered]="row?.id === selectedWalletId && selectedWalletId !== clickedWalletId "></tr>
      </table>  
    </div>

    <!-- DETAILS SIDEBAR -->
    <div class="sidebar-flex" *ngIf="selectedWalletId">
      <div class="sidebar-wrap">
        <div class="details-header">
          <span>DETAIL</span>
          <img class="icon" (click)="closeDetails()" src="../assets/icon/times.svg" />
        </div>
        <!-- wallet details -->
        <div class="details-box">
          <div class="details-section copy-section">
            <div class="box-header">WALLET DETAILS</div>
            <div class="box-content">
              <!-- balance -->
              <div class="box-row">
                <div class="copy-content">
                  <div>Balance</div>
                </div>
                <div class="copy-value" style="padding-right: 8px;">{{ walletEntities[selectedWalletId].balance ? ((walletEntities[selectedWalletId].balance | number:'1.2-6') + ' ꜩ') : ''}}</div>
              </div>
              <!-- public key hash -->
              <div class="box-row">
                <div class="copy-content">
                  <div>Public Key Hash</div>
                  <div class="copy-value">{{walletEntities[selectedWalletId].publicKeyHash}}</div>
                </div>
                <button class="mat-button" [cdkCopyToClipboard]="walletEntities[selectedWalletId].publicKeyHash" (click)="openSnackbar('Public Key Hash Copied')">COPY</button>
              </div>
              <!-- public key -->
              <div class="box-row">
                <div class="copy-content">
                  <div>Public Key</div>
                  <div class="copy-value">{{walletEntities[selectedWalletId].publicKey}}</div>
                </div>
                <button class="mat-button" [cdkCopyToClipboard]="walletEntities[selectedWalletId].publicKey" (click)="openSnackbar('Public Key Copied')">COPY</button>
              </div>
              <!-- secret key -->
              <div class="box-row">
                <div class="copy-content">
                  <div>Secret Key</div>
                  <div class="copy-value">{{walletEntities[selectedWalletId].secretKey}}</div>
                </div>
                <button class="mat-button" [cdkCopyToClipboard]="walletEntities[selectedWalletId].secretKey" (click)="openSnackbar('Secret Key Copied')">COPY</button>
              </div>
            </div>
          </div>
        </div>        
        <!-- transfer -->
        <div class="details-box transfer-form" [formGroup]="transferForm" ngrxForm="wallets">
          <div class="details-section">
            <div class="box-header">TRANSFER</div>
            <div class="box-content">
              <div *ngIf="transferError" class="box-row error">
                <div class="error-box">
                  <div class="error-header">Error</div>
                  <div>Something went wrong</div>
                  <div>Report a problem at <a href="mailto:support@tezedge.com">support@tezedge.com</a></div>
                </div>
              </div>
              <div class="box-row">
                <!-- Send to -->
                <div class="form-field">
                  <p class="from-field-title">Send to</p>
                  <mat-form-field class="full-size">
                    <input matInput #to type="text" formControlName="to"/>
                  </mat-form-field>
                  <mat-error>
                    <span *ngIf="transferForm.controls.to.touched && transferForm.controls.to.invalid">
                      Please enter valid address
                    </span>
                  </mat-error>
                </div>
                <!-- Amount -->
                <div class="form-field">
                  <p class="from-field-title">Amount</p>
                  <mat-form-field class="half-size">
                    <input matInput #amount type="text" formControlName="amount"/>
                    <span matSuffix class="input-suffix">XTZ</span>
                  </mat-form-field>
                  <mat-error>
                    <span *ngIf="transferForm.controls.amount.touched && transferForm.controls.amount.invalid">
                      Please enter valid amount
                    </span>
                  </mat-error>
                </div>
                <!-- Fee -->
                <div class="form-field">
                  <p class="from-field-title">Fee</p>
                  <mat-form-field class="half-size">
                    <input matInput #fee type="text" formControlName="fee"/>
                    <span matSuffix class="input-suffix">XTZ</span>
                  </mat-form-field>
                  <mat-error>
                    <span *ngIf="transferForm.controls.fee.touched && transferForm.controls.fee.invalid">
                      Please enter valid fee
                    </span>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
          <div class="details-section button">
            <!-- Send button -->
            <button class="mat-button full-size" (click)="sendTransaction()">SEND</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>