.wallets {
  padding-top: 19px;
  height: calc(100vh - 34px - 19px);

  .filters-wrap{
    padding: 8px 16px;
    min-height: 15px;
  }

  .flex-wrapper {
    display: flex;
    height: 100%;

    .table-flex{
      flex: 1;
      overflow: auto;
    }

    .sidebar-flex{
      flex: 0 0 344px;
      overflow: auto;

      .sidebar-wrap {      
        padding: 0 8px;
      } 
    }
  }
}