.wallets {
  padding-top: 16px;
  height: calc(100vh - 38px - 16px);

  .filters-wrap{
    padding: 8px 16px;
    min-height: 15px;
    display: flex;
    padding-bottom: 15px;
    padding-top: 0;

    .icon{
      margin-right: 8px;
    }
  }

  .flex-wrapper {
    display: flex;
    height: 100%;

    .table-flex{
      flex: 1;
      overflow: auto;
    }

    .sidebar-flex{
      flex: 0 0 344px;
      overflow: auto;

      .sidebar-wrap {      
        padding: 0 8px;

        .details-header {
          padding: 8px;
          display: flex;
          justify-content: space-between;

          .icon{
            cursor: pointer;
          }
        }

        .details-box{
          margin-bottom: 8px;
          border-radius: 4px;

          .details-section{
            padding: 8px;

            .box-header{
              padding-bottom: 8px;
            }
  
            .box-content {
              .mat-error{
                display: inline;
                margin-left: 8px;
              }
              .half-size {
                width: 50%;
              }
              .full-size {
                width: 100%;
              }
              .button-wrapper{
                .mat-button{
                  margin-left: 8px;
                  width: 100%;
                }
              }
              .input-suffix {
                margin-right: 8px;
                color: #666;
                font-weight: 100;
                font-size: 13px;
              }
            }
          }
        }
      } 
    }
  }
}