<div class="padding-8 f-12 h-100 overflow-y-auto">
  <div *ngIf="currentBlock$ | async as currentBlock"
       class="d-flex flex-row flex-between margin-bottom-10 padding-top-5">
    <div class="flex-row align-center">
      <div [@refreshBlock]="currentBlock" class="block">
        ENDORSING BLOCK {{ currentBlock | spaceNumber }}
      </div>
      <ng-container *ngIf="currentRound$ | async as currentRound">
        <div class="dash">-</div>
        <div [@refreshBlock]="currentRound.round"
             class="round">ROUND {{ currentRound.round }}</div>
      </ng-container>
    </div>
    <div class="foreground-7 time">{{ elapsedTime$ | async | number: '1.1' }}s</div>
  </div>
  <div *ngIf="statistics$ | async as statistics" class="overflow-auto">
    <div class="d-flex flex-column border-rad-2 border padding-10">
      <div class="foreground-4 margin-bottom-10">256 endorsements grouped by status</div>
      <div *ngFor="let type of statistics.endorsementTypes; let i=index; trackBy: trackStats"
           class="mem-stats-row margin-top-5 margin-bottom-5">
        <div class="text-capitalize">{{ type.name }}</div>
        <div class="padding-right-10 d-flex align-center">
          <div class="progress-background">
            <div [ngClass]="type.name"
                 [style.width.%]="type.value / statistics.totalSlots * 100"
                 class="progress-background">
            </div>
          </div>
        </div>
        <div class="text-right">{{ type.value }}</div>
      </div>
    </div>
    <div class="d-flex flex-column border-rad-2 border padding-10 margin-top-10">
      <div class="foreground-4 margin-bottom-10">Previous block summary</div>
      <div [ngClass]="'missed-' + statistics.previousBlockMissedEndorsements"
           class="missed mem-stats-row margin-top-5 margin-bottom-5 d-flex flex-between">
        <div>Missed Endorsements</div>
        <div>{{ statistics.previousBlockMissedEndorsements }}</div>
      </div>
      <div class="mem-stats-row margin-top-5 margin-bottom-5 d-flex flex-between">
        <div>Time to apply</div>
        <div>{{ previousBlockElapsedTime | number: '1.1' }}{{ previousBlockElapsedTime ? 's' : '' }}</div>
      </div>
    </div>
  </div>
</div>
