<div class="padding-5 border-bottom d-flex">
<!--  <button class="primary-button border-rad-2 d-flex align-center pointer margin-right-5">-->
<!--    <mat-icon svgIcon="magnifying-glass" class="icon-14 icon-foreground"></mat-icon>-->
<!--  </button>-->
<!--  <button class="primary-button border-rad-2 d-flex align-center pointer foreground font-600 f-12 margin-right-5">-->
<!--    <mat-icon svgIcon="filter" class="icon-12 icon-foreground margin-right-5"></mat-icon>-->
<!--    ADD FILTER-->
<!--  </button>-->
  <form [formGroup]="formGroup" class="flex-row">
    <button class="primary-button border-rad-2 d-flex align-center pointer margin-right-5"
            matTooltip="Previous block"
            (click)="loadPreviousBlock()" [disabled]="blockHashContext?.activeIndex === 0">
      <mat-icon svgIcon="less-than" class="icon-10 icon-foreground"></mat-icon>
    </button>
    <button class="primary-button border-rad-2 d-flex align-center pointer margin-right-5"
            matTooltip="Next block"
            (click)="loadNextBlock()" [disabled]="blockHashContext?.activeIndex === blockHashContext?.hashes.length - 1">
      <mat-icon svgIcon="greater-than" class="icon-10 icon-foreground"></mat-icon>
    </button>
    <button class="primary-button border-rad-2 d-flex align-center pointer margin-right-5"
            matTooltip="Latest applied block"
            (click)="loadLatestAppliedBlock()">
      <mat-icon svgIcon="history" class="icon-12 icon-foreground"></mat-icon>
    </button>
    <mat-form-field appearance="fill"
                    (keydown.enter)="searchSmartContracts()"
                    class="custom-bottom-form-field p-relative margin-remove">
      <input matInput
             type="text"
             autocomplete="off"
             (blur)="searchSmartContracts()"
             formControlName="blockHash"
             placeholder="Search by block hash">
      <mat-icon (click)="formGroup.get('blockHash').setValue('')"
                *ngIf="formGroup.get('blockHash').value"
                class="p-absolute icon-10 icon-foreground-7 fill-opacity-1 pointer"
                svgIcon="close-blank"></mat-icon>
    </mat-form-field>
  </form>
</div>
