<mat-card>

    <mat-card-content>
        <b>Completed: </b>
        {{ (networkingStats?.downloadedBlocks/(networkingStats?.currentBlockCount*0.01)) | number:'1.2-2'}} %
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Eta:</b> {{networkingStats?.eta}}/s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Head:</b> {{networkingStats?.currentBlockCount}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Rate:</b> {{networkingStats?.downloadRate}} blocks/s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Speed:</b> {{networkingPeersMetrics?.totalAvgSpeed}} kB/s
    </mat-card-content>

</mat-card>

<div style="height:15vh">
    <ngx-charts-line-chart class="networking-stats-chart" [scheme]="colorScheme" [results]="single"
        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [curve]="curve"
        autoScale="true" tooltipDisabled="true" animations="true">
    </ngx-charts-line-chart>
</div>


<div class="networking-stats">

</div>