<mat-card>

    <!--  <mat-card-header>
        <h2 class="mat-h1 reset">
            stats
        </h2>
    </mat-card-header>   -->

    <mat-card-content>

        <b>Competed: </b> {{ (networkingStats?.downloadedBlocks/(networkingStats?.currentBlockCount*0.01)) | number:'1.2-2'}} % &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Eta:</b> {{networkingStats?.eta}} / secs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Head:</b> {{networkingStats?.currentBlockCount}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Rate:</b> {{networkingStats?.downloadRate}} / blocks per sec &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Speed:</b> {{networkingPeersMetrics?.totalAvgSpeed}} kB/s 

        <br/>
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [curve]="curve" autoScale="true" tooltipDisabled="true"
            animations="false">
        </ngx-charts-line-chart> 
    

    </mat-card-content>

</mat-card>