<style>
    .networking-stats-panel {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px 0px 0px;
    }

    .networking-stats-left {
        align-self: flex-start;
    }

    .networking-stats-right {
        display: flex;
        align-self: center;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }

    .networking-stats-completed {
        font-size: 4vw;
    }

    .networking-stats-eta {
        font-size: 1.7vw;
    }

    .networking-stats-speed {
        font-size: 1.7vw;
    }

    .networking-stats-rate {
        font-size: 1.7vw;
    }

    @media (max-width: 600px) {
        .networking-stats-panel {
            padding: 20px 20px 0px 20px;
        }

        .networking-stats-completed {
            font-size: 14vw;
        }

        .networking-stats-eta {
            font-size: 5vw;
        }

        .networking-stats-speed {
            font-size: 5vw;
        }

        .networking-stats-rate {
            font-size: 5vw;
        }
    }
</style>
<div class="networking-stats">

    <div class="networking-stats-panel">
        <div class="networking-stats-left">
            <span class="networking-stats-completed" *ngIf="networkingStats?.downloadedBlocks">
                {{ (networkingStats?.downloadedBlocks/(networkingStats?.currentBlockCount*0.01)) | number:'1.1-1'}}%
            </span>
            <br />

        </div>

        <!--
        <span class="networking-stats-speed"> {{networkingPeersMetrics?.totalAvgSpeed | bandwidth:'s' }} </span>
        <br /> 
    -->
        <div class="networking-stats-right" *ngIf="networkingStats?.downloadRate">
     
            <span class="networking-stats-eta">{{networkingStats?.eta}}</span>
            <span class="networking-stats-rate">{{networkingStats?.downloadRate}} blocks/s </span>

        </div>
    </div>


    <div class="networking-stats-chart">
        <ngx-charts-line-chart [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [curve]="curve" autoScale="true" tooltipDisabled="false"
            animations="false" roundDomains="false">
        </ngx-charts-line-chart>
    </div>

</div>