<div class="state-machine d-flex flex-column h-100">
  <div fxFlex="40px" class="border-bottom tabs d-flex align-center font-12">
    <div *ngFor="let tab of tabs"
         (click)="activeTab = tab"
         class="text-white-7 margin-right-10 pointer"
         [class.active]="activeTab === tab">
      {{ tab }}
    </div>
  </div>
  <div fxFlex.gt-sm="calc(100% - 40px)"
       fxFlex.xs="calc(100% - 40px)"
       class="d-flex flex-column overflow-hidden">
    <div fxFlex.gt-sm="calc(100% - 400px)"
         fxFlex.xs="calc(100% - 500px)"
         class="overflow-hidden padding-10">
      <app-state-machine-diagram></app-state-machine-diagram>
    </div>
    <div fxFlex.gt-sm="400px"
         fxFlex.xs="500px">
      <app-state-machine-table></app-state-machine-table>
    </div>
  </div>
</div>
