<div class="state-machine w-100 overflow-hidden"
     *ngIf="state$ | async as stateMachine">
  <div class="d-flex flex-column h-100">
    <app-state-machine-filters fxFlex="32px"></app-state-machine-filters>
    <div fxFlex="calc(100% - 32px)" class="d-flex flex-column w-100 flex-between">
      <div class="upper-container"
           [style.transition]="transition"
           [class.collapsed]="stateMachine.collapsedDiagram"
           [style.height]="stateMachine.collapsedDiagram
                           ? '32px'
                           : (stateMachine.diagramHeight ? stateMachine.diagramHeight + 'px' : '40%')">
        <div class="diagrams-container d-flex">
          <app-state-machine-diagram fxFlex="60" class="d-flex flex-column"></app-state-machine-diagram>
          <div fxFlex="40" class="border-left d-flex flex-column">
            <div fxFlex="35px" class="text-white-7 padding-10 font-12 border-bottom">
              <span class="text-white text-uppercase margin-right-10">Action Statistics</span>
              {{ stateMachine.actionStatistics.totalCalls | thousandTransform }}
              <span
                class="text-white-4">calls</span>
              · {{ stateMachine.actionStatistics.totalDuration | timeTransform: false: false: true }}
              <span class="text-white-4">total duration</span>
            </div>

            <div fxFlex="calc(100% - 35px)"
                 *ngIf="stateMachine.actionStatistics.statistics.length">

              <div class="statistics-table d-flex flex-column h-100">
                <div class="row table-head text-white-7 border-bottom font-12" fxFlex="36px">
                  <span>TYPE</span>
                  <span>CALLS</span>
                  <span>DURATION</span>
                  <span>SEVERITY</span>
                </div>
                <div class="overflow-auto font-14" fxFlex="calc(100% - 36px)">
                  <div *ngFor="let action of stateMachine.actionStatistics.statistics"
                       class="row" [matTooltip]="action.kind" matTooltipShowDelay="600">
                    <span class="text-white truncate">{{ action.kind }}</span>
                    <span class="text-white-7">{{ action.calls | thousandTransform }}</span>
                    <span class="text-white-7">{{ action.duration | timeTransform: false: false: true }}</span>
                    <span class="padding-right-10 d-flex align-center">
                      <span class="progress-background">
                        <span class="progress-background"
                              [class.red]="action.durationWidth > 60"
                              [class.yellow]="action.durationWidth > 30"
                              [style.width.%]="action.durationWidth"></span>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!stateMachine.collapsedDiagram"
             class="resizer-element p-relative d-flex flex-center">
          <div class="mid-content d-flex flex-column align-center"
               resizer (resizeFinished)="onResizeFinished($event)">
            <mat-icon svgIcon="rounded-triangle" class="up icon-white-4 icon-10"></mat-icon>
            <div class="line"></div>
            <mat-icon svgIcon="rounded-triangle" class="down icon-white-4 icon-10"></mat-icon>
          </div>
        </div>
      </div>
      <div class="bottom-container flex-1" fxLayout.gt-sm="row" fxLayout.lt-md="column"
           [class.collapsed]="stateMachine.collapsedDiagram"
           [style.transition]="transition">
        <app-state-machine-table fxFlex.gt-sm="530px" fxFlex.lt-md="50%"></app-state-machine-table>
        <div fxFlex.gt-sm="calc(100% - 530px)" fxFlex.lt-md="50%">
          <app-state-machine-action-details></app-state-machine-action-details>
        </div>
      </div>
    </div>
  </div>
</div>
