button {
  border: none;

  &[disabled] {
    cursor: context-menu !important;
  }
}

.mat-icon-button {
  .mat-button-wrapper {
    display: flex;
    justify-content: center;
    line-height: 100%;

    .mat-icon {
      line-height: initial !important;
    }
  }
}
