.mat-icon {
  &.icon-10 {
    width: 10px;
    height: 10px;
  }

  &.icon-14 {
    width: 14px;
    height: 14px;
  }

  &.icon-16 {
    width: 16px;
    height: 16px;
  }

  &.icon-18 {
    width: 18px;
    height: 18px;
  }

  &.icon-20 {
    width: 20px;
    height: 20px;
  }

  &.icon-22 {
    width: 22px;
    height: 22px;
  }

  &.icon-white-7 svg * {
    fill: rgba(255, 255, 255, 0.7);
  }

  &.icon-white-4 svg * {
    fill: rgba(255, 255, 255, 0.4);
  }

  &.icon-white-1 svg * {
    fill: rgba(255, 255, 255, 0.1);
  }
}
