.mat-progress-bar {
  height: 2px !important;

  .mat-progress-bar-fill {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
    transition-duration: 160ms !important;

    &::after {
      background-color: #00DBC6;
    }
  }

  .mat-progress-bar-background,
  .mat-progress-bar-buffer {
    display: none;
  }
}
