@import 'variables';

.mat-icon {
  &.icon-8 {
    width: 8px;
    height: 8px;
    line-height: 8px;
  }

  &.icon-10 {
    width: 10px;
    height: 10px;
    line-height: 10px;
  }

  &.icon-12 {
    width: 12px;
    height: 12px;
    line-height: 12px;
  }

  &.icon-14 {
    width: 14px;
    height: 14px;
    line-height: 14px;
  }

  &.icon-16 {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }

  &.icon-18 {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }

  &.icon-20 {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  &.icon-22 {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }

  &.icon-foreground svg * {
    fill: $foreground;
  }

  &.icon-foreground-4 svg * {
    fill: $foreground-4;
  }

  &.icon-foreground-7 svg * {
    fill: $foreground-7;
  }

  &.fill-opacity-1 svg * {
    fill-opacity: 1;
  }
}
