.mat-tooltip {
  background-color: #2A2A2E;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}
