<style>
    .app-storage-search {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: white;
    }

    .mat-form-field {
        height: 40px !important;
        font-weight: 300;
        padding: 0px !important;
        width: 800px;
    }

    @media (max-width: 600px) {
        .app-storage-search-input {
            margin-left: 10vw;
        }
        .mat-form-field {
            width: 80vw;
        }    
    }

</style>

<div class="app-storage-search">

    <span class="app-storage-search-input">
        <mat-form-field appearance="outline">
            <mat-icon style="opacity:0.4;position:absolute;top: 12px;font-size: 22px;">search</mat-icon>
            <input style="padding-left: 30px;padding-top: 1px;" matInput [(ngModel)]="storageSearchInput"
                (ngModelChange)="valueChange($event)">
            <!-- <mat-chip-list>
                <mat-chip>End Of Cycle</mat-chip>
                <mat-chip>Proposal</mat-chip>
                <mat-chip>Smart Contract</mat-chip>
            </mat-chip-list> -->
        </mat-form-field>

    </span>

</div>