<style>
    .app-storage-search {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .app-storage-search-input {
        max-width: 50%;

    }

    .mat-form-field {
        height: 40px !important;
        font-weight: 300;
        padding: 0px !important;
    }
</style>

<div class="app-storage-search">

    <span call="app-storage-search-input">

        <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="storageSearchInput" (ngModelChange)="valueChange($event)">
            <!-- <mat-chip-list>
                <mat-chip>End Of Cycle</mat-chip>
                <mat-chip>Proposal</mat-chip>
                <mat-chip>Smart Contract</mat-chip>
            </mat-chip-list> -->
        </mat-form-field>

    </span>

</div>