<div class="chain">

    <mat-tab-group animationDuration="0ms">

        <mat-tab label="SERVER">
            <app-chain-server [isReadonly]="true">
            </app-chain-server>
        </mat-tab>
    
        <mat-tab label="WALLETS">
            <app-chain-wallets [isReadonly]="true">
            </app-chain-wallets>
        </mat-tab>
        
        <mat-tab label="CHAIN">
            <app-chain-config [isReadonly]="true">
            </app-chain-config>
        </mat-tab>

        <!-- <mat-tab label="BAKING">
            <app-chain-baking>
            </app-chain-baking>
        </mat-tab> -->

    </mat-tab-group>

</div>