/* You can add global styles to this file, and also import other style files */
/*
body {
    background: #1e1e1e !important;
    color: whitesmoke !important;
}

.networking-endpoint {
    background-color: #12121240 !important;
    color: #5a5a5a !important;
}

.mat-table {
    background: #1e1e1e !important;
    color: #5a5a5a !important;
}

th.mat-header-cell {
    color: #5a5a5a !important;
}

.mat-cell {
    color: #5a5a5a !important;
}

.mat-paginator {
    background: #1e1e1e !important;
    color: #5a5a5a !important; 
}

.mat-paginator-icon {
    color: #5a5a5a !important;  
}
*/

html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0px !important;
}

table {
    width: 100%;
}

.networking {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.networking .networking .mat-h1 {
    font: 300 24px/32px Roboto, "Helvetica Neue", sans-serif;
}



.networking-stats ngx-charts-line-chart {
}


.settings {
    margin: 25px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.settings .settings .mat-h1 {
    font: 300 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

.networking-endpoint {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: whitesmoke;
    height: 5vh;
    width: 100%
}

.networking-endpoint-content {
    width: 690px;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

.networking-endpoint-content a {
    color: black;
}

.networking-endpoint-content a:visited {
    color: black;
}

.settings-endpoint {
    width: 50vw;
}

.settings-endpoint-content {
    display: flex;
    flex-direction: column;
}

.settings-endpoint-input {
    width: 50vw;
}

.settings-endpoint-button {
    align-self: flex-end;
}

.networking {}

.networking-stats {}

.networking-stats-chart {
    width: 697px;
    margin: 15px 0px 5px 10px;
    height: 14vh;
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-bottom-left-radius: 4px;
    
    /*border: 1px solid #E0E0E0;
    border-radius: 4px;*/
}

.networking-peers {
    margin-top: 30px;
    width: 700px;
    border: 1px solid #E0E0E0 ;
    border-radius: 4px;
}

.mat-table {
    background: initial ;
}

.mat-paginator {
    background: initial;
}

tr.mat-header-row {
    height: 46px !important;
}

.mat-paginator-container {
    min-height: 46px !important;
}

tr.mat-footer-row, tr.mat-row {
    height: 36px !important; 
}

.mat-cell.cdk-column-id.mat-column-id {
    padding: 14px !important;
}

mat-row, td.mat-cell {
    border-bottom-color: white !important;
}


@media (max-width: 600px) {
    body {
        margin: 0px !important;
    }

    .networking {
        width: 100vw;
    }

    .networking-endpoint-content {
        width: 100vw;
    }

    .networking-stats {
        width: 100vw;
    }

    .networking-stats-chart {
        width: 340px;
        margin-left: 15px;
        height: 14vh;
    }

    .networking-endpoint {
        width: 100vw;
    }

    .networking-history {}

    .networking-peers {
        width: 92vw;
        margin-bottom: 30px;
    }
    td.mat-cell:last-of-type {
        padding-right: 14px !important;
    }

    th.mat-header-cell.cdk-column-id.mat-column-id {
        width: 25vw !important;
    }

    .mat-cell.cdk-column-id.mat-column-id.ng-star-inserted {
        display: block;
        width: 20vw;
    }

    .networking-peers th.mat-header-cell.cdk-column-averageTransferSpeed.mat-column-averageTransferSpeed {
        display: none
    }

    .networking-peers .mat-cell.cdk-column-averageTransferSpeed.mat-column-averageTransferSpeed {
        display: none
    }

    .networking-peers .mat-cell.cdk-column-transferredBytes.mat-column-transferredBytes {
        width: 30vw;
    }

    .networking-peers .mat-cell.cdk-column-currentTransferSpeed.mat-column-currentTransferSpeed {
        width: 35vw;
    }


    .settings-endpoint {
        width: 90vw;
    }

    .settings-endpoint-input {
        width: 90vw;
    }

}