html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0px !important;
    background-color: $color-background;
    font-weight: 300 !important;
}


.sidenav-content {
    background-color: $color-background;
}

.toolbar {
    background-color: $color-toolbar;
    border-bottom: 1px solid $color-toolbar-border;
}

/* table */
table {
    width: 100%;
}

table > thead > tr > th {
    color: $color-table-header !important;
    border-bottom-color: $color-table-border !important;
}

table > tbody > tr > td, table > tbody > tr > td > a {
    color: $color-table !important;
}

mat-row,
td.mat-cell {
    border-bottom-color: $color-table-background !important;
}

.mat-table {
    background: initial;
}

.mat-paginator {
    background: initial;
    color: $color-table-paginator;
}

tr.mat-header-row {
    height: 38px !important;
}

.mat-paginator-container {
    min-height: 38px !important;
}

tr.mat-footer-row,
tr.mat-row {
    height: 36px !important;
}

.mat-cell.cdk-column-id.mat-column-id {
    padding: 14px !important;
}


.network {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.network .network .mat-h1 {
    font: 300 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

.settings {
    padding: 25px;
    background-color: $color-background;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings .settings .mat-h1 {
    font: 300 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

.network-endpoint {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: $color-toolbar;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid $color-toolbar-border;
}

.network-endpoint-content {
    width: 690px;
    justify-content: space-between;
    padding: 0px 20px 0px 45px;
}

.network-endpoint-content a {
    color: $color-black;
}

.network-endpoint-content a:visited {
    color: $color-black;
}

.settings-endpoint {
    width: 800px;
}

.settings-endpoint-content {
    display: flex;
    flex-direction: column;
}

.settings-endpoint-input {
    width: 800px;
}

.settings-endpoint-button {
    align-self: flex-end;
}

.network-stats-chart {
    display: none;
    width: 697px;
    margin: 15px 0px 5px 10px;
    height: 14vh;
    border-bottom: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-bottom-left-radius: 4px;
}

.ngx-json-viewer {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 14px !important;
}

.ngx-json-viewer .segment .segment-main .toggler::after {
    font-size: 10px !important;
}

@media (max-width: 600px) {
    body {
        margin: 0px !important;
    }
    .network {
        width: 100vw;
    }
    .network-endpoint-content {
        width: 100vw;
    }
    .network-stats {
        width: 100vw;
    }
    .network-stats-chart {
        display: block;
        width: 340px;
        margin-left: 15px;
        height: 12vh;
    }
    .network-endpoint {
        width: 100vw;
    }
    .network-history {}
    .network-peers {
        width: 92vw;
        margin-bottom: 30px;
    }
    td.mat-cell:last-of-type {
        /* padding-right: 14px !important;*/
    }
    th.mat-header-cell.cdk-column-id.mat-column-id {
        width: 25vw !important;
    }
    .mat-cell.cdk-column-id.mat-column-id.ng-star-inserted {
        display: block;
        width: 25vw;
    }
    .network-peers th.mat-header-cell.cdk-column-averageTransferSpeed.mat-column-averageTransferSpeed {
        display: none
    }
    .network-peers .mat-cell.cdk-column-averageTransferSpeed.mat-column-averageTransferSpeed {
        display: none
    }
    .network-peers .mat-cell.cdk-column-transferredBytes.mat-column-transferredBytes {
        width: 30vw;
    }
    .network-peers .mat-cell.cdk-column-currentTransferSpeed.mat-column-currentTransferSpeed {
        width: 35vw;
    }
    .settings-endpoint {
        width: 90vw;
    }
    .settings-endpoint-input {
        width: 90vw;
    }
}

.network {
    background-color: $color-background;
}

@media screen and (max-width: 40em) {
    .mat-sidenav {
        display: none;
    }
}

.storage-block-container {
    background-color: $color-background;
    display: flex;
    align-items: center;
    justify-content: center;
}


.storage-action-container {
    background-color: $color-background;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mat-drawer-container {
    background-color: $color-background-white;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0px !important;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 36px !important;
}

.mat-list-base .mat-list-item {
    font-size: 14px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    font-size: 14px;
    padding: 0px;
    /* remove label spacing */
    border-top: 0px;
    height: 40px;
}

input.mat-input-element {
    margin-top: 14px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px 0px 0px 0px;
}

/* focused color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $color-focus !important;
}


/* floating label color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: $color-focus !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
    color: $color-focus !important;
    border-width: 1px !important;
}

.storage-action-filter .mat-form-field-underline {
    display: none;
}

.storage-action-filter .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.storage-action-filter .mat-form-field-infix {
    border-top: 0px;
}

.storage-action-filter .mat-icon {
    opacity: .3;
}

.mat-option-text {
    font-size: 14px !important;
}

/* progress bar */
.mat-progress-bar-fill::after {
    background-color: #2e3648;
}

.mat-progress-bar-buffer {
    background: #f6f9fc;
}

.mat-progress-bar {
    border-radius: 2px;
}

.mat-tab-label {
    min-width: 90px !important;
    height: 36px !important;
    padding: 0px 0px 0px 0px !important;
    opacity: 0.9 !important;
    font-size: 12px;
    font-weight: 300;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    /*background-color: grey;*/
    height: 1px;
}

mat-form-field .mat-select-value {
    color: $color-background-white;
    font-size: 13px;
    font-weight: 300;
}

/* remove undeline in mat-select */
mat-form-field .mat-form-field-underline {
    background-color: initial !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: initial !important;
}

/* change arrow color in mat select */
mat-form-field .mat-select-arrow {
    color: #c4cfdc !important;
    /* hide arrow in mat select*/
    border: 0px;
}

.mat-form-field-wrapper, .mat-form-field-infix {
    padding: 0px !important;
    border: 0px !important;
}

.mat-select-panel{
    min-width: initial !important;
}


/* content tables */
.network-peers {
    background-color: $color-table-background;
    margin-top: 30px;
    width: 700px;
    border: 1px solid $color-table-border;
    border-radius: 4px;
}

.network-action {
    background-color: $color-table-background;
    width: 800px;
    border: 1px solid $color-table-border;
    border-radius: 4px;
}

.storage-block {
    background-color: $color-table-background;
    margin-top: 30px;
    width: 800px;
    border: 1px solid $color-table-border;
    border-radius: 4px;
}

.storage-action {
    background-color: $color-table-background;
    margin-top: 30px;
    border: 1px solid $color-table-border;
    border-radius: 4px;
}

.logs-action {
    background-color: $color-table-background;
    width: 800px;
    border: 1px solid $color-table-border;
    border-radius: 4px;
    margin-top: 30px;
}

.endpoints-action {
    background-color: $color-table-background;
    width: 800px;
    border: 1px solid $color-table-border;
    border-radius: 4px;
    margin-top: 30px;
}
