@import '@angular/material/prebuilt-themes/indigo-pink.css';

$color: black;
$color-background: #F5F9FC;

$color-border: #E0E0E0;
$color-focus: #1C202B;
$color-disabled: #bdbdbd;

$color-table: black;
$color-table-background: white;
$color-table-paginator: #747474;
$color-table-border: #E0E0E0;
$color-table-header: #747474;

$color-toolbar: white;
$color-toolbar-border: rgba(0, 0, 0, 0.1);

@import 'styles.scss';
