@import '@angular/material/prebuilt-themes/indigo-pink.css';

$color: #f0f3f7;
$color-background: #1d212b;

$color-border: #434b5b;
$color-focus: white;
$color-disabled: #434b5b;

$color-table: #f0f3f7;
$color-table-header: #cacaca;
$color-table-paginator: #cacaca;
$color-table-background: #2f3848;
$color-table-border: #434b5b;
$color-table-expanded: #1d212b;
$color-table-expanded-border: #16191f;

$color-toolbar: #2f3848;
$color-toolbar-border: #434b5b;

@import 'styles.scss';
