@import '@angular/material/prebuilt-themes/indigo-pink.css';

// $color: #f0f3f7;
// $color-background: #1d212b;
$color: #a4a4a5;
$color-background: #1b1b1d;

$color-border: #333334; //#ffffff1a;
$color-focus: white;
$color-disabled: #434b5b;

$color-table: #f0f3f7;
$color-table-header: #cacaca;
$color-table-paginator: #cacaca;
$color-table-background: #2a2a2e;
$color-table-border: #333334;
$color-table-expanded: #1d212b;
$color-table-expanded-border: #16191f;
$color-table-item-select: #434b5b;
$color-table-item-hover: #323234;

$color-highlight-red: #EB5368;
$color-chrome-red: #eb536880;
$color-content-attention: #204e8a;

$color-toolbar: #1b1b1d;
$color-toolbar-border: #1b1b1d;

$color-json-field: #f0f3f7;

@import 'styles.scss';
