@import '@angular/material/prebuilt-themes/indigo-pink.css';

$color-background: #1d212b;
$color-background-white: white;
$color-black: black;
$color-border: #E0E0E0;
$color-focus: #1C202B;

$color-toolbar: #2f3848;
$color-toolbar-border: #434b5b;

@import 'styles.scss';
