/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0px !important;
}

table {
    width: 100%;
}

.networking {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.networking .networking .mat-h1 {
    font: 300 24px/32px Roboto, "Helvetica Neue", sans-serif;
}


.networking-stats {
    height: 20vw;
}

.networking-stats ngx-charts-line-chart {
    padding: 20px;
}


.settings {
    margin: 25px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings .settings .mat-h1 {
    font: 300 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

.networking-endpoint {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: whitesmoke;
    height: 5vh;
    width: 100%
}

.networking-endpoint-content {
    width: 50vw;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}


.settings-endpoint {
    width: 50vw;
}

.settings-endpoint-content {
    display: flex;
    flex-direction: column;
}

.settings-endpoint-input {
    width: 50vw;
}

.settings-endpoint-button {
    align-self: flex-end;
}

.networking {}

.networking-stats {
    width: 50vw;
}

.networking-stats-chart {
    height: 20vh
}

.networking-peers {
    width: 50vw;
}

.networking-history {
    width: 50vw;
}

@media (max-width: 600px) {
    body {
        margin: 0px !important;
    }

    .networking {
        width: 100vw;
    }

    .networking-endpoint-content {
        width: 100vw;
    }

    .networking-stats {
        width: 100vw;
    }

    .networking-stats-chart {
        height: 15vh
    }

    .networking-endpoint {
        width: 100vw;
    }

    .networking-history {
        width: 90vw;
    }

    .networking-peers {
        width: 100vw;
    }

    .networking-peers th.mat-header-cell.cdk-column-id.mat-column-id {
        width: 45vw;
    }

    .networking-peers .mat-cell.cdk-column-id.mat-column-id.ng-star-inserted {
        display: block;
        width: 45vw;
    }

    .networking-peers th.mat-header-cell.cdk-column-averageTransferSpeed.mat-column-averageTransferSpeed {
        display: none
    }

    .networking-peers .mat-cell.cdk-column-averageTransferSpeed.mat-column-averageTransferSpeed {
        display: none
    }

    .networking-peers .mat-cell.cdk-column-transferredBytes.mat-column-transferredBytes {
        width: 30vw;
    }

    .networking-peers .mat-cell.cdk-column-currentTransferSpeed.mat-column-currentTransferSpeed {
        width: 30vw;
    }


    .settings-endpoint {
        width: 90vw;
    }
    .settings-endpoint-input {
        width: 90vw;
    }

}