/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: grey;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
    margin: 10px;
    width: 70vw;

}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
