@import '@angular/material/prebuilt-themes/indigo-pink.css';

$color-background: #F5F9FC;
$color-background-white: white;
$color-black: black;
$color-border: #E0E0E0;
$color-focus: #1C202B;

$color-toolbar: white;
$color-toolbar-border: rgba(0, 0, 0, 0.1);

@import 'styles.scss';
