
app-tezedge-line-chart {
  color: var(--foreground-6);
  fill: var(--foreground-6);

  .line-highlight linearGradient stop {
    //stop-opacity: 1 !important;
  }
}

.ngx-charts-tooltip-content {
  padding: 0 !important;
  background-color: var(--background-surface) !important;
  color: var(--foreground-6) !important;
  border-radius: 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 999 !important;

  .tooltip-template {
    padding: 5px;
  }

  .tooltip-caret.position-right {
    border-right-color: var(--background-surface) !important;
  }

  .tooltip-caret.position-left {
    border-left-color: var(--background-surface) !important;
  }

  .tooltip-caret.position-top {
    border-top-color: var(--background-surface) !important;
  }

  .tooltip-caret.position-bottom {
    border-bottom-color: var(--background-surface) !important;
  }

  .ngx-series-tooltip {
    .tooltip-title {
      padding: 7px 12px;
      text-align: left;
    }

    .data-wrapper {
      padding: 10px 12px;

      .color-square {
        height: 13px;
        width: 13px;
        border-radius: 1px;
        margin-right: 10px;
      }

      .series-value {
        font-size: 13px;
      }
    }
  }
}

.treemap-viz text {
  text-anchor: start !important;
}

g.label-container {
  transform: translate(10px, 20px);
}

/* DAGRE DIAGRAM */

#d3Diagram {
  text {
    font-weight: 300;
    font-size: 12px;
  }

  tspan {
    fill: #fff;
  }

  .node {
    rect {
      stroke-width: 1.5px;
      fill: var(--foreground-1);
    }

    .label {
      pointer-events: none;
    }

    &.active rect {
      fill: var(--active-surface);
    }
  }

  .edgePath {
    > path {
      stroke-width: 1.5px;
    }

    defs marker path {
      transform: translateX(1px);
    }

    &.connection-prev {
      > path {
        stroke: #326cb7 !important;
        stroke-width: 3px !important;
      }

      defs marker path {
        fill: #326cb7 !important;
      }
    }

    &.connection-next {
      > path {
        stroke: #e5e5e5 !important;
        stroke-width: 3px !important;
      }

      defs marker path {
        fill: #e5e5e5 !important;
      }
    }
  }

  svg.active-block {
    .edgePath:not(.connection-next):not(.connection-prev) {
      opacity: 0.4 !important;
    }
  }
}
