@import 'variables';

ngx-object-diff {

  pre {
    background-color: unset !important;
    border: none !important;
    color: white !important;
    line-height: 1.6 !important;
    padding: 0 !important;

    .diff-level {
      margin-left: 20px !important;
      margin-bottom: 2px;

      &:first-child {
        margin-left: 0 !important;
      }

      .group-del {
        display: inline-block;
      }

      del.diff:not(.diff-key) {
        text-decoration: line-through;
        border-radius: 2px;
        background: $background-surface-fade-2 !important;
        color: $foreground-4 !important;
        padding: 0 3px;
      }
    }

    del {
      display: block;
      background: none !important;
      color: inherit !important;
      margin-top: 2px;
      vertical-align: top;

      .old-value {
        display: inline-block;
        text-decoration: line-through;
        border-radius: 2px;
        background: $background-surface-fade-2 !important;
        color: $foreground-4 !important;
        padding: 0 3px;
      }
    }

    ins {
      left: 25px;
      color: white !important;
      background: #0A84FF !important;
      border-radius: 2px;
      margin-top: 0 !important;
      padding: 0 3px;
      position: relative;
      vertical-align: top;
      margin-bottom: 2px;
      margin-right: 35px;

      &::after {
        background-color: $background-surface;
        position: absolute;
        content: '=>';
        left: -19px;
        top: 0;
      }
    }

    div.diff-level > ins:not(.diff-key)::after,
    div.diff-level + ins::after {
      content: '+';
      left: -13px;
    }

    .group-del + ins::after {
      content: '=>' !important;
      left: -19px !important;
    }

    ins.diff-key,
    del.diff-key {
      border: none !important;

      > * {
        vertical-align: top;
      }
    }

    ins.diff,
    del.diff {
      span {
        color: inherit !important;
      }
    }
  }
}
