$tooltip-background: #2A2A2E;
$white-7: rgba(255, 255, 255, 0.7);
$white-4: rgba(255, 255, 255, 0.4);
$white-1: rgba(255, 255, 255, 0.1);

app-tezedge-line-chart {
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
}

.ngx-charts-tooltip-content {
  padding: 0 !important;
  background-color: $tooltip-background !important;
  color: rgba(255, 255, 255, 0.6) !important;
  border-radius: 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 999 !important;

  .tooltip-template {
    padding: 5px;
  }

  .tooltip-caret.position-right {
    border-right-color: $tooltip-background !important;
  }

  .tooltip-caret.position-left {
    border-left-color: $tooltip-background !important;
  }

  .tooltip-caret.position-top {
    border-top-color: $tooltip-background !important;
  }

  .tooltip-caret.position-bottom {
    border-bottom-color: $tooltip-background !important;
  }

  .ngx-series-tooltip {
    .time {
      padding: 7px 12px;
      text-align: left;
      font-size: 14px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .data-wrapper {
      padding: 10px 12px;

      .color-square {
        height: 13px;
        width: 13px;
        border-radius: 1px;
        margin-right: 10px;
      }

      .series-value {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

.treemap-viz text {
  text-anchor: start !important;
}

g.label-container {
  transform: translate(10px, 20px);
}

#d3Diagram {
  text {
    font-weight: 300;
    font-size: 12px;
  }

  tspan {
    fill: #fff;
  }

  .node {
    rect {
      stroke-width: 1.5px;
    }

    .label {
      pointer-events: none;
    }

    &.active rect {
      fill: rgba(32, 78, 138, 1);
    }

    &.completed rect {
      fill: $white-1;
    }

    &.error {
      transition: opacity 0.2s;

      &.hidden-svg {
        opacity: 0 !important;
      }

      rect {
        stroke: #b14933;
        fill: #5f352d;
      }
    }

    &.pending {
      rect {
        stroke: $white-4;
        stroke-width: 1px;
        stroke-dasharray: 7 10;
        fill: transparent;
      }

      tspan {
        fill: $white-4;
      }
    }
  }

  .edgePath path {
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1.5px;
  }
}
