$white-7: rgba(255, 255, 255, 0.7);

#tezedge-swagger {
  //background-color: #404040;

  .swagger-ui {
    color: $white-7;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    .scheme-container {
      background-color: transparent;
    }

    .info .title,
    .info p,
    .opblock-tag,
    .opblock-description-wrapper p,
    table thead tr td,
    table thead tr th,
    .parameter__name,
    .parameter__type,
    .tab li,
    tr > td {
      color: $white-7;
    }

    h4 {
      font-weight: 400;
    }

    .parameter__name .required {
      font-weight: 300;
    }

    .wrapper:not(.information-container):not(.schemes) {
      padding: 0 10px;
    }

    .opblock-tag-section .opblock-tag {
      transition: none;
      padding: 5px 20px 5px 10px;
      margin-bottom: 0;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      a {
        font-weight: 400;
        font-size: 16px;
      }
    }

    svg.arrow {
      fill: $white-7 !important;
    }

    button:focus {
      outline: none;
    }

    .operation-tag-content {
      .opblock-summary-path {
        color: white;
        font-weight: 300;
      }
    }
  }
}
