.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-nowrap {
  white-space: nowrap;
}

.text-bold {
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-white {
  color: #fff !important;
}

.text-gray {
  color: rgba(255, 255, 255, 0.4) !important;
}

.text-red {
  color: #FF453A !important;
}

.text-white {
  color: white !important;
}

.overflow-hidden {
  overflow: hidden;
}

