.text-capitalize {
  text-transform: capitalize;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer {
  cursor: pointer;
}

.text-gray {
  color: rgba(255, 255, 255, 0.4) !important;
}

.text-red {
  color: #FF453A !important;
}

.text-white {
  color: white !important;
}
