@import '../../../../../assets/styles/utilities/variables';

.primary-button {
  background-color: $foreground-1;
  height: 24px;

  &:hover:not([disabled]) {
    background-color: $foreground-2;
  }

  &[disabled] {
    opacity: 0.5;
  }
}

form {
  height: 24px;
  padding-left: 16px;

  .custom-bottom-form-field {
    margin: 0 4px;
    width: 147px;
    height: 24px;

    .p-absolute {
      right: 6px;
      height: 100%;
    }
  }

  .rectangle-button.inactive {
    background-color: $foreground-1;

    &:hover {
      background-color: $foreground-2;
    }
  }
}

.rounds {
  height: 24px;
  padding-left: 16px;

  .round {
    background-color: $foreground-1;
    color: $foreground-7;
    padding-left: 7px;
    padding-right: 5px;
    height: 24px;

    .round-num {
      padding-right: 12px;
      padding-left: 5px;
      transition: padding-right 0.2s, padding-left 0.2s;
    }

    &.active {
      color: $foreground;
      background: $table-hovered-row-background;

      .round-num {
        padding-right: 5px;
        padding-left: 0;
      }
    }

    &:hover:not(.active) {
      background: $foreground-2;
    }

    mat-icon {
      transition: 0.2s all;
    }
  }
}
