@import 'variables';

.border {
  border: 1px solid $foreground-1 !important;
}

.border-rad-4 {
  border-radius: 4px !important;
}

.border-rad-2 {
  border-radius: 2px !important;
}

.border-top {
  border-top: 1px solid $foreground-1;
}

.border-bottom {
  border-bottom: 1px solid $foreground-1;
}

.border-right {
  border-right: 1px solid $foreground-1;
}

.border-left {
  border-left: 1px solid $foreground-1;
}

.border-remove {
  border: none !important;
}

.background-base {
  background-color: $background-base;
}

.background-surface {
  background-color: $background-surface;
}

.background-surface-fade-1 {
  background-color: $background-surface-fade-1;
}

.background-surface-fade-2 {
  background-color: $background-surface-fade-2;
}

.no-resize {
  resize: none !important;
}

.opacity-0 {
  opacity: 0 !important;
}
