.border {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.border-rad-4 {
  border-radius: 4px !important;
}

.border-rad-2 {
  border-radius: 2px !important;
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.border-remove {
  border: none;
}
