.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow-x: auto;
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-visible {
  overflow: visible;
}

.hidden {
  visibility: hidden !important;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-stretch {
  justify-content: stretch;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

@mixin flexRow() {
  @extend .d-flex;
  @extend .flex-row;
}

@mixin flexRowVertCenter() {
  @extend .d-flex;
  @extend .flex-row;
  @extend .align-center;
}

@mixin flexRowCenter() {
  @extend .d-flex;
  @extend .flex-row;
  @extend .align-center;
  @extend .flex-center;
}

@mixin flexColumn() {
  @extend .d-flex;
  @extend .flex-column;
}

.h-100 {
  height: 100% !important;
}

.h-100vh {
  height: 100vh !important;
}

.w-100 {
  width: 100% !important;
}

.w-100vw {
  width: 100vw !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-8 {
  padding: 8px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-8 {
  padding-left: 8px !important;
}

.padding-right-8 {
  padding-left: 8px !important;
}

.padding-top-8 {
  padding-top: 8px !important;
}

.padding-horizontal-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.padding-vertical-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-horizontal-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-8 {
  padding-bottom: 8px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-remove {
  padding: 0 !important;
}

.padding-top-remove {
  padding-top: 0 !important;
}

.padding-bottom-remove {
  padding-bottom: 0 !important;
}

.padding-right-remove {
  padding-right: 0 !important;
}

.padding-left-remove {
  padding-left: 0 !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-left-8 {
  margin-left: 8px !important;
}

.margin-right-8 {
  margin-right: 8px !important;
}

.margin-top-8 {
  margin-top: 8px !important;
}

.margin-bottom-8 {
  margin-bottom: 8px !important;
}

.margin-remove {
  margin: 0 !important;
}

.margin-left-remove {
  margin-left: 0;
}

.margin-right-remove {
  margin-right: 0;
}

.margin-bottom-remove {
  margin-bottom: 0;
}

.margin-top-remove {
  margin-top: 0;
}
