@import 'variables';

.row {
  height: 36px;
  display: grid;

  &.row-even {
    background-color: $foreground-1;
  }

  &.active {
    background-color: $active-surface;
    color: #fff;

    > span {
      .copy-hash {
        box-shadow: -10px 0px 8px 0px $active-surface;
      }

      &.foreground-7 {
        color: #fff !important;
      }
    }
  }

  &:hover:not(.active):not(.head) {
    background-color: $foreground-2;
  }

  &:hover > span .copy-hash {
    opacity: 1;
  }

  &.head {
    background-color: unset;

    > span {
      @include flexRowVertCenter();

      mat-icon {
        transition: 0.2s ease-in-out;
        transform: rotateX(0) translateY(6px);
        margin-left: 2px;
        opacity: 0;

        &.show {
          opacity: 1;
          transform: rotateX(0) translateY(0);
        }

        &.flip {
          transform: rotateX(180deg) translateY(0);

          &:not(.show) {
            transform: rotateX(180deg) translateY(6px);
          }
        }
      }


      &:hover, &.active {
        color: $foreground;

        mat-icon:not(.show) {
          opacity: 0.5;
          transform: rotateX(0) translateY(0);

          &.flip {
            transform: rotateX(180deg) translateY(0);
          }
        }
      }
    }
  }

  .copy-hash {
    @include flexRowCenter();
    cursor: pointer;
    opacity: 0;
    right: 0;
    background-color: $background-surface;
    height: 26px;
    width: 26px;
    top: 5px;
    box-shadow: -10px 0px 8px 0px $table-hovered-row-background;

    &:hover {
      background-color: $background-surface-fade-2;
    }
  }
}
