$color: #a4a4a5;

$color-disabled: #434b5b;

$color-table: #f0f3f7;
$color-table-header: #cacaca;
$color-table-paginator: #cacaca;
$color-table-expanded: #1d212b;
$color-table-expanded-border: #16191f;
$color-table-item-select: #434b5b;
$color-table-item-hover: #a4a4a540;

$color-highlight-red: #eb5368;
$color-chrome-red: #eb536880;
$color-content-attention: #8c6141;

$foreground: var(--foreground);
$foreground-1: var(--foreground-1);
$foreground-2: var(--foreground-2);
$foreground-4: var(--foreground-4);
$foreground-5: var(--foreground-5);
$foreground-6: var(--foreground-6);
$foreground-7: var(--foreground-7);
$foreground-9: var(--foreground-9);

$background-base: var(--background-base);
$background-surface: var(--background-surface);
$background-surface-fade-1: var(--background-surface-fade-1);
$background-surface-fade-2: var(--background-surface-fade-2);
$background-surface-strong: var(--background-surface-strong);

$active-surface: var(--active-surface);
$table-hovered-row-background: var(--table-hovered-row-background);
