.dashboard {
    margin: 25px;
}


.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dashboard mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard 
.dashboard .mat-h1 {
    font: 300 24px/32px Roboto,"Helvetica Neue",sans-serif;
}
